<!doctype html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Base Layout</title>
	<link rel="icon" href="/images/common/favicon.ico">
	<link rel="shortcut icon" type="image/x-icon" href="/images/common/favicon.ico">
	<link rel="apple-touch-icon-precomposed" href="/images/common/favicon-152.png">

	<link rel="stylesheet" href="/css/font.css">
	<link rel="stylesheet" href="/css/base.css">
	<link rel="stylesheet" href="/css/layout.css">
	<link rel="stylesheet" href="/css/doosan-common.css">

	<script src="/js/library/jquery/jquery.js"></script>
	<script src="/js/library/jquery/jquery.easing.1.3.js"></script>
	<script src="/js/library/jquery/jquery.scrollbar.min.js"></script>

	<script src="/js/language/common-kr.js"></script>
	<script src="/js/common/util.js"></script>
	<script src="/js/common/init.js"></script>

	<script th:inline="javascript">
		var s_account = /*[[${@environment.getProperty('logistics.analytics.s-code.account')}]]*/ null;
	</script>
	<script src="/js/library/analytics/adobe/s_code.js"></script>
</head>

<body>

<!--search_rm-->
<div id="media-480"></div>
<div id="media-768"></div>
<div id="media-1080"></div>
<div id="media-1081"></div>

<div id="skipNavigation">
	<ul>
		<li>
			<a href="#contentsWrap">본문 바로가기</a>
		</li>
		<li>
			<a href="#Gnb">주 메뉴 바로가기</a>
		</li>
	</ul>
</div>
<!--//search_rm-->

<div id="wrap" class="mainWrap">
	<!--search_rm-->
	<th:block th:replace="page-layout/kr/part/header :: header"></th:block>
	<!--//search_rm-->

	<div id="contentsWrap">
		<th:block layout:fragment="content"></th:block>
	</div>

	<!--search_rm-->
	<th:block th:replace="page-layout/kr/part/footer :: footer"></th:block>

	<th:block layout:fragment="cookie-notice"></th:block>

	<th:block layout:fragment="page-last-script"></th:block>
	<!--//search_rm-->
</div>

</body>

</html>
