<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{mail-layout/kr/basic}">

<head>
	<title>두산로지스틱스 Contact Us에 문의가 등록되었습니다.</title>
</head>

<body>

<th:block layout:fragment="head-message">
	두산로지스틱스 Contact Us에 문의가 등록되었습니다.
	<p style="font-size:12px; color:#666; margin-top:17px; font-weight:400;">
		다음과 같이 고객 문의가 접수되었습니다.<br>
		빠른 시일 내에 답변을 부탁 드립니다.<br>
		감사합니다.
	</p>
</th:block>

<th:block layout:fragment="footer-message">
	<th:block th:replace="mail-layout/kr/part/footer :: footer-for-manager"></th:block>
</th:block>

<th:block layout:fragment="button-area">
	<th:block th:replace="mail-layout/kr/part/content :: info-button-content-base(
		linkText='답변 등록',
		linkAddress='https://v3-obc.doosan.com/doosan-heritage/contact/received/' + ${inquiryId}
	)"></th:block>
</th:block>

<th:block layout:fragment="content">

	<!--/* Customer information */-->
	<th:block th:replace="mail-layout/kr/part/content :: customer-info-heading"></th:block>

	<th:block th:replace="mail-layout/kr/part/content :: customer-name"></th:block>
	<th:block th:replace="mail-layout/kr/part/content :: customer-country"></th:block>
	<th:block th:replace="mail-layout/kr/part/content :: customer-company"></th:block>
	<th:block th:replace="mail-layout/kr/part/content :: customer-mail"></th:block>

	<!--/* Padding between information */-->
	<th:block th:replace="mail-layout/kr/part/content :: info-bottom-padding"></th:block>

	<!--/* Inquiry information */-->
	<th:block th:replace="mail-layout/kr/part/content :: inquiry-info-heading"></th:block>

	<th:block th:replace="mail-layout/kr/part/content :: inquiry-type"></th:block>
	<th:block th:replace="mail-layout/kr/part/content :: inquiry-title"></th:block>
	<th:block th:replace="mail-layout/kr/part/content :: inquiry-content"></th:block>
	<th:block th:replace="mail-layout/kr/part/content :: inquiry-attachment"></th:block>
	<th:block th:replace="mail-layout/kr/part/content :: inquiry-datetime"></th:block>

	<!--/* Padding between information */-->
	<th:block th:replace="mail-layout/kr/part/content :: info-bottom-padding"></th:block>

</th:block>

</body>

</html>
