<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{page-layout/kr/basic}">

<!--/* Set enUrl='' if no alternative English page */-->
<head th:with="
	title='Contact us',
	url='/kr/contact-us',
	enUrl='/en/contact-us',
	description='두산로지스틱스솔루션에 대한 관심에 감사드립니다. 궁금하신 사항을 아래 양식에 맞게 작성하여 접수해 주시면 빠른 시간 내에 답변 드리겠습니다.',
	keyword='두산로지스틱스솔루션 문의, 두산로지스틱스솔루션 Contact Us, Doosan logistics solutions inquiry, doosan logistics solutions contact us'
">
	<title th:text="${title} + ' : ' + #{common.company-name}"></title>

	<th:block
			th:replace="page-layout/kr/part/head :: common-meta(url=${url}, title=${title}, description=${description}, keyword=${keyword})"></th:block>
	<th:block th:replace="page-layout/kr/part/head :: alternative-url(url=${url}, enUrl=${enUrl})"></th:block>

	<link rel="stylesheet" href="/css/sub_style.css">
</head>
<body>

<th:block layout:fragment="breadcrumb">
	<!--/* Display breadcrumb, choose from depth1 to depth3. Delete whole block if not needed */-->
	<th:block th:replace="page-layout/kr/part/visual :: depth1Breadcrumb(
		depth1name='Contact us',
		depth1url='/kr/contact-us'
	)"></th:block>
</th:block>

<th:block layout:fragment="content">

	<th:block th:replace="page-layout/kr/part/visual :: visual('Contact us', 'sub-contact-us')"></th:block>

	<div class="sub-contents">
		<div class="sub-contents-inner">
			<div class="contents-block ac">
				<div class="contact-result-area">
					<h4 class="page-slogan-tit">문의하신 내용이 접수되었습니다.</h4>
					<div class="page-slogan-text">
						<p>
							<span>빠른 시간 내에</span>
							<a href="#" th:text="${contactMail}" class="fPointC01"></a>
							<span>
								으로<br class="m-only">
								답변드리겠습니다.<br class="w-only">
								감사합니다.
							</span>
						</p>
					</div>
				</div>
			</div>
			<div class="btn-box">
				<a href="/kr" class="btn btnL btn-black-r over">
					<span>메인으로 이동</span>
				</a>
			</div>
		</div>
	</div>

</th:block>

</body>
</html>
