<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{page-layout/kr/basic}">

<!--/* Set enUrl='' if no alternative English page */-->
<head th:with="
	title='Contact us',
	url='/kr/contact-us',
	enUrl='/en/contact-us',
	description='두산로지스틱스솔루션에 대한 관심에 감사드립니다. 궁금하신 사항을 아래 양식에 맞게 작성하여 접수해 주시면 빠른 시간 내에 답변 드리겠습니다.',
	keyword='두산로지스틱스솔루션 문의, 두산로지스틱스솔루션 Contact Us, Doosan logistics solutions inquiry, doosan logistics solutions contact us'
">
	<title th:text="${title} + ' : ' + #{common.company-name}"></title>

	<th:block
			th:replace="page-layout/kr/part/head :: common-meta(url=${url}, title=${title}, description=${description}, keyword=${keyword})"></th:block>
	<th:block th:replace="page-layout/kr/part/head :: alternative-url(url=${url}, enUrl=${enUrl})"></th:block>

	<link rel="stylesheet" href="/css/sub_style.css">
	<link rel="stylesheet" href="/css/selectric.css">

	<script src="/js/library/jquery/jquery.selectric.js"></script>
</head>
<body>

<th:block layout:fragment="breadcrumb">
	<!--/* Display breadcrumb, choose from depth1 to depth3. Delete whole block if not needed */-->
	<th:block th:replace="page-layout/kr/part/visual :: depth1Breadcrumb(
		depth1name='Contact us',
		depth1url='/kr/contact-us'
	)"></th:block>
</th:block>

<th:block layout:fragment="content">

	<th:block th:replace="page-layout/kr/part/visual :: visual('Contact us', 'sub-contact-us')"></th:block>

	<div class="sub-contents">
		<div class="sub-contents-inner">

			<form id="contactUsForm" name="contactUsForm" method="post" enctype="multipart/form-data">
				<input type="hidden" id="category" name="category">

				<div class="contents-block">
					<p class="tbl-top-txt tbl-right essential">* 필수 입력값입니다.</p>
					<div class="table-wrap scrolled">
						<div class="frm-box">
							<dl class="frm-block">
								<dt>
									<label for="lb-category" class="essential">문의 항목</label>
								</dt>
								<dd>
									<div class="select-box w1">
										<select id="lb-category" name="questionType" title="Type" class="selectbox">
											<option th:each="contactCategory: ${contactCategoryList}"
													th:value="${contactCategory.contactCategoryId}"
													th:utext="${contactCategory.contactCategoryName}"></option>
										</select>
									</div>
								</dd>
							</dl>
						</div>
						<div class="division half nomargin mob-full">
							<div class="frm-box">
								<dl class="frm-block">
									<dt>
										<label for="lb-name" class="essential">이름</label>
									</dt>
									<dd>
										<input type="text" placeholder="한글, 실명 입력" class="input_name" id="lb-name"
											   name="userName">
									</dd>
								</dl>
							</div>
							<div class="frm-box">
								<dl class="frm-block">
									<dt>
										<label for="lb-nation">지역 / 국가</label>
									</dt>
									<dd>
										<div class="select-box">
											<select id="lb-nation" name="userCountryValue" title="지역 / 국가"
													class="selectbox">
												<option>국가 선택</option>
												<option th:each="country: ${countryList}"
														th:value="${country.countryId}"
														th:text="${country.countryDisplayName}"></option>
											</select>
										</div>
									</dd>
								</dl>
							</div>
						</div>
						<div class="division half nomargin mob-full">
							<div class="frm-box">
								<dl class="frm-block">
									<dt>
										<label for="lb-email" class="essential">이메일</label>
									</dt>
									<dd>
										<input type="text" class="input_mail_id" placeholder="이메일 ex)xxx@xxxx.com"
											   id="lb-email" name="userEmail"
											   onkeyup="ContactUsForm.checkLength(this,100);ContactUsForm.emailSmall(this);">
									</dd>
								</dl>
							</div>
							<div class="frm-box">
								<dl class="frm-block">
									<dt>
										<label for="lb-company">소속회사</label>
									</dt>
									<dd>
										<input type="text" placeholder="회사명" id="lb-company" name="userCompany">
									</dd>
								</dl>
							</div>
						</div>
						<div class="frm-box">
							<dl class="frm-block">
								<dt><label for="lb-title" class="essential">제목</label></dt>
								<dd>
									<input type="text" class="input_title" placeholder="제목 입력" id="lb-title"
										   name="title">
								</dd>
							</dl>
						</div>
						<div class="frm-box">
							<dl class="frm-block">
								<dt>
									<label for="lb-content" class="essential">문의 내용</label>
								</dt>
								<dd>
									<textarea class="input_content" placeholder="내용 입력" id="lb-content"
											  name="content"></textarea>
								</dd>
							</dl>
						</div>
						<div class="frm-box">
							<dl class="frm-block">
								<dt>
									<span>첨부파일</span>
								</dt>
								<dd>
									<div class="division half mob-full">
										<div>
											<div class="filebox">
												<label for="file">파일 선택</label>
												<div class="upload-namebox">
													<input type="text" class="upload-name" title="file name"
														   disabled="disabled">
												</div>
												<input type="file" id="file" class="upload-hidden" name="contactUsFile">
											</div>
										</div>
										<div>
											<p class="comment">* 첨부 가능한 파일의 최대 용량은 9MB입니다.</p>
										</div>
									</div>
								</dd>
							</dl>
						</div>
					</div>
				</div>
				<div class="contents-block">
					<h4>개인정보 수집 및 이용동의</h4>
					<div class="rule-scroll-box">
						<div class="scrollbar-inner">
							<div class="rule-inner-box">
								<div class="contents-block-in">
									(주)두산로지스틱스솔루션은 (이하 '회사'는)은 이용자의 개인정보를 매우 소중하게 생각하고 있으며,
									‘개인정보보호법’, ‘정보통신망 이용촉진 및 정보보호에 관한 법률’ 등 관련 법령을 준수하고 있습니다.
									회사가 이용자의 개인정보를 수집∙이용하고자 하는 경우에는 위 법령에 따라 이용자의 동의를 얻어야 하는바,
									귀하께서는 아래의 사항을 자세히 읽어보시고 모든 내용을 이해하신 후에
									개인정보의 수집 및 이용에 대한 동의 여부를 선택해 주시기 바랍니다.
								</div>
								<div class="contents-block-in">
									<h5 class="basic-type full">수집하는 개인정보 항목</h5>
									<ul class="dot-list nomargin">
										<li>필수: 이름, 이메일 주소, 자동수집 정보(서비스 이용기록, 접속 로그, 쿠키, 접속 IP 정보)</li>
										<li>선택: 국가, 소속회사</li>
										<li>개인정보 수집방법: 홈페이지(Contact Us)</li>
									</ul>
								</div>
								<div class="contents-block-in">
									<h5 class="basic-type full">수집 목적</h5>
									<ul class="dot-list nomargin">
										<li>이용자의 서비스 문의 또는 요청에 응하거나, 이용자에게 유익한 정보를 제공하기 위하여</li>
										<li>각종 민원처리를 위하여</li>
										<li>서비스 이용분석을 통해 이용자에게 더 나은 서비스를 제공하고 본 사이트의 수준을 향상시키기 위하여</li>
									</ul>
								</div>
								<div class="contents-block-in">
									<h5 class="basic-type full">보유 및 이용기간</h5>
									<p class="txt-normal">
										원칙적으로, 개인정보의 수집 및 이용 목적이 달성된 후에는 해당 정보를 지체없이 파기합니다.
										다만, 다음의 정보에 대해서는 아래의 이유로 명시한 기간 동안 보유합니다.
									</p>
									<ul class="dot-list nomargin">
										<li>보유항목: 이름, 이메일 주소, 국가, 소속회사</li>
										<li>보유기간: 1년</li>
										<li>보유이유: 관련 서비스 운영</li>
									</ul>
									<ul class="dot-list nomargin">
										<li>보유항목: 서비스 이용기록, 접속로그, 쿠키, 접속 IP정보</li>
										<li>보유기간: 3년</li>
										<li>보유이유: 사용자의 서비스 이용 분석을 통한 서비스의 질 향상</li>
									</ul>
								</div>
								<div class="contents-block-in">
									<h5 class="basic-type full">동의 거부 안내</h5>
									<p class="txt-normal">
										귀하는 위와 같은 개인정보 수집∙이용에 동의하지 않으실 수 있습니다.
										동의 거부 시에는 Contact us 서비스의 이용이 제한될 수 있습니다.
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="agree-checkbox">
						<input type="checkbox" id="check-1" class="check">
						<label for="check-1">
							<span></span>
							<em>위 내용에 동의합니다.</em>
						</label>
					</div>
				</div>

				<div class="btn-box">
					<a href="#" class="btn btnL btn-black-r over" id="btn_apply">
						<span>접수하기</span>
					</a>
				</div>
			</form>
		</div>
	</div>

	<script src="/js/old/common.js"></script>
	<script src="/js/page/contact-us.js"></script>

</th:block>

</body>
</html>
