<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{page-layout/kr/basic}">

<!--/* Set enUrl='' if no alternative English page */-->
<head th:with="
	title='EHS 경영방침',
	url='/kr/ehs',
	enUrl='/en/ehs',
	description='두산로지스틱스 EHS 경영방침입니다.',
	keyword='EHS'
">
	<title th:text="${title} + ' : ' + #{common.company-name}"></title>

	<th:block
			th:replace="page-layout/kr/part/head :: common-meta(url=${url}, title=${title}, description=${description}, keyword=${keyword})"></th:block>
	<th:block th:replace="page-layout/kr/part/head :: alternative-url(url=${url}, enUrl=${enUrl})"></th:block>

	<link rel="stylesheet" href="/css/sub_style.css">
</head>
<body>

<th:block layout:fragment="breadcrumb">
	<!--/* Display breadcrumb, choose from depth1 to depth3. Delete whole block if not needed */-->
	<th:block th:replace="page-layout/kr/part/visual :: depth1Breadcrumb(
		depth1name='EHS 경영방침',
		depth1url='/kr/ehs'
	)"></th:block>
</th:block>

<!--/* Display sub GNB used on mobile view. Change the sub GNB type or delete whole block if not needed */-->
<th:block layout:fragment="sub-gnb-list">
	<th:block th:replace="page-layout/kr/part/sub-gnb :: intro"></th:block>
</th:block>

<th:block layout:fragment="content">

	<th:block th:replace="page-layout/kr/part/visual :: visual('EHS 경영방침', 'sub-bg-none')"></th:block>

	<div class="sub-contents border-has">
		<div class="sub-contents-inner">
			<div class="summary-area">
				<div class="summary-tit">
					<strong class="bar-type">
						구성원이 안전하게 일할 수 있는 근무환경을 조성하고 안전보건경영 시스템의 안정화를 통해
						사고예방에 바탕이 되는 안전문화를 구축하는데 최선을 다한다.
					</strong>
				</div>
			</div>
			<div class="sequential column-align-wrap">
				<div class="sub-contents-inner cb end">
					<div class="tit-area">
						<h3 class="tit">
							DLS EHS 경영방침
						</h3>
					</div>
					<div class="cnt-area">
						<ol class="list-bg-grey">
							<li>
								<span class="number-title">01</span>
								<p class="number-contents">두산 및 협력사 임직원들은 EHS 관련 법규와 제 규정을 준수하고 EHS 경영규정과 지침을 반드시 실천한다.</p>
							</li>
							<li>
								<span class="number-title">02</span>
								<p class="number-contents">EHS의 모든 활동에 자발적으로 참여하는 안전문화를 구축한다.</p>
							</li>
							<li>
								<span class="number-title">03</span>
								<p class="number-contents">사전 EHS 관리를 통해 안전하고 쾌적한 근무환경을 제공한다.</p>
							</li>
							<li>
								<span class="number-title">04</span>
								<p class="number-contents">지속적인 EHS 교육&middot;훈련을 통해 안전의식을 제고한다.</p>
							</li>
							<li>
								<span class="number-title">05</span>
								<p class="number-contents">EHS 비상시 대응체계를 마련하여 무재해&middot;무사고를 달성한다.</p>
							</li>
							<li>
								<span class="number-title">06</span>
								<p class="number-contents">EHS 경영방침의 이행상태를 주기적으로 검토, 확인하여 강화한다.</p>
							</li>
							<li>
								<span class="number-title">07</span>
								<p class="number-contents">EHS 경영활동은 이해관계자들과의 의사소통을 통해 지속적으로 개선하고 투명하게 공개한다.</p>
							</li>
						</ol>
						<div class="sign-area">
							<p>
								두산로지스틱스솔루션 대표이사
								<strong>김환성</strong>
							</p>
							<img src="/images/intro/img-ceo-sign.jpg" alt="sign">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</th:block>

</body>
</html>
