<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{page-layout/kr/basic}">

<!--/* Set enUrl='' if no alternative English page */-->
<head th:with="
	title='언어 미제공',
	url='',
	enUrl='',
	description='언어 미제공',
	keyword='언어 미제공'
">
	<title th:text="${title} + ' : ' + #{common.company-name}"></title>

	<th:block
			th:replace="page-layout/kr/part/head :: common-meta(url=${url}, title=${title}, description=${description}, keyword=${keyword})"></th:block>
	<th:block th:replace="page-layout/kr/part/head :: alternative-url(url=${url}, enUrl=${enUrl})"></th:block>

	<link rel="stylesheet" href="/css/sub_style.css">
	<link rel="stylesheet" href="/css/error/error.css">
</head>
<body>

<th:block layout:fragment="content">

	<div class="sub-contents error-contents">
		<div class="sub-contents-inner">
			<div class="contents-block">
				<div class="error_lang_wrap">
					<div class="error_lang_inner">
						<div class="top">
							<div class="img">
								<img src="/images/error/logo-error-w.png" class="desktop" alt="두산 로고 이미지">
								<img src="/images/error/logo-error-m.png" class="mobile" alt="두산 로고 이미지">
							</div>
							<p class="kr_sd_700 title">요청하신 페이지는 해당 언어로 제공되지 않고 있습니다.</p>
							<p class="kr_sd_400 desc">
								아래 링크를 통해 첫 페이지로 돌아가거나 이전 페이지로 돌아갈 수 있습니다.<br>
								고객 여러분께 최고의 서비스를 제공하기 위해 최선의 노력을 기울이고 있습니다.<br>
								<span>양해해 주셔서 감사합니다.</span>
							</p>
						</div>
						<div class="bottom">
							<div class="bottom_inner">
								<div class="gu_btn_sm_box main">
									<a href="/kr" class="btn btnL btn-black">
										<span>메인화면</span>
									</a>
								</div>
								<div class="gu_btn_sm_box prev">
									<a href="javascript:history.back(-2);" class="btn btnL btn-black-r">
										<span>이전화면</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</th:block>

</body>
</html>
