<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{page-layout/kr/basic}">

<!--/* Set enUrl='' if no alternative English page */-->
<head th:with="
	title='검색',
	url='/kr/search',
	enUrl='/en/search',
	description='The Number 1 Logistics Innovation Partner. 두산로지스틱스솔루션은 물류센터 설계 및 컨설팅에서부터 입고, 재고관리, 출고에 이르는 물류센터 전 과정을 제어하고 관리하는 물류IT와 자동화설비를 공급하는 물류 자동화 System Integrator입니다.',
	keyword='두산로지스틱스솔루션, 두산, 물류 자동화, 물류 솔루션, 물류 자동화 시스템, 물류 자동화 컨설팅, 물류 IT, 물류 SW, Doosan Logistics Solutions, DLS, Doosan, Warehouse automation, Logistics automation, Material Handling Equipment, Material Handling System, WMS, WCS, SMS, Warehouse Consulting, Warehouse engineering, Logistics IT'
">
	<title th:text="${title} + ' : ' + #{common.company-name}"></title>

	<th:block
			th:replace="page-layout/kr/part/head :: common-meta(url=${url}, title=${title}, description=${description}, keyword=${keyword})"></th:block>
	<th:block th:replace="page-layout/kr/part/head :: alternative-url(url=${url}, enUrl=${enUrl})"></th:block>

	<link rel="stylesheet" href="/css/sub_style.css">

	<script src="/js/library/async/async.min.js"></script>
	<script src="/js/library/swiper/swiper.min.js"></script>
	<script src="/js/page/search.js"></script>
</head>
<body>

<th:block layout:fragment="content">

	<div class="sub-contents">
		<div id="SEARCH_CONTAIN">
			<div class="sub-contents-inner search_inner">
				<div class="input_area">
					<input type="text" id="searchQuery" class="search_input searchQuery"
						   placeholder="검색어를 입력해주세요." title="검색어를 입력해주세요."
						   maxlength="40">
					<span alt="Search"></span>
				</div>
				<div class="search_chain">
					<span class="chain_title kr_sd_700">
						연관검색어
					</span>
					<div class="chain"></div>
				</div>
			</div>
		</div>
		<div id="RESULT_CONTAIN" class="section">
			<div id="no_all_result" class="no_result">
				<div class="title">
					<span class="name searchQuery"></span>
					<span>에 대한 검색결과가 없습니다.</span>
				</div>
			</div>
			<div id="result_div" class="result_inner off">
				<div class="result_copy kr_sd_500">
					<span class="name searchQuery"></span>
					<span>에 대한</span>
					<span class="count allResultCount"></span>
					<span>건의 검색결과가 있습니다.</span>
				</div>
				<div class="tab-area tab-type02">
					<div class="tab-inner-wrap cb">
						<a href="#allListDiv" id="showAllButton" class="on">
							<span class="text">전체</span>
							<span class="count allResultCount"></span>
						</a>
						<a href="#newsOnlyListDiv" id="showNewsButton">
							<span class="text">관련기사</span>
							<span class="count newsResultCount"></span>
						</a>
						<a href="#webOnlyListDiv" id="showWebButton">
							<span class="text">웹페이지</span>
							<span class="count webResultCount"></span>
						</a>
					</div>
				</div>
				<div id="allListDiv" class="list">
					<div id="result_news" class="result_news off">
						<div class="title kr_sd_500">관련기사</div>
						<ul id="allNewsList"></ul>
						<div class="btn_loadMore btn_loadMore_news">
							<a href="javascript:;">기사 전체보기</a>
						</div>
					</div>
					<div id="result_web" class="result_web off">
						<div class="title kr_sd_500">웹페이지</div>
						<ul id="allWebList"></ul>
						<div class="btn_loadMore btn_loadMore_web">
							<a href="javascript:;">웹페이지 전체보기</a>
						</div>
					</div>
				</div>
				<div id="newsOnlyListDiv" class="detail_list">
					<div class="title kr_sd_500"></div>
					<ul id="newsOnlyList" class="detail_list_inner"></ul>
				</div>
				<div id="webOnlyListDiv" class="detail_list">
					<div class="title kr_sd_500"></div>
					<ul id="webOnlyList" class="detail_list_inner"></ul>
				</div>
				<div class="gu_table">
					<div class="gu_paging" id="pagination">
					</div>
				</div>
			</div>
		</div>
	</div>

</th:block>

</body>
</html>
