<!DOCTYPE html>
<html lang="en"
	  xmlns:th="https://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{page-layout/en/basic}">

<!--/* Set krUrl='' if no alternative Korean page */-->
<head th:with="
	title='DLS Guidelines on EHS Management',
	url='/en/ehs',
	krUrl='/kr/ehs',
	description='',
	keyword=''
">
	<title th:text="${title} + ' : ' + #{common.company-name}"></title>

	<th:block
			th:replace="page-layout/en/part/head :: common-meta(url=${url}, title=${title}, description=${description}, keyword=${keyword})" />
	<th:block th:replace="page-layout/en/part/head :: alternative-url(url=${url}, krUrl=${krUrl})" />

	<link rel="stylesheet" href="/css/sub_style.css">
</head>
<body>

<th:block layout:fragment="breadcrumb">
	<!--/* Display breadcrumb, choose from depth1 to depth3. Delete whole block if not needed */-->
	<th:block th:replace="page-layout/en/part/visual :: depth1Breadcrumb(
		depth1name='DLS Guidelines on EHS Management',
		depth1url='/en/ehs'
	)" />
</th:block>

<!--/* Display sub GNB used on mobile view. Change the sub GNB type or delete whole block if not needed */-->
<th:block layout:fragment="sub-gnb-list">
	<th:block th:replace="page-layout/en/part/sub-gnb :: intro" />
</th:block>

<th:block layout:fragment="content">

	<th:block th:replace="page-layout/en/part/visual :: visual('DLS Guidelines on EHS Management', 'sub-bg-none')" />

	<div class="sub-contents">
		<div class="sub-contents-inner">
			<div class="summary-area">
				<div class="summary-tit">
					<strong class="bar-type">
						We offer a safe environment to our employees and do our best to ensure a safe culture
						across the work environment through the stabilization of the safety and health management system.
					</strong>
				</div>
			</div>
			<div class="sequential column-align-wrap">
				<div class="sub-contents-inner cb end">
					<div class="tit-area">
						<h3 class="tit">
							DLS Guidelines on EHS Management
						</h3>
					</div>
					<div class="cnt-area">
						<ol class="list-bg-grey">
							<li>
								<span class="number-title">01</span>
								<p class="number-contents">
									All employees in Doosan and partner companies must comply with EHS laws and regulations and related principals.
									They must put EHS management guidelines and instructions into action.
								</p>
							</li>
							<li>
								<span class="number-title">02</span>
								<p class="number-contents">
									We build a safety culture that employees voluntarily participate in all EHS activities.
								</p>
							</li>
							<li>
								<span class="number-title">03</span>
								<p class="number-contents">
									We provide a safe and clean work environment with proactive EHS management.
								</p>
							</li>
							<li>
								<span class="number-title">04</span>
								<p class="number-contents">
									We raise safety awareness through continued EHS learning and training.
								</p>
							</li>
							<li>
								<span class="number-title">05</span>
								<p class="number-contents">
									We set up an EHS emergency response system to ensure zero accidents and zero disasters.
								</p>
							</li>
							<li>
								<span class="number-title">06</span>
								<p class="number-contents">
									We check, review, and promote implementations of EHS guidelines regularly.
								</p>
							</li>
							<li>
								<span class="number-title">07</span>
								<p class="number-contents">
									We advance EHS management activities through communication with stakeholders and transparency disclose them.
								</p>
							</li>
						</ol>
						<div class="sign-area">
							<p>
								<strong>KIM Hwan-sung, CEO,</strong>
								Doosan Logistics Solutions
							</p>
							<img src="/images/intro/img-ceo-sign.jpg" alt="sign">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</th:block>

</body>
</html>
