<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{page-layout/en/basic}">

<!--/* Set krUrl='' if no alternative Korean page */-->
<head th:with="
	title='Search',
	url='/en/search',
	krUrl='/kr/search',
	description='Doosan Logistics Solutions is a system integrator that provides turnkey solutions by combining warehouse design and consulting, warehouse process control software, and material handling systems.',
	keyword='Doosan Logistics Solutions, DLS, Doosan, Warehouse automation, Logistics automation, Material Handling Equipment, Material Handling System, WMS, WCS, SMS, Warehouse consulting, Warehouse engineering, Logistics IT'
">
	<title th:text="${title} + ' : ' + #{common.company-name}"></title>

	<th:block
			th:replace="page-layout/en/part/head :: common-meta(url=${url}, title=${title}, description=${description}, keyword=${keyword})"></th:block>
	<th:block th:replace="page-layout/en/part/head :: alternative-url(url=${url}, krUrl=${krUrl})"></th:block>

	<link rel="stylesheet" href="/css/sub_style.css">

	<script src="/js/library/async/async.min.js"></script>
	<script src="/js/library/swiper/swiper.min.js"></script>
	<script src="/js/page/search.js"></script>
</head>
<body>

<th:block layout:fragment="content">

	<div class="sub-contents">
		<div id="SEARCH_CONTAIN">
			<div class="sub-contents-inner search_inner">
				<div class="input_area">
					<input type="text" id="searchQuery" class="search_input searchQuery"
						   placeholder="Please enter the keyword." title="Please enter the keyword."
						   maxlength="40">
					<span alt="Search"></span>
				</div>
				<div class="search_chain">
					<span class="chain_title kr_sd_700">
						Related<br>
						keyword
					</span>
					<div class="chain"></div>
				</div>
			</div>
		</div>
		<div id="RESULT_CONTAIN" class="section">
			<div id="no_all_result" class="no_result">
				<div class="title">
					<span>There are 0 results for</span>
					<span class="name searchQuery"></span>
				</div>
			</div>
			<div id="result_div" class="result_inner off">
				<div class="result_copy kr_sd_500">
					<span>There are</span>
					<span class="count allResultCount"></span>
					<span>results for</span>
					<span class="name searchQuery"></span>
				</div>
				<div class="tab-area tab-type02">
					<div class="tab-inner-wrap cb">
						<a href="#allListDiv" id="showAllButton" class="on">
							<span class="text">All</span>
							<span class="count allResultCount"></span>
						</a>
						<a href="#newsOnlyListDiv" id="showNewsButton">
							<span class="text">Press Releases</span>
							<span class="count newsResultCount"></span>
						</a>
						<a href="#webOnlyListDiv" id="showWebButton">
							<span class="text">Web Pages</span>
							<span class="count webResultCount"></span>
						</a>
					</div>
				</div>
				<div id="allListDiv" class="list">
					<div id="result_news" class="result_news off">
						<div class="title kr_sd_500">Press Releases</div>
						<ul id="allNewsList"></ul>
						<div class="btn_loadMore btn_loadMore_news">
							<a href="javascript:;">Show all results in this category</a>
						</div>
					</div>
					<div id="result_web" class="result_web off">
						<div class="title kr_sd_500">Web Pages</div>
						<ul id="allWebList"></ul>
						<div class="btn_loadMore btn_loadMore_web">
							<a href="javascript:;">Show all results in this category</a>
						</div>
					</div>
				</div>
				<div id="newsOnlyListDiv" class="detail_list">
					<div class="title kr_sd_500"></div>
					<ul id="newsOnlyList" class="detail_list_inner"></ul>
				</div>
				<div id="webOnlyListDiv" class="detail_list">
					<div class="title kr_sd_500"></div>
					<ul id="webOnlyList" class="detail_list_inner"></ul>
				</div>
				<div class="gu_table">
					<div class="gu_paging" id="pagination">
					</div>
				</div>
			</div>
		</div>
	</div>

</th:block>

</body>
</html>
