<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{page-layout/en/basic}">

<!--/* Set krUrl='' if no alternative Korean page */-->
<head th:with="
	title='Terms of Use',
	url='/en/terms',
	krUrl='/kr/terms',
	description='Please read these terms of use (the “Terms”) before using this website (www.doosanlogistics.com, the “Website”). This Website is provided by the Doosan Logistics Solutions, which may be only be used for informational purposes.',
	keyword='두산로지스틱스솔루션 웹사이트 이용약관, Doosan logistics solutions terms'
">
	<title th:text="${title} + ' : ' + #{common.company-name}"></title>

	<th:block
			th:replace="page-layout/en/part/head :: common-meta(url=${url}, title=${title}, description=${description}, keyword=${keyword})"></th:block>
	<th:block th:replace="page-layout/en/part/head :: alternative-url(url=${url}, krUrl=${krUrl})"></th:block>

	<link rel="stylesheet" href="/css/sub_style.css">
</head>
<body>

<th:block layout:fragment="breadcrumb">
	<!--/* Display breadcrumb, choose from depth1 to depth3. Delete whole block if not needed */-->
	<th:block th:replace="page-layout/en/part/visual :: depth1Breadcrumb(
		depth1name='Terms of Use',
		depth1url='/en/terms'
	)"></th:block>
</th:block>

<th:block layout:fragment="content">

	<th:block th:replace="page-layout/en/part/visual :: visual('Terms of Use', 'sub-bg-none')"></th:block>

	<div class="sub-contents border-has">
		<div class="sub-contents-inner">
			<div class="contents-block">
				<div>
					<p class="txt-normal">
						Be sure to read the terms of use (these terms) before using this website
						(http://www.doosanlogistics.com/, hereinafter referred to as ‘This Website’). This website is
						provided by Doosan Logistics Solutions Co.,Ltd. and used for the purpose of information
						provision only
					</p>
				</div>
			</div>
			<div class="contents-block">
				<h4 class="tit">Limitation of Use</h4>
				<div>
					<p class="txt-normal">
						Doosan Logistics Solutions Co.,Ltd. gives users non-exclusive, non-transferable, limited rights
						to enable them to access and use the text, photograph, sound, file, link, and source code posted
						on this website (‘Materials’). You may view and download the materials for private and
						non-commercial purposes only; the rights to the materials or its copies are not transferred to
						you.
					</p>
					<p class="txt-normal">You should :</p>
					<ol class="txt-normal number-list">
						<li>
							Maintain the copyright and other proprietary right notices contained in the materials in all
							copies of the downloaded materials;
						</li>
						<li>
							Refrain from modifying, reproducing, publicly publishing, executing, or publishing the
							materials regardless of method or using the materials for any other public or commercial
							purposes, and;
						</li>
						<li>
							Refrain from transferring the materials to a third party unless you agree that the third
							party assumes responsibilities arising from these terms and conditions and the terms of this
							website.
						</li>
					</ol>
					<p class="txt-normal">
						You should agree to comply with all additional terms and conditions to be updated and posted on
						this website in the future. The copyrights to this website and all the materials posted here are
						protected by the copyright laws of each country and international conventions, and you should
						agree to prevent the illegal copying of the materials. If you fail to comply with the terms of
						use and conditions of this website, all rights given to you will be automatically terminated
						without notice, and you should immediately destroy the copies of all the materials you have
						downloaded for retention or management. Doosan Logistics Solutions Co.,Ltd. does not grant any
						express or implied rights to the patent, trademark, copyright, or business information, except
						the right explicitly given to you according to these terms and conditions.
					</p>
				</div>
			</div>
			<div class="contents-block">
				<h4 class="tit">Link to External Website</h4>
				<div>
					<p class="txt-normal">
						Doosan Logistics Solutions Co.,Ltd. may provide links to other websites on this website, and you
						will stop using this website if you use the linked website. Doosan Logistics Solutions Co.,Ltd.
						neither guarantees the reliability of the websites linked to this website nor assumes
						responsibility for the contents of the linked websites or the use of those websites.
					</p>
				</div>
			</div>
			<div class="contents-block">
				<h4 class="tit">External Link to This Website</h4>
				<div>
					<p class="txt-normal">
						External links to this website should be preapproved in writing by Doosan Logistics Solutions
						Co.,Ltd. Note, however, that written approval is not required (1) for the text-only link
						containing the name ‘Engine business division of Doosan Logistics Solutions Co.,Ltd.’ only, or
						(2) if the link is connected to www. doosanlogistics.com only without connection to sub-pages,
						or (3) if the page is displayed in full screen on the new web browser window that supports
						operation and search, not the inside of the website frame where the link is located when the
						user clicks the link, or (4) if the appearance, location, and other aspects of the link do not
						cause misunderstanding that the externally linked website or operation or products on such
						website are related to or sponsored by Doosan Logistics Solutions Co.,Ltd. or Doosan Logistics
						Solutions Co.,Ltd. or the link does not damage the image of the name and trademark of Doosan
						Logistics Solutions Co.,Ltd. and its affiliated companies. Doosan Logistics Solutions Co.,Ltd.
						may cancel the permission of the external link to this website at its discretion anytime. In
						this case, you should remove all external links to this website and stop using all the
						trademarks of Doosan Logistics Solutions Co.,Ltd.
					</p>
				</div>
			</div>
			<div class="contents-block">
				<h4 class="tit">User-provided Information</h4>
				<div>
					<p class="txt-normal">
						The personally identifiable information that you provide to Doosan Logistics Solutions Co.,Ltd.
						through this website will be protected by the privacy policy associated with this website. You
						should not send confidential information or information under your exclusive control through
						this website. You should agree that the information or data you have provided to Doosan
						Logistics Solutions Co.,Ltd. is not confidential information or information under your exclusive
						control, even though the provided information is not requested by Doosan Logistics Solutions
						Co.,Ltd. You should agree that you are granting unlimited and free license to Doosan Logistics
						Solutions Co.,Ltd. to use, reproduce, display, publicly publish, transmit, or distribute the
						information and data you have provided to Doosan Logistics Solutions Co.,Ltd. You should also
						agree that Doosan Logistics Solutions Co.,Ltd. can use the idea, concept, and know-how you have
						provided to Doosan Logistics Solutions Co.,Ltd. You should not provide Doosan Logistics
						Solutions Co.,Ltd. with information or data containing defamatory, threatening, obscene, or
						other unlawful information or data or material subject to the rights of others.
					</p>
				</div>
			</div>
			<div class="contents-block">
				<h4 class="tit">Rejection of Unauthorized Collection of E-mail Address</h4>
				<div>
					<p class="txt-normal">
						Doosan Logistics Solutions Co.,Ltd. refuses the unauthorized collection of e-mail addresses
						posted on this website using the e-mail address collection program and other technical device.
						Please note that any violating individual or group is subject to criminal prosecution in
						accordance with the ‘Act on the Promotion of Information and Communications Network Utilization
						and Information Protection, etc.
					</p>
				</div>
			</div>
			<div class="contents-block">
				<h4 class="tit">Law of the Country of Use</h4>
				<div>
					<p class="txt-normal">
						The website is managed and operated by the brand team of Doosan Logistics Solutions Co.,Ltd.
						located in Seoul, Korea. If you use this website outside of Korea, you should assume
						responsibility for complying with the laws of the country concerned with respect to the data and
						third-party contents.
					</p>
				</div>
			</div>
			<div class="contents-block">
				<h4 class="tit">Change</h4>
				<div>
					<p class="txt-normal">
						Doosan Logistics Solutions Co.,Ltd. may change, modify, supplement, or delete all or part of
						these terms and conditions at its sole discretion anytime, and changes to these terms and
						conditions shall take effect when a notice of such change is posted. If you continue to use this
						website after the change notice is posted, you are deemed to have agreed to the revisions.
						Doosan Logistics Solutions Co.,Ltd. may terminate, change, suspend, or stop access to this
						website and some of its functions at any time and may place restrictions on certain features or
						services. Doosan Logistics Solutions Co.,Ltd. may invalidate the authority, rights, and
						permission granted to you under these terms and conditions, and you should destroy all data
						immediately upon losing the validity of such rights.
					</p>
					<p class="txt-normal">
						These terms and conditions are effective as of July 31, 2020.</p>
					<p class="txt-normal">
						If you have any questions or suggestions, please contact us using
						[<a href="/en/contact-us" class="fPointC02">Contact Us</a>].
					</p>
				</div>
			</div>
		</div>
	</div>

</th:block>

</body>
</html>
