<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{page-layout/kr/basic}">

<!--/* Set enUrl='' if no alternative English page */-->
<head th:with="
	title='조직도',
	url='/kr/intro/intro-0303',
	enUrl='/en/intro/intro-0303',
	description='두산로지스틱스솔루션은 SI (System Integration) 사업본부, SW 사업본부, 고객지원센터로 구성되어 물류 자동화 사업의 성공적 수행을 지원합니다.',
	keyword='두산로지스틱스솔루션, 두산, 두산로지스틱스솔루션 조직도, Doosan Logistics Solutions, 두산, Doosan, Doosan logistics solutions organization'
">
	<title th:text="${title} + ' : ' + #{common.company-name}"></title>

	<th:block
			th:replace="page-layout/kr/part/head :: common-meta(url=${url}, title=${title}, description=${description}, keyword=${keyword})"></th:block>
	<th:block th:replace="page-layout/kr/part/head :: alternative-url(url=${url}, enUrl=${enUrl})"></th:block>

	<link rel="stylesheet" href="/css/sub_style.css">
</head>
<body>

<th:block layout:fragment="breadcrumb">
	<!--/* Display breadcrumb, choose from depth1 to depth3. Leave blank if not needed */-->
	<th:block th:replace="page-layout/kr/part/visual :: depth2Breadcrumb(
		depth1name='회사소개',
		depth1url='/kr/intro/intro-01',
		depth2name='About DLS',
		depth2url='/kr/intro/intro-03'
	)"></th:block>
</th:block>

<!--/* Display sub GNB used on mobile view. Change the sub GNB type or delete whole block if not needed */-->
<th:block layout:fragment="sub-gnb-list">
	<th:block th:replace="page-layout/kr/part/sub-gnb :: intro"></th:block>
</th:block>

<th:block layout:fragment="content">

	<th:block th:replace="page-layout/kr/part/visual :: visual(
		title='About DLS',
		className='sub-intro0303'
	)"></th:block>

	<!--/* Display sub gnb used on mobile view. Delete this block if not needed */-->
	<th:block th:replace="page-layout/kr/part/sub-gnb :: sub-gnb"></th:block>

	<div class="sub-contents">
		<div class="tab-area tab-type01 page">
			<div class="tab-inner-wrap cb">
				<a href="/kr/intro/intro-03">
					<span>개요</span>
				</a>
				<a href="/kr/intro/intro-0302">
					<span>글로벌 네트워크</span>
				</a>
				<a href="/kr/intro/intro-0303" class="on">
					<span>조직도</span>
				</a>
			</div>
		</div>

		<h3 class="blind">조직도</h3>
		<div class="sub-contents-inner">
			<div class="cnt-area cnt-intro-organization cb">
				<div class="tit-area">
					<h3>
						<span>대표이사</span>
					</h3>
				</div>
				<div class="group-area">
					<article>
						<h3>
							<span>SI 사업본부</span>
						</h3>
						<ul>
							<li>솔루션 영업</li>
							<li>설계</li>
							<li>PM</li>
							<li>기계/제어 설비</li>
						</ul>
					</article>
					<article>
						<h3>
							<span>SW 사업본부</span>
						</h3>
						<ul>
							<li>SW 영업</li>
							<li>WMS</li>
							<li>WCS</li>
						</ul>
					</article>
					<article>
						<h3>
							<span>고객 지원 센터</span>
						</h3>
						<ul>
							<li>솔루션 기술 지원</li>
							<li>SW 기술 지원</li>
						</ul>
					</article>
				</div>
			</div>
		</div>
	</div>

</th:block>

</body>
</html>
