<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{page-layout/kr/basic}">

<!--/* Set enUrl='' if no alternative English page */-->
<head th:with="
	title='Our Partners',
	url='/kr/intro/intro-04',
	enUrl='/en/intro/intro-04',
	description='두산로지스틱스솔루션과 함께하는 세계적인 물류 자동화 시스템 파트너사를 소개합니다.',
	keyword='두산로지스틱스솔루션, 두산, 두산로지스틱스 파트너사, 물류 자동화 설비, Doosan Logistics Solutions, Doosan, Doosan Logistics Solutions Partners, KNAPP, Vanriet, MHE group, Dexion, Geek plus, Ginfon, Robo technologies automation, Mantissa corporation, atop technologies, GA advisor vietnam, TPS logistics materials consultant, motion2ai, QSSI, Quality software systems inc, Material handling equipment, material handling system'
">
	<title th:text="${title} + ' : ' + #{common.company-name}"></title>

	<th:block
			th:replace="page-layout/kr/part/head :: common-meta(url=${url}, title=${title}, description=${description}, keyword=${keyword})"></th:block>
	<th:block th:replace="page-layout/kr/part/head :: alternative-url(url=${url}, enUrl=${enUrl})"></th:block>

	<link rel="stylesheet" href="/css/sub_style.css">
</head>
<body>

<th:block layout:fragment="breadcrumb">
	<!--/* Display breadcrumb, choose from depth1 to depth3. Leave blank if not needed */-->
	<th:block th:replace="page-layout/kr/part/visual :: depth2Breadcrumb(
		depth1name='회사소개',
		depth1url='/kr/intro/intro-01',
		depth2name='Our Partners',
		depth2url='/kr/intro/intro-04'
	)"></th:block>
</th:block>

<!--/* Display sub GNB used on mobile view. Change the sub GNB type or delete whole block if not needed */-->
<th:block layout:fragment="sub-gnb-list">
	<th:block th:replace="page-layout/kr/part/sub-gnb :: intro"></th:block>
</th:block>

<th:block layout:fragment="content">

	<th:block th:replace="page-layout/kr/part/visual :: visual(
		title='Our Partners',
		className='sub-intro04'
	)"></th:block>

	<!--/* Display sub gnb used on mobile view. Delete this block if not needed */-->
	<th:block th:replace="page-layout/kr/part/sub-gnb :: sub-gnb"></th:block>

	<div class="sub-contents">
		<div class="sub-contents-inner">
			<div class="summary-area">
				<div class="summary-tit">
					<strong class="bar-type">
						두산로지스틱스솔루션과 함께하는<br class="m-only2">
						파트너사를 소개합니다.
					</strong>
				</div>
			</div>

			<div class="partners-contents-wrap">
				<ul class="sequential cb">
					<li>
						<div class="thumb-area">
							<img src="/images/intro/logo-partner01.png" alt="">
						</div>
						<div class="txt-area">
							<em class="category">Austria</em>
							<h3>KNAPP AG</h3>
							<div class="txt">
								KNAPP AG는 물류자동화 설비 및 소프트웨어를 제공하는 글로벌 선도 기업으로
								오스트리아에 본사를 두고 있으며 셔틀분야에서 시장점유율 1위를 기록하고 있습니다.
								KNAPP AG는 전세계 45개 다양한 지역에 네트워크를 갖추고 있습니다.
							</div>
						</div>
					</li>
					<li class="end">
						<div class="thumb-area">
							<img src="/images/intro/logo-partner02.png" alt="">
						</div>
						<div class="txt-area">
							<em class="category">Netherlands</em>
							<h3>
								MHS Group
								<span>(VanRiet Material Handling Systems)</span>
							</h3>
							<div class="txt">
								네덜란드에 본사를 둔 MHS Group(구 VanRiet Material Handling Systems)는
								Sortation System 공급 및 시스템 엔지니어링 및 애프터마켓 서비스를 제공하는 글로벌 회사입니다.
								유럽 현지 Sortation 2위 업체로 다양한 소비재 유통, 택배 및 우편, 3PL 등을 고객군으로 확보하고 있습니다.
							</div>
						</div>
					</li>
					<li>
						<div class="thumb-area">
							<img src="/images/intro/logo-partner04.png" alt="">
						</div>
						<div class="txt-area">
							<em class="category">China</em>
							<h3>GEEK+ Inc.</h3>
							<div class="txt">
								GEEK+ Inc.는 세계 1위 Autonomous Mobile Robot공급사로 본사인 중국은 물론
								일본, 호주, 싱가포르, 유럽, 미국 등 다양한 지역의 고객들과 함께
								로봇 창고 프로젝트를 적극적으로 시행하고 있는 혁신 기업으로
								전자상거래, 물류, 자동차, 패스트패션, 제약 등 다양한 산업에서
								많은 다국적 기업들과 전략적 제휴를 맺고 있습니다.
							</div>
						</div>
					</li>
					<li>
						<div class="thumb-area">
							<img src="/images/intro/logo-partner06.png" alt="">
						</div>
						<div class="txt-area">
							<em class="category">China</em>
							<h3>GinFon Group</h3>
							<div class="txt">
								중국에 본사를 둔 GinFon Group은 첨단 Sortation system 및 운송시스템 제공을 통해
								고객에게 효율적이고 유연성 높은 솔루션을 제공합니다.<br>
								GinFon Group은 택배 및 우편, E-Commerce, FMCG 상품 및 제약 산업분야를 포괄하는
								광범위한 솔루션 포트폴리오를 보유하고 있습니다.
							</div>
						</div>
					</li>
					<li>
						<div class="thumb-area">
							<img src="/images/intro/logo-kn.png" alt="">
						</div>
						<div class="txt-area">
							<em class="category">Korea</em>
							<h3>(주)케이엔</h3>
							<div class="txt">
								한국 창원에 본사를 둔 주식회사 KN은 AI 로봇 기반의 물류 자동화 통합솔루션 기업으로
								물류 자동화 컨설팅/설계 및 자동화 도입, 물류 장비의 국산화 개발, 주차 로봇을 포함한
								전기차 솔루션과 로봇을 운영하는 소프트웨어 개발을 수행하는 선도 기업 입니다.<br>
								또한, Mushiny, Standard Robots 등 해외 AI 솔루션 기업의 한국 대표 파트너사입니다.
							</div>
						</div>
					</li>
					<li>
						<div class="thumb-area">
							<img src="/images/intro/logo-mushiny.png" alt="">
						</div>
						<div class="txt-area">
							<em class="category">China</em>
							<h3>Mushiny Intelligence</h3>
							<div class="txt">
								2016년에 설립된 Mushiny Intelligence는 중국 쑤저우에 본사를 두고 있으며
								물류 로봇 지능형 시스템을 전문으로 하는 세계 최고의 기술 회사입니다.<br>
								현재 Mushiny는 전 세계적으로 20개 이상의 지역 및 국가 네트워크를 보유하고 있으며
								전체 매출의 50%가 해외에서 발생합니다.
							</div>
						</div>
					</li>
					<li>
						<div class="thumb-area">
							<img src="/images/intro/logo-partner10.png" alt="">
						</div>
						<div class="txt-area">
							<em class="category">China</em>
							<h3>ROBO Technologies Automation</h3>
							<div class="txt">
								ROBO Technologies Automation은 중국을 본사로 둔 산업 자동화 및 ASRS 전문업체입니다.
								Conveyor, 물류 자동화 소프트웨어 및 Stacker 제품개발에 주력하고 있습니다.<br>
								ROBO Technologies Automation은 중국뿐만 아니라 전세계에서도 영향력을 발휘하고 있습니다.
							</div>
						</div>
					</li>
					<li>
						<div class="thumb-area">
							<img src="/images/intro/logo-partner07.png" alt="">
						</div>
						<div class="txt-area">
							<em class="category">Germany</em>
							<h3>DAMBACH Lagersysteme GmbH &amp; Co. KG</h3>
							<div class="txt">
								DAMBACH은 독일에 본사를 둔 중/대형물 Handling System 전문 회사입니다.
								DAMBACH은 45년 이상의 축적된 경험을 바탕으로 Pallet shuttle AS/RS
								(Automated Storage and Retrieval System), Conveyor System 등을 제공합니다.
							</div>
						</div>
					</li>
					<li>
						<div class="thumb-area">
							<img src="/images/intro/logo-partner03.png" alt="">
						</div>
						<div class="txt-area">
							<em class="category">Taiwan</em>
							<h3>Atop Technologies, Inc.</h3>
							<div class="txt">
								Atop Technologies, Inc.는 대만에 본사를 두고 있으며,
								20년 넘게 Pick-to-light 개발에 전념하고 있는 기술 전문 회사입니다.<br>
								Atop Technologies, Inc.의 Pick-to-Light 시스템은 독자적인 기술을 바탕으로
								상온/저온 등 다양한 환경에서 작업자의 Picking 생산성, 속도 및 정확도를 극대화합니다.
							</div>
						</div>
					</li>
					<li>
						<div class="thumb-area">
							<img src="/images/intro/logo-partner12.png" alt="">
						</div>
						<div class="txt-area">
							<em class="category">Thailand</em>
							<h3>
								T.P.S. Logistics Materials &amp;<br class="w-only">
								Consultant Co., Ltd.
							</h3>
							<div class="txt">
								T.P.S. Logistics Materials &amp; Consultant Co., Ltd.는 태국 방콕에 본사를 두고 있으며,
								창고자동화, 물류센터 건설 및 정보시스템 등 다양한 물류 분야에서 35년 이상의 컨설팅과
								전문 서비스를 제공하는 물류 자동화 컨설팅 전문 기업입니다.
							</div>
						</div>
					</li>
					<li>
						<div class="thumb-area">
							<img src="/images/intro/logo-partner11.png" alt="">
						</div>
						<div class="txt-area">
							<em class="category">Vietnam</em>
							<h3>GA Advisor Vietnam</h3>
							<div class="txt">
								GA Advisor Vietnam은 기업 현지 진출, 재무회계, 인사, 세무를 포함한 ERP 시스템을
								전문으로 하는 컨설팅 회사입니다. GA Advisor Vietnam은 각 분야의 다양한 경험과
								노하우를 축적한 전문가들과 함께 기업이 신시장 개척을
								성공적으로 이어나갈 수 있도록 다방면에서 컨설팅을 제공합니다.
							</div>
						</div>
					</li>

					<li>
						<div class="thumb-area">
							<img src="/images/intro/logo-partner05.png" alt="">
						</div>
						<div class="txt-area">
							<em class="category">USA</em>
							<h3>Motion2AI, Inc.</h3>
							<div class="txt">
								미국에 본사를 둔 모션투에이아이(Motion2AI, Inc.)는 컴퓨터비전과 인공지능을 결합한
								물류센터 관제 솔루션 전문 업체로 유·무인 모빌리티 자원 최적화 서비스를 제공합니다.
							</div>
						</div>
					</li>
					<li>
						<div class="thumb-area">
							<img src="/images/intro/logo-partner08.png" alt="">
						</div>
						<div class="txt-area">
							<em class="category">USA</em>
							<h3>Quality Software Systems, Inc. (QSSI)</h3>
							<div class="txt">
								미국에 본사를 두고 있는 Quality Software Systems, Inc. (QSSI)는 창고 자동화 및
								재고 관리 시스템의 설계와 구현을 전문으로 하는 선도적인 WMS 개발 회사입니다.
								Quality Software Systems, Inc. (QSSI)는 혁신적인 WMS 제공을 통해
								고객의 니즈에 신속히 대응하는것은 물론 고객 가치 추구를 통한 지속적인 성장을 지속하고 있습니다.
							</div>
						</div>
					</li>
					<li>
						<div class="thumb-area">
							<img src="/images/intro/logo-made4net.png" alt="">
						</div>
						<div class="txt-area">
							<em class="category">USA</em>
							<h3>Made4net</h3>
							<div class="txt">
								2002년 설립된 Made4net은 미국에 본사를 두고 있는 SCM 전문 솔루션 회사입니다.
								Made4net의 비전은 최적의 솔루션 개발을 통해 기업의 운영 비용 절감, 고객 서비스 개선,
								시장내 경쟁력 강화 실현을 돕는 것입니다.
								이를 위해 본 회사에서는 WMS, TMS를 비롯한 주문배달 및 픽업, 3PL 특화 솔루션을 포괄한
								SCExpert 제품군을 개발하여 제공하고 있습니다.
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>

</th:block>

</body>
</html>
