<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{page-layout/kr/basic}">

<!--/* Set enUrl='' if no alternative English page */-->
<head th:with="
	title='CEO 인사말',
	url='/kr/intro/intro-01',
	enUrl='/en/intro/intro-01',
	description='두산로지스틱스솔루션은 꾸준히 고객과 소통하여 니즈를 파악하고 이를 해결할 수 있는 다양한 파트너사들과 Open innovation을 통해 고객의 사업가치를 높이는 물류 자동화 혁신 파트너가 되겠습니다.',
	keyword='두산로지스틱스솔루션, 두산, 삼오물류정보, 김환성, 물류 자동화, Doosan Logistics Solutions, DLS, Logistics Solution Provider, Logistics system integrator, number 1 logistics innovation partner'
">
	<title th:text="${title} + ' : ' + #{common.company-name}"></title>

	<th:block
			th:replace="page-layout/kr/part/head :: common-meta(url=${url}, title=${title}, description=${description}, keyword=${keyword})"></th:block>
	<th:block th:replace="page-layout/kr/part/head :: alternative-url(url=${url}, enUrl=${enUrl})"></th:block>

	<link rel="stylesheet" href="/css/sub_style.css">
</head>
<body>

<th:block layout:fragment="breadcrumb">
	<!--/* Display breadcrumb, choose from depth1 to depth3. Leave blank if not needed */-->
	<th:block th:replace="page-layout/kr/part/visual :: depth2Breadcrumb(
		depth1name='회사소개',
		depth1url='/kr/intro/intro-01',
		depth2name='CEO 인사말',
		depth2url='/kr/intro/intro-01'
	)"></th:block>
</th:block>

<!--/* Display sub GNB used on mobile view. Change the sub GNB type or delete whole block if not needed */-->
<th:block layout:fragment="sub-gnb-list">
	<th:block th:replace="page-layout/kr/part/sub-gnb :: intro"></th:block>
</th:block>

<th:block layout:fragment="content">

	<th:block th:replace="page-layout/kr/part/visual :: visual(
		title='CEO 인사말',
		className='sub-intro01'
	)"></th:block>

	<!--/* Display sub gnb used on mobile view. Delete this block if not needed */-->
	<th:block th:replace="page-layout/kr/part/sub-gnb :: sub-gnb"></th:block>

	<div class="sub-contents">
		<div class="sub-contents-inner">
			<div class="section-ceo cb">
				<div class="txt-area">
					<div class="summary-area">
						<div class="summary-tit">
							<strong class="bar-type">
								두산로지스틱스솔루션 홈페이지를<br>
								방문해주신 여러분,
								<em>진심으로 환영합니다.</em>
							</strong>
						</div>
					</div>
					<div class="txt">
						<p>
							당사는 (주)삼성항공에서 (주)삼오물류정보로, (주)삼오물류정보에서 두산로지스틱스솔루션(주)으로
							지속적인 혁신과 변혁을 통하여 국내 물류 자동화 소프트웨어 시장을 선도하고 세계적인 물류 자동화 설비 업체들과
							파트너십을 기반으로 첨단 물류 시스템 통합 공급력을 더욱 높여왔습니다.<br>
							<br>
							2019년 두산로지스틱스솔루션으로 출범 이후에는 물류 SI(System Integrator)로서
							물류 센터의 컨설팅에서 전 프로세스를 제어하고 관리하는 물류 IT 기술과 물류 자동화 시스템을 통합해
							턴키(Turnkey) 방식으로 공급하는 등 사업의 영역을 확대하였습니다.<br>
							<br>
							이커머스의 급성장으로 인해 물류 시장은 고속화, 무인화, 지능화를 요구하고 있으며
							이를 구현하는 솔루션은 다양한 자동화 설비와 IoT, Data 분석, 인공지능 등
							첨단 소프트웨어 기술들의 융합이 필요합니다.<br>
							<br>
							두산로지스틱스솔루션은 꾸준히 고객과 소통하여 니즈를 파악하고 이를 해결할 수 있는
							다양한 파트너사들과 Open innovation을 통해 고객의 사업가치를 높이는 혁신 파트너가 되고자 합니다.<br>
							<br>
							당사의 기업 슬로건인 “The Number 1 Logistics Innovation Partner”가 의미하는 남들이 시도하지 못하는
							혁신적인 방식과 기술을 바탕으로 고객에게 최고의 솔루션을 제공하는 임무에 최선을 다하도록 하겠습니다.<br>
							<br>
							앞으로의 도전과 혁신을 지켜봐 주시고, 관심과 성원을 부탁드립니다.<br>
							<br>
							감사합니다.
						</p>
						<div class="sign-area">
							<p>
								두산로지스틱스솔루션 대표이사
								<strong>김환성</strong>
							</p>
							<img src="/images/intro/img-ceo-sign.jpg" alt="sign">
						</div>
					</div>
				</div>
				<div class="thumb">
					<img src="/images/intro/img-ceo.png" alt="">
				</div>
			</div>
		</div>
	</div>

</th:block>

</body>
</html>
