<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{page-layout/kr/basic}">

<!--/* Set enUrl='' if no alternative English page */-->
<head th:with="
	title='글로벌 네트워크',
	url='/kr/intro/intro-0302',
	enUrl='/en/intro/intro-0302',
	description='두산로지스틱스솔루션 및 두산 계열사의 글로벌 활동시장을 소개합니다.',
	keyword='두산로지스틱스솔루션, 두산, 두산로지스틱스솔루션 활동 시장, 두산 로지스틱스 글로벌 네트워크, Doosan Logistics Solutions, Doosan, Global network'
">
	<title th:text="${title} + ' : ' + #{common.company-name}"></title>

	<th:block
			th:replace="page-layout/kr/part/head :: common-meta(url=${url}, title=${title}, description=${description}, keyword=${keyword})"></th:block>
	<th:block th:replace="page-layout/kr/part/head :: alternative-url(url=${url}, enUrl=${enUrl})"></th:block>

	<link rel="stylesheet" href="/css/sub_style.css">
</head>
<body>

<th:block layout:fragment="breadcrumb">
	<!--/* Display breadcrumb, choose from depth1 to depth3. Leave blank if not needed */-->
	<th:block th:replace="page-layout/kr/part/visual :: depth2Breadcrumb(
		depth1name='회사소개',
		depth1url='/kr/intro/intro-01',
		depth2name='About DLS',
		depth2url='/kr/intro/intro-03'
	)"></th:block>
</th:block>

<!--/* Display sub GNB used on mobile view. Change the sub GNB type or delete whole block if not needed */-->
<th:block layout:fragment="sub-gnb-list">
	<th:block th:replace="page-layout/kr/part/sub-gnb :: intro"></th:block>
</th:block>

<th:block layout:fragment="content">

	<th:block th:replace="page-layout/kr/part/visual :: visual(
		title='About DLS',
		className='sub-intro0302'
	)"></th:block>

	<!--/* Display sub gnb used on mobile view. Delete this block if not needed */-->
	<th:block th:replace="page-layout/kr/part/sub-gnb :: sub-gnb"></th:block>

	<div class="sub-contents">
		<div class="tab-area tab-type01 page">
			<div class="tab-inner-wrap cb">
				<a href="/kr/intro/intro-03">
					<span>개요</span>
				</a>
				<a href="/kr/intro/intro-0302" class="on">
					<span>글로벌 네트워크</span>
				</a>
				<a href="/kr/intro/intro-0303">
					<span>조직도</span>
				</a>
			</div>
		</div>

		<h3 class="blind">글로벌 네트워크</h3>
		<div class="sub-contents-inner">
			<div class="tab-area tab-type02 half bmg0">
				<div class="tab-inner-wrap cb">
					<a href="#tab-2-1" class="on">
						<span>두산로지스틱스솔루션</span>
					</a>
					<a href="#tab-2-2">
						<span>(주)두산</span>
					</a>
				</div>
			</div>

			<div class="tab-contents-box highlights-area">
				<div class="tab-contents" id="tab-2-1">
					<h4 class="blind">두산로지스틱스솔루션</h4>
					<div class="thumb">
						<img src="/images/intro/map01-01.jpg" class="w-only2"
							 alt="대한민국:본사, 중국:활동시장, 태국:네트워크, 베트남:네트워크, 말레이시아:활동시장, 싱가포르:활동시장, 인도네시아:활동시장">
						<img src="/images/intro/map01-01-m.jpg" class="m-only2"
							 alt="대한민국:본사, 중국:활동시장, 태국:네트워크, 베트남:네트워크, 말레이시아:활동시장, 싱가포르:활동시장, 인도네시아:활동시장">
					</div>
					<div class="legend-area">
						<ul>
							<li class="legend01">본사</li>
							<li class="legend06">활동시장</li>
							<li class="legend10">네트워크</li>
						</ul>
					</div>
				</div>

				<div class="tab-contents" id="tab-2-2">
					<div class="tab-area tab-type03 tab-many">
						<a href="#tabList" class="current-tab-text">
							<span>두산 산업차량</span>
						</a>
						<div class="tab-inner-wrap cb" id="tabList">
							<a href="#tab-2-2-1" class="on">
								<span>두산 산업차량</span>
							</a>
							<a href="#tab-2-2-2">
								<span>두산로보틱스</span>
							</a>
							<a href="#tab-2-2-3">
								<span>두산모빌리티이노베이션</span>
							</a>
							<a href="#tab-2-2-4">
								<span>두산 전자</span>
							</a>
							<a href="#tab-2-2-5">
								<span>두산 모트롤</span>
							</a>
							<a href="#tab-2-2-6">
								<span>두산퓨얼셀파워</span>
							</a>
						</div>
					</div>

					<div class="tab-contents-box">
						<div class="tab-contents" id="tab-2-2-1">
							<h4 class="blind">두산 산업차량</h4>
							<div class="thumb">
								<img src="/images/intro/map02-01.jpg" class="w-only2"
									 alt="대한민국:본사, 중국:영업법인, 대한민국:생산법인, 대한민국:영업법인, 벨기에:영업법인, 프랑스:해외지사, 독일:해외지사, 독일:생산법인, 이탈리아:해외지사, 영국:영업법인, 미국:영업법인, 중국:생산법인, 미국:해외지사, 미국:해외지사">
								<img src="/images/intro/map02-01-m.jpg" class="m-only2"
									 alt="대한민국:본사, 중국:영업법인, 대한민국:생산법인, 대한민국:영업법인, 벨기에:영업법인, 프랑스:해외지사, 독일:해외지사, 독일:생산법인, 이탈리아:해외지사, 영국:영업법인, 미국:영업법인, 중국:생산법인, 미국:해외지사, 미국:해외지사">
							</div>
							<div class="legend-area">
								<ul>
									<li class="legend01">본사</li>
									<li class="legend03">영업법인</li>
									<li class="legend02">해외지사</li>
									<li class="legend04">생산법인</li>
								</ul>
							</div>
						</div>
						<div class="tab-contents" id="tab-2-2-2">
							<h4 class="blind">두산로보틱스</h4>
							<div class="thumb">
								<img src="/images/intro/map02-02.jpg" alt="대한민국:본사" class="w-only2">
								<img src="/images/intro/map02-02-m.jpg" alt="대한민국:본사" class="m-only2">
							</div>
							<div class="legend-area">
								<ul>
									<li class="legend01">본사</li>
								</ul>
							</div>
						</div>
						<div class="tab-contents" id="tab-2-2-3">
							<h4 class="blind">두산모빌리티이노베이션</h4>
							<div class="thumb">
								<img src="/images/intro/map02-03.jpg" class="w-only2" alt="대한민국:본사">
								<img src="/images/intro/map02-03-m.jpg" class="m-only2" alt="대한민국:본사">
							</div>
							<div class="legend-area">
								<ul>
									<li class="legend01">본사</li>
								</ul>
							</div>
						</div>
						<div class="tab-contents" id="tab-2-2-4">
							<h4 class="blind">두산 전자</h4>
							<div class="thumb">
								<img src="/images/intro/map02-04.jpg" class="w-only2"
									 alt="대한민국:본사, 대한민국:R&amp;D, 대한민국:생산공장, 대한민국:생산공장, 대한민국:생산공장, 대한민국:본사, 중국:해외법인, 중국:해외법인, 중국:해외법인, 일본:해외법인, 싱가포르:해외법인, 대만:해외법인, 베트남:해외법인, 독일:해외법인, 미국:해외법인">
								<img src="/images/intro/map02-04-m.jpg" class="m-only2"
									 alt="대한민국:본사, 대한민국:R&amp;D, 대한민국:생산공장, 대한민국:생산공장, 대한민국:생산공장, 대한민국:본사, 중국:해외법인, 중국:해외법인, 중국:해외법인, 일본:해외법인, 싱가포르:해외법인, 대만:해외법인, 베트남:해외법인, 독일:해외법인, 미국:해외법인">
							</div>
							<div class="legend-area">
								<ul>
									<li class="legend01">본사</li>
									<li class="legend05">해외법인</li>
									<li class="legend07">R&amp;D</li>
									<li class="legend08">생산공장</li>
								</ul>
							</div>
						</div>
						<div class="tab-contents" id="tab-2-2-5">
							<h4 class="blind">두산 모트롤</h4>
							<div class="thumb">
								<img src="/images/intro/map02-05.jpg" class="w-only2" alt="중국:생산공장, 대한민국:본사, 대한민국:네트워크">
								<img src="/images/intro/map02-05-m.jpg" class="m-only2"
									 alt="중국:생산공장, 대한민국:본사, 대한민국:네트워크">
							</div>
							<div class="legend-area">
								<ul>
									<li class="legend01">본사</li>
									<li class="legend08">생산공장</li>
									<li class="legend10">네트워크</li>
								</ul>
							</div>
						</div>
						<div class="tab-contents" id="tab-2-2-6">
							<h4 class="blind">두산퓨얼셀파워</h4>
							<div class="thumb">
								<img src="/images/intro/map02-06.jpg" class="w-only2" alt="대한민국:본사/생산공장">
								<img src="/images/intro/map02-06-m.jpg" class="m-only2" alt="대한민국:본사/생산공장">
							</div>
							<div class="legend-area">
								<ul>
									<li class="legend12">본사/생산공장</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</th:block>

</body>
</html>
