<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{page-layout/en/basic}">

<!--/* Set krUrl='' if no alternative Korean page */-->
<head th:with="
	title='Contact Info',
	url='/en/support/support-03',
	krUrl='/kr/support/support-03',
	description='Doosan Logistics Solutions is committed to providing THE BEST service for our customers. Please refer to the contact info below considering the type of service required.',
	keyword='두산로지스틱스솔루션 기술지원, 두산로지스틱스솔루션 기술지원센터 연락처, Doosan logistics solutions technical support, Doosan logistics solutions technical support contact information'
">
	<title th:text="${title} + ' : ' + #{common.company-name}"></title>

	<th:block
			th:replace="page-layout/en/part/head :: common-meta(url=${url}, title=${title}, description=${description}, keyword=${keyword})"></th:block>
	<th:block th:replace="page-layout/en/part/head :: alternative-url(url=${url}, krUrl=${krUrl})"></th:block>

	<link rel="stylesheet" href="/css/sub_style.css">
</head>
<body>

<th:block layout:fragment="breadcrumb">
	<!--/* Display breadcrumb, choose from depth1 to depth3. Leave blank if not needed */-->
	<th:block th:replace="page-layout/en/part/visual :: depth2Breadcrumb(
		depth1name='Technical Support',
		depth1url='/en/support/support-01',
		depth2name='Contact Info',
		depth2url='/en/support/support-03'
	)"></th:block>
</th:block>

<!--/* Display sub GNB used on mobile view. Change the sub GNB type or delete whole block if not needed */-->
<th:block layout:fragment="sub-gnb-list">
	<th:block th:replace="page-layout/en/part/sub-gnb :: support"></th:block>
</th:block>

<th:block layout:fragment="content">

	<th:block th:replace="page-layout/en/part/visual :: visual(
		title='Contact Info',
		className='sub-support03'
	)"></th:block>

	<!--/* Display sub gnb used on mobile view. Delete this block if not needed */-->
	<th:block th:replace="page-layout/en/part/sub-gnb :: sub-gnb"></th:block>

	<div class="sub-contents support-contact-wrap">
		<div class="sub-contents-inner">
			<div class="summary-area">
				<div class="summary-tit">
					<strong class="bar-type">
						We are committed to providing THE BEST service for our customers.<br>
						Please refer to the contact info below considering the type of service required.
					</strong>
				</div>
			</div>
		</div>
		<div class="sequential">
			<div class="sub-contents-inner cb">
				<div class="thumb">
					<img src="/images/support/img-support-contact.jpg" alt="">
				</div>
				<div class="txt-area">
					<ul class="dot-list">
						<li>
							<strong>Solution / Spare parts</strong>
							<p>Hotline, HW AS, Spare parts and customer inquiries</p>
							<ul class="dash-list">
								<li>Tel: +82-31-270-1870</li>
							</ul>
						</li>
						<li>
							<strong>Software</strong>
							<p>Incident handling and customer inquiries</p>
							<ul class="dash-list">
								<li>Tel: +82-31-270-1882</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

</th:block>

</body>
</html>
