<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{page-layout/en/basic}">

<!--/* Set krUrl='' if no alternative Korean page */-->
<head th:with="
	title='Our Services',
	url='/en/support/support-01',
	krUrl='/kr/support/support-01',
	description='Doosan Logistics Solutions provides timely technical support to ensure smooth operation. You can be assured of prompt and proper support from DLS\'s technical support team.',
	keyword='두산로지스틱스솔루션 기술지원, Doosan logistics solutions technical support, Doosan logistics solutions hotline, HELP DESK'
">
	<title th:text="${title} + ' : ' + #{common.company-name}"></title>

	<th:block
			th:replace="page-layout/en/part/head :: common-meta(url=${url}, title=${title}, description=${description}, keyword=${keyword})"></th:block>
	<th:block th:replace="page-layout/en/part/head :: alternative-url(url=${url}, krUrl=${krUrl})"></th:block>

	<link rel="stylesheet" href="/css/sub_style.css">
</head>
<body>

<th:block layout:fragment="breadcrumb">
	<!--/* Display breadcrumb, choose from depth1 to depth3. Leave blank if not needed */-->
	<th:block th:replace="page-layout/en/part/visual :: depth2Breadcrumb(
		depth1name='Technical Support',
		depth1url='/en/support/support-01',
		depth2name='Our Services',
		depth2url='/en/support/support-01'
	)"></th:block>
</th:block>

<!--/* Display sub GNB used on mobile view. Change the sub GNB type or delete whole block if not needed */-->
<th:block layout:fragment="sub-gnb-list">
	<th:block th:replace="page-layout/en/part/sub-gnb :: support"></th:block>
</th:block>

<th:block layout:fragment="content">

	<th:block th:replace="page-layout/en/part/visual :: visual(
		title='Our Services',
		className='sub-support01'
	)"></th:block>

	<!--/* Display sub gnb used on mobile view. Delete this block if not needed */-->
	<th:block th:replace="page-layout/en/part/sub-gnb :: sub-gnb"></th:block>

	<div class="sub-contents">
		<div class="sub-contents-inner">
			<div class="summary-area">
				<div class="summary-tit">
					<strong class="bar-type">
						We provide timely technical support to ensure smooth operation.<br>
						You can be assured of prompt and proper support from DLS's technical support team.
					</strong>
				</div>
			</div>
		</div>
		<div class="sequential column-align-wrap support-intro-wrap">
			<div class="sub-contents-inner cb">
				<div class="tit-area">
					<h3 class="tit">Help Desk Service</h3>
				</div>
				<ul class="dot-list">
					<li>
						Hotline service available for
						<strong class="fPointC01">24/7/365</strong>
					</li>
				</ul>
				<div class="cnt-area">
					<div class="thumb">
						<img src="/images/support/img-support-intro01-eng.jpg" alt="">
					</div>
				</div>
			</div>
			<div class="sub-contents-inner cb">
				<div class="tit-area">
					<h3 class="tit">
						Tailored Response by<br class="w-only2">
						Incident Type
					</h3>
				</div>
				<div class="cnt-area type-area">
					<ul>
						<li>
							<h4 class="tit">Controller</h4>
							<ul class="dot-list">
								<li>Failure recovery process</li>
								<li>Root cause identification &amp; maintenance</li>
							</ul>
						</li>
						<li>
							<h4 class="tit">Hardware</h4>
							<ul class="dot-list">
								<li>Follow maintenance guidelines and secure operational stability</li>
								<li>Immediate sourcing and replacement of parts related to incidents</li>
							</ul>
						</li>
						<li>
							<h4 class="tit">Parts</h4>
							<ul class="dot-list">
								<li>
									Guarantee the availability of spare parts for the products which are within their
									warranty period (or for minimum 10 years after the expiration of the warranty
									period).
								</li>
								<li>Minimize the lead time of replacement</li>
							</ul>
						</li>
						<li>
							<h4 class="tit">Software</h4>
							<ul class="dot-list">
								<li>Recovery from back-up file</li>
								<li>Logic verification</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

</th:block>

</body>
</html>
