<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{page-layout/en/basic}">

<!--/* Set krUrl='' if no alternative Korean page */-->
<head th:with="
	title='Organization',
	url='/en/support/support-02',
	krUrl='/kr/support/support-02',
	description='Doosan Logistics Solutions runs a dedicated maintenance organization to ensure prompt response and the most stable system operation.',
	keyword='두산로지스틱스솔루션 기술지원, 두산로지스틱스솔루션 운영 조직도, Doosan logistics solutions technical support, Doosan logistics solutions organization'
">
	<title th:text="${title} + ' : ' + #{common.company-name}"></title>

	<th:block
			th:replace="page-layout/en/part/head :: common-meta(url=${url}, title=${title}, description=${description}, keyword=${keyword})"></th:block>
	<th:block th:replace="page-layout/en/part/head :: alternative-url(url=${url}, krUrl=${krUrl})"></th:block>

	<link rel="stylesheet" href="/css/sub_style.css">
</head>
<body>

<th:block layout:fragment="breadcrumb">
	<!--/* Display breadcrumb, choose from depth1 to depth3. Leave blank if not needed */-->
	<th:block th:replace="page-layout/en/part/visual :: depth2Breadcrumb(
		depth1name='Technical Support',
		depth1url='/en/support/support-01',
		depth2name='Organization',
		depth2url='/en/support/support-02'
	)"></th:block>
</th:block>

<!--/* Display sub GNB used on mobile view. Change the sub GNB type or delete whole block if not needed */-->
<th:block layout:fragment="sub-gnb-list">
	<th:block th:replace="page-layout/en/part/sub-gnb :: support"></th:block>
</th:block>

<th:block layout:fragment="content">

	<th:block th:replace="page-layout/en/part/visual :: visual(
		title='Organization',
		className='sub-support02'
	)"></th:block>

	<!--/* Display sub gnb used on mobile view. Delete this block if not needed */-->
	<th:block th:replace="page-layout/en/part/sub-gnb :: sub-gnb"></th:block>

	<div class="sub-contents">
		<div class="sub-contents-inner">
			<div class="summary-area">
				<div class="summary-tit">
					<strong class="bar-type">
						DLS runs a dedicated maintenance organization<br>
						to ensure prompt response and the most stable system operation.
					</strong>
				</div>
			</div>
		</div>
		<div class="sequential">
			<div class="sub-contents-inner cb">
				<h3 class="bar-type center">Organization Structure</h3>
				<div class="cnt-support-organization">
					<h1>Customer Support Center</h1>
					<ul class="cb">
						<li>
							<h2>
								<strong>
									<span>Solution</span>
									/
									<span>Spare parts</span>
								</strong>
							</h2>
							<ul class="cb">
								<li>
									<h3>
										<strong>Hotline*</strong>
									</h3>
									<ul class="dot-list">
										<li>DLS &amp; Partners, incl. KNAPP</li>
									</ul>
								</li>
								<li>
									<h3>
										<strong>HW AS</strong>
									</h3>
									<ul class="dot-list">
										<li>Aftersales service for hardware, e.g. KNAPP’s OSR Shuttle</li>
										<li>On-site support on equipment operation</li>
									</ul>
								</li>
								<li>
									<h3>
										<strong>Spare parts</strong>
									</h3>
									<ul class="dot-list">
										<li>Maintain, order, and supply key spare parts</li>
									</ul>
								</li>
							</ul>
						</li>
						<li><h2><strong>Software</strong></h2>
							<ul>
								<li>
									<h3>
										<strong>Hotline*</strong>
									</h3>
									<ul class="dot-list">
										<li>Dedicated supports for 24/7/365</li>
										<li>Secondary response through expert engineers</li>
									</ul>
								</li>
							</ul>
						</li>
					</ul>
				</div>
				<p>* Dedicated team per account for immediate response</p>
			</div>
		</div>
	</div>

</th:block>

</body>
</html>
