<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{page-layout/kr/basic}">

<!--/* Set enUrl='' if no alternative English page */-->
<head th:with="
	title='이벤트',
	url='/kr/media-center/event-detail',
	enUrl='',
	description='두산로지스틱스솔루션의 전시회, 컨퍼런스 등 이벤트 활동을 확인 하실 수 있습니다.',
	keyword='두산로지스틱스솔루션 이벤트, 두산로지스틱스솔루션 행사, 두산로지스틱스솔루션 event, 두산로지스틱스솔루션 전시회, Doosan logistics solutions event, doosan logistics solutions exhibition'
">
	<title th:text="${title} + ' : ' + #{common.company-name}"></title>

	<th:block
			th:replace="page-layout/kr/part/head :: common-meta(url=${url}, title=${title}, description=${description}, keyword=${keyword})"></th:block>
	<th:block th:replace="page-layout/kr/part/head :: alternative-url(url=${url}, enUrl=${enUrl})"></th:block>

	<link rel="stylesheet" href="/css/sub_style.css">
	<link rel="stylesheet" href="/css/swiper.css">

	<script src="/js/library/swiper/swiper.min.js"></script>
</head>
<body>

<th:block layout:fragment="breadcrumb">
	<!--/* Display breadcrumb, choose from depth1 to depth3. Leave blank if not needed */-->
	<th:block th:replace="page-layout/kr/part/visual :: depth2Breadcrumb(
		depth1name='미디어센터',
		depth1url='/kr/media-center/news',
		depth2name='이벤트',
		depth2url='/kr/media-center/event'
	)"></th:block>
</th:block>

<!--/* Display sub GNB used on mobile view. Change the sub GNB type or delete whole block if not needed */-->
<th:block layout:fragment="sub-gnb-list">
	<th:block th:replace="page-layout/kr/part/sub-gnb :: media-center"></th:block>
</th:block>

<th:block layout:fragment="content">

	<th:block th:replace="page-layout/kr/part/visual :: visual(
		title='이벤트',
		className='sub-media02'
	)"></th:block>

	<!--/* Display sub gnb used on mobile view. Delete this block if not needed */-->
	<th:block th:replace="page-layout/kr/part/sub-gnb :: sub-gnb"></th:block>

	<div class="sub-contents">
		<div class="sub-contents-inner">
			<div class="table-wrap noscroll scrolled">
				<div class="board-view-box">
					<div class="title-box" th:with="currentTime = ${#dates.createNow()}">
						<em th:if="${event.eventStartDate > currentTime}" class="category">진행 예정</em>
						<em th:if="${event.eventStartDate <= currentTime && event.eventStartDate >= currentTime}"
							class="category">진행중</em>
						<em th:if="${event.eventEndDate < currentTime}" class="category">종료</em>
						<p th:text="${event.eventTitle}" class="tit"></p>
					</div>
					<div class="contents-box">
						<div class="contents">
							<div class="contents-area">
								<div class="contents-block">
									<div class="intro-performance-photo">
										<div class="swiper-container">
											<div class="swiper-wrapper">
												<div th:each="eventImage: ${event.eventImageList}" class="swiper-slide">
													<p>
														<img th:src="'/file/event-image/view/' + ${eventImage.eventImageId}"
															 alt="">
													</p>
												</div>
											</div>
										</div>
										<div class="swiper-util cb">
											<div class="swiper-pager">
												<span class="current">1</span>
												/
												<span class="total"></span>
											</div>
											<div class="swiper-pagination"></div>
											<div class="swiper-btns">
												<div class="swiper-button-prev"></div>
												<div class="swiper-button-next"></div>
											</div>
										</div>
									</div>
								</div>
								<div class="table-area">
									<div class="table-area-inner">
										<dl>
											<dt>기간</dt>
											<dd th:utext="${event.eventSchedule}"></dd>
										</dl>
										<dl>
											<dt>장소</dt>
											<dd th:utext="${event.eventLocation}"></dd>
										</dl>
									</div>
									<div class="table-area-inner">
										<dl>
											<dt>주제</dt>
											<dd th:utext="${event.eventTopic}"></dd>
										</dl>
										<dl>
											<dt>Host</dt>
											<dd th:utext="${event.eventHost}"></dd>
										</dl>
									</div>
								</div>
								<p th:utext="${event.eventContent}"></p>
							</div>
						</div>
						<div th:if="${#lists.size(event.eventAttachmentList) > 0}" class="download">
							<ul>
								<li th:each="eventAttachment: ${event.eventAttachmentList}">
									<a th:href="'/file/event-attachment/download/' + ${eventAttachment.eventAttachmentId}"
									   class="ico-lnk" title="다운로드">
										<span th:utext="${eventAttachment.eventAttachmentOriginalName}"></span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<ul class="other-board">
					<li>
						<span class="prev">이전글</span>
						<p th:if="${previousEvent == null}">이전 글이 없습니다.</p>
						<p th:if="${previousEvent != null}">
							<a th:href="'/kr/media-center/event/' + ${previousEvent.eventId}"
							   th:utext="${previousEvent.eventTitle}"></a>
						</p>
					</li>
					<li>
						<span class="next">다음글</span>
						<p th:if="${nextEvent == null}">다음 글이 없습니다.</p>
						<p th:if="${nextEvent != null}">
							<a th:href="'/kr/media-center/event/' + ${nextEvent.eventId}"
							   th:utext="${nextEvent.eventTitle}"></a>
						</p>
					</li>
				</ul>
				<div class="btn-box">
					<a href="/kr/media-center/event" class="btn btnL btn-black-r over">
						<span>목록</span>
					</a>
				</div>
			</div>
		</div>
	</div>

	<!--/* todo make this script to run on document.ready */-->
	<script src="/js/page/media-center/event-detail.js"></script>

</th:block>

</body>
</html>
