<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{page-layout/kr/basic}">

<!--/* Set enUrl='' if no alternative English page */-->
<head th:with="
	title='전자공고',
	url='/kr/media-center/announce',
	enUrl='',
	description='두산로지스틱스솔루션의 전자 공고를 확인하실 수 있습니다.',
	keyword='두산로지스틱스솔루션 전자공고, 두산로지스틱스솔루션 공지'
">
	<title th:text="${title} + ' : ' + #{common.company-name}"></title>

	<th:block
			th:replace="page-layout/kr/part/head :: common-meta(url=${url}, title=${title}, description=${description}, keyword=${keyword})"></th:block>
	<th:block th:replace="page-layout/kr/part/head :: alternative-url(url=${url}, enUrl=${enUrl})"></th:block>

	<link rel="stylesheet" href="/css/sub_style.css">
</head>
<body>

<th:block layout:fragment="breadcrumb">
	<!--/* Display breadcrumb, choose from depth1 to depth3. Leave blank if not needed */-->
	<th:block th:replace="page-layout/kr/part/visual :: depth2Breadcrumb(
		depth1name='미디어센터',
		depth1url='/kr/media-center/news',
		depth2name='전자공고',
		depth2url='/kr/media-center/announce'
	)"></th:block>
</th:block>

<!--/* Display sub GNB used on mobile view. Change the sub GNB type or delete whole block if not needed */-->
<th:block layout:fragment="sub-gnb-list">
	<th:block th:replace="page-layout/kr/part/sub-gnb :: media-center"></th:block>
</th:block>

<th:block layout:fragment="content">

	<th:block th:replace="page-layout/kr/part/visual :: visual(
		title='전자공고',
		className='sub-media03'
	)"></th:block>

	<!--/* Display sub gnb used on mobile view. Delete this block if not needed */-->
	<th:block th:replace="page-layout/kr/part/sub-gnb :: sub-gnb"></th:block>

	<div class="sub-contents">
		<div class="sub-contents-inner">
			<div class="table-wrap noscroll scrolled">
				<div class="board-view-box">
					<div class="title-box">
						<em class="category type2">전자공고</em>
						<p class="tit" th:utext="${irAnnounce.irAnnounceTitle}"></p>
						<span class="date" th:text="${#dates.format(irAnnounce.irAnnounceDate, 'yyyy.MM.dd')}"></span>
					</div>
					<div class="contents-box">
						<div class="contents">
							<div class="contents-area" th:utext="${irAnnounce.irAnnounceContent}"></div>
						</div>
						<div th:if="${#lists.size(irAnnounce.irAnnounceAttachmentList) > 0}" class="ds-download-area">
							<span>첨부 파일</span>
							<ul>
								<li th:each="irAnnounceAttachment: ${irAnnounce.irAnnounceAttachmentList}">
									<a th:href="'/file/ir-announce-attachment/download/' + ${irAnnounceAttachment.irAnnounceAttachmentId}"
									   class="ico-lnk" title="다운로드" target="_blank">
										<span th:utext="${irAnnounceAttachment.irAnnounceAttachmentOriginalName}"></span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<ul class="other-board">
					<li>
						<span class="prev">이전글</span>
						<p th:if="${previousIrAnnounce != null}">
							<a th:href="'/kr/media-center/ir-announce/' + ${previousIrAnnounce.irAnnounceId}"
							   th:utext="${previousIrAnnounce.irAnnounceTitle}"></a>
						</p>
						<p th:if="${previousIrAnnounce == null}">이전 글이 없습니다.</p>
					</li>
					<li>
						<span class="next">다음글</span>
						<p th:if="${nextIrAnnounce != null}">
							<a th:href="'/kr/media-center/ir-announce/' + ${nextIrAnnounce.irAnnounceId}"
							   th:utext="${nextIrAnnounce.irAnnounceTitle}"></a>
						</p>
						<p th:if="${nextIrAnnounce == null}">다음 글이 없습니다.</p>
					</li>
				</ul>
				<div class="btn-box">
					<a href="/kr/media-center/ir-announce" class="btn btnL btn-black-r over">
						<span>목록</span>
					</a>
				</div>
			</div>
		</div>
	</div>

</th:block>

</body>
</html>
