<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{page-layout/kr/basic}">

<!--/* Set enUrl='' if no alternative English page */-->
<head th:with="
	title='뉴스',
	url='/kr/media-center/news',
	enUrl='/en/media-center/news',
	description='두산로지스틱스솔루션의 최신 뉴스를 확인하실 수 있습니다.',
	keyword='두산로지스틱스솔루션 최신소식, 두산로지스틱스솔루션 뉴스, 두산로지스틱스솔루션 news, Doosan logistics solutions news, doosan logistics solutions latest news'
">
	<title th:text="${title} + ' : ' + #{common.company-name}"></title>

	<th:block
			th:replace="page-layout/kr/part/head :: common-meta(url=${url}, title=${title}, description=${description}, keyword=${keyword})"></th:block>
	<th:block th:replace="page-layout/kr/part/head :: alternative-url(url=${url}, enUrl=${enUrl})"></th:block>

	<link rel="stylesheet" href="/css/sub_style.css">

	<script src="/js/page/media-center/news.js"></script>
</head>
<body>

<th:block layout:fragment="breadcrumb">
	<!--/* Display breadcrumb, choose from depth1 to depth3. Leave blank if not needed */-->
	<th:block th:replace="page-layout/kr/part/visual :: depth2Breadcrumb(
		depth1name='미디어센터',
		depth1url='/kr/media-center/news',
		depth2name='뉴스',
		depth2url='/kr/media-center/news'
	)"></th:block>
</th:block>

<!--/* Display sub GNB used on mobile view. Change the sub GNB type or delete whole block if not needed */-->
<th:block layout:fragment="sub-gnb-list">
	<th:block th:replace="page-layout/kr/part/sub-gnb :: media-center"></th:block>
</th:block>

<th:block layout:fragment="content">

	<th:block th:replace="page-layout/kr/part/visual :: visual(
		title='뉴스',
		className='sub-media01'
	)"></th:block>

	<!--/* Display sub gnb used on mobile view. Delete this block if not needed */-->
	<th:block th:replace="page-layout/kr/part/sub-gnb :: sub-gnb"></th:block>

	<div class="sub-contents">
		<div class="sub-contents-inner">
			<div class="board-search-box cb">
				<input type="hidden" id="page" value="0">
				<div class="input-area">
					<input type="text" id="query" name="query" value="" title="검색어 입력" placeholder="검색어 입력">
				</div>
				<a href="#" class="submit">검색하기</a>
			</div>
			<div class="board-list-wrap cb">
				<ul id="news-list">
					<!--/* Call data from REST url */-->
				</ul>
			</div>
			<div class="contents-more" style="display: none;">
				<a href="#" class="btn btnL btn-black-r btn-more">더보기</a>
			</div>
		</div>
	</div>

</th:block>

</body>
</html>
