<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{page-layout/kr/basic}">

<!--/* Set enUrl='' if no alternative English page */-->
<head th:with="
	title='뉴스',
	url='/kr/media-center/news-detail',
	enUrl='',
	description='두산로지스틱스솔루션의 최신 뉴스를 확인하실 수 있습니다.',
	keyword='두산로지스틱스솔루션 최신소식, 두산로지스틱스솔루션 뉴스, 두산로지스틱스솔루션 news, Doosan logistics solutions news, doosan logistics solutions latest news'
">
	<title th:text="${title} + ' : ' + #{common.company-name}"></title>

	<th:block
			th:replace="page-layout/kr/part/head :: common-meta(url=${url}, title=${title}, description=${description}, keyword=${keyword})"></th:block>
	<th:block th:replace="page-layout/kr/part/head :: alternative-url(url=${url}, enUrl=${enUrl})"></th:block>

	<link rel="stylesheet" href="/css/sub_style.css">
</head>
<body>

<th:block layout:fragment="breadcrumb">
	<!--/* Display breadcrumb, choose from depth1 to depth3. Leave blank if not needed */-->
	<th:block th:replace="page-layout/kr/part/visual :: depth2Breadcrumb(
		depth1name='미디어센터',
		depth1url='/kr/media-center/news',
		depth2name='뉴스',
		depth2url='/kr/media-center/news'
	)"></th:block>
</th:block>

<!--/* Display sub GNB used on mobile view. Change the sub GNB type or delete whole block if not needed */-->
<th:block layout:fragment="sub-gnb-list">
	<th:block th:replace="page-layout/kr/part/sub-gnb :: media-center"></th:block>
</th:block>

<th:block layout:fragment="content">

	<th:block th:replace="page-layout/kr/part/visual :: visual(
		title='뉴스',
		className='sub-media01'
	)"></th:block>

	<!--/* Display sub gnb used on mobile view. Delete this block if not needed */-->
	<th:block th:replace="page-layout/kr/part/sub-gnb :: sub-gnb"></th:block>

	<div class="sub-contents">
		<div class="sub-contents-inner">
			<div class="table-wrap noscroll scrolled">
				<div class="board-view-box">
					<div class="title-box">
						<em class="category type2">News</em>
						<p class="tit" th:utext="${news.newsTitle}"></p>
						<span class="date" th:text="${#dates.format(news.newsPressDate, 'yyyy.MM.dd')}"></span>
					</div>
					<div class="contents-box">
						<div class="contents">
							<div class="contents-area" th:utext="${news.newsContent}"></div>
						</div>
					</div>
				</div>
				<ul class="other-board">
					<li>
						<span class="prev">이전글</span>
						<p th:if="${previousNews != null}">
							<a th:href="'/kr/media-center/news/' + ${previousNews.newsId}"
							   th:utext="${previousNews.newsTitle}"></a>
						</p>
						<p th:if="${previousNews == null}">이전 글이 없습니다.</p>
					</li>
					<li>
						<span class="next">다음글</span>
						<p th:if="${nextNews != null}">
							<a th:href="'/kr/media-center/news/' + ${nextNews.newsId}"
							   th:utext="${nextNews.newsTitle}"></a>
						</p>
						<p th:if="${nextNews == null}">다음 글이 없습니다.</p>
					</li>
				</ul>
				<div class="btn-box">
					<a href="/kr/media-center/news" class="btn btnL btn-black-r over">
						<span>목록</span>
					</a>
				</div>
			</div>
		</div>
	</div>

</th:block>

</body>
</html>
