<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{page-layout/en/basic}">

<!--/* Set krUrl='' if no alternative Korean page */-->
<head th:with="
	title='Global Network',
	url='/en/intro/intro-0302',
	krUrl='/kr/intro/intro-0302',
	description='Learn more about Doosan Logistics Solutions and Doosan affiliates\' global network.',
	keyword='두산로지스틱스솔루션, 두산, 두산로지스틱스솔루션 활동 시장, 두산 로지스틱스 글로벌 네트워크, Doosan Logistics Solutions, Doosan, Global network'
">
	<title th:text="${title} + ' : ' + #{common.company-name}"></title>

	<th:block
			th:replace="page-layout/en/part/head :: common-meta(url=${url}, title=${title}, description=${description}, keyword=${keyword})"></th:block>
	<th:block th:replace="page-layout/en/part/head :: alternative-url(url=${url}, krUrl=${krUrl})"></th:block>

	<link rel="stylesheet" href="/css/sub_style.css">
</head>
<body>

<th:block layout:fragment="breadcrumb">
	<!--/* Display breadcrumb, choose from depth1 to depth3. Leave blank if not needed */-->
	<th:block th:replace="page-layout/en/part/visual :: depth2Breadcrumb(
		depth1name='Company',
		depth1url='/en/intro/intro-01',
		depth2name='About DLS',
		depth2url='/en/intro/intro-03'
	)"></th:block>
</th:block>

<!--/* Display sub GNB used on mobile view. Change the sub GNB type or delete whole block if not needed */-->
<th:block layout:fragment="sub-gnb-list">
	<th:block th:replace="page-layout/en/part/sub-gnb :: intro"></th:block>
</th:block>

<th:block layout:fragment="content">

	<th:block th:replace="page-layout/en/part/visual :: visual(
		title='About DLS',
		className='sub-intro0302'
	)"></th:block>

	<!--/* Display sub gnb used on mobile view. Delete this block if not needed */-->
	<th:block th:replace="page-layout/en/part/sub-gnb :: sub-gnb"></th:block>

	<div class="sub-contents">
		<div class="tab-area tab-type01 page">
			<div class="tab-inner-wrap cb">
				<a href="/en/intro/intro-03">
					<span>Overview </span>
				</a>
				<a href="/en/intro/intro-0302" class="on">
					<span>Global Network</span>
				</a>
				<a href="/en/intro/intro-0303">
					<span>Organization</span>
				</a>
			</div>
		</div>
		<h3 class="blind">Global Network</h3>
		<div class="sub-contents-inner">
			<div class="tab-area tab-type02 half bmg0">
				<div class="tab-inner-wrap cb">
					<a href="#tab-2-1" class="on">
						<span>Doosan Logistics Solutions</span>
					</a>
					<a href="#tab-2-2" class="">
						<span>Doosan</span>
					</a>
				</div>
			</div>
			<div class="tab-contents-box highlights-area">
				<div class="tab-contents" id="tab-2-1">
					<h4 class="blind">Doosan Logistics Solutions</h4>
					<div class="thumb">
						<img class="w-only2" src="/images/intro/map01-01-en.jpg"
							 alt="Korea:Headquarters, China:Sales Area, Thailand:Sales Network, Vietnam:Sales Network, Malaysia:Sales Area, Singapore:Sales Area, Indonesia:Sales Area">
						<img class="m-only2" src="/images/intro/map01-01-en-m.jpg"
							 alt="Korea:Headquarters, China:Sales Area, Thailand:Sales Network, Vietnam:Sales Network, Malaysia:Sales Area, Singapore:Sales Area, Indonesia:Sales Area">
					</div>
					<div class="legend-area">
						<ul>
							<li class="legend01">Headquarters</li>
							<li class="legend06">Sales Area</li>
							<li class="legend10">Sales Network</li>
						</ul>
					</div>
				</div>
				<div class="tab-contents" id="tab-2-2">
					<div class="tab-area tab-type03 tab-many">
						<a href="#tabList" class="current-tab-text">
							<span>Doosan Corporation Industrial Vehicle</span>
						</a>
						<div class="tab-inner-wrap cb" id="tabList">
							<a href="#tab-2-2-1" class="on">
								<span>Doosan Corporation Industrial Vehicle</span>
							</a>
							<a href="#tab-2-2-2">
								<span>Doosan Robotics</span>
							</a>
							<a href="#tab-2-2-3">
								<span>Doosan Mobility Innovation</span>
							</a>
							<a href="#tab-2-2-4">
								<span>Doosan Corporation Electro-Materials</span>
							</a>
							<a href="#tab-2-2-5">
								<span>Doosan Corporation Mottrol</span>
							</a>
							<a href="#tab-2-2-6">
								<span>Doosan Corporation Fuel Cell Power</span>
							</a>
						</div>
					</div>
					<div class="tab-contents-box">
						<div class="tab-contents" id="tab-2-2-1">
							<h4 class="blind">Doosan Corporation Industrial Vehicle</h4>
							<div class="thumb">
								<img class="w-only2" src="/images/intro/map02-01-en.jpg"
									 alt="Korea:Headquarters, China:Sales Subsidiary, Korea:Production Subsidiary, Korea:Sales Subsidiary, Belgium:Sales Subsidiary, France:Overseas Branch, Germany:Overseas Branch, Germany:Production Subsidiary, Italy:Overseas Branch, UK:Sales Subsidiary, USA:Sales Subsidiary, China:Production Subsidiary, USA:Overseas Branch, USA:Overseas Branch">
								<img class="m-only2" src="/images/intro/map02-01-en-m.jpg"
									 alt="Korea:Headquarters, China:Sales Subsidiary, Korea:Production Subsidiary, Korea:Sales Subsidiary, Belgium:Sales Subsidiary, France:Overseas Branch, Germany:Overseas Branch, Germany:Production Subsidiary, Italy:Overseas Branch, UK:Sales Subsidiary, USA:Sales Subsidiary, China:Production Subsidiary, USA:Overseas Branch, USA:Overseas Branch">
							</div>
							<div class="legend-area">
								<ul>
									<li class="legend01">Headquarters</li>
									<li class="legend03">Sales Subsidiary</li>
									<li class="legend02">Overseas Branch</li>
									<li class="legend04">Production Subsidiary</li>
								</ul>
							</div>
						</div>
						<div class="tab-contents" id="tab-2-2-2">
							<h4 class="blind">Doosan Robotics</h4>
							<div class="thumb">
								<img class="w-only2" src="/images/intro/map02-02-en.jpg" alt="Korea:Headquarters">
								<img class="m-only2" src="/images/intro/map02-02-en-m.jpg" alt="Korea:Headquarters">
							</div>
							<div class="legend-area">
								<ul>
									<li class="legend01">Headquarters</li>
								</ul>
							</div>
						</div>
						<div class="tab-contents" id="tab-2-2-3">
							<h4 class="blind">Doosan Mobility Innovation</h4>
							<div class="thumb">
								<img class="w-only2" src="/images/intro/map02-03-en.jpg" alt="Korea:Headquarters">
								<img class="m-only2" src="/images/intro/map02-03-en-m.jpg" alt="Korea:Headquarters">
							</div>
							<div class="legend-area">
								<ul>
									<li class="legend01">Headquarters</li>
								</ul>
							</div>
						</div>
						<div class="tab-contents" id="tab-2-2-4">
							<h4 class="blind">Doosan Corporation Electro-Materials</h4>
							<div class="thumb">
								<img class="w-only2" src="/images/intro/map02-04-en.jpg"
									 alt="Korea:Headquarters, Korea:R&amp;D, Korea:Factory, Korea:Factory, Korea:Factory, Korea:Headquarters, China:Overseas Subsidiary, China:Overseas Subsidiary, China:Overseas Subsidiary, Japan:Overseas Subsidiary, Singapore:Overseas Subsidiary, Taiwan:Overseas Subsidiary, Vietnam:Overseas Subsidiary, Germany:Overseas Subsidiary, USA:Overseas Subsidiary">
								<img class="m-only2" src="/images/intro/map02-04-en-m.jpg"
									 alt="Korea:Headquarters, Korea:R&amp;D, Korea:Factory, Korea:Factory, Korea:Factory, Korea:Headquarters, China:Overseas Subsidiary, China:Overseas Subsidiary, China:Overseas Subsidiary, Japan:Overseas Subsidiary, Singapore:Overseas Subsidiary, Taiwan:Overseas Subsidiary, Vietnam:Overseas Subsidiary, Germany:Overseas Subsidiary, USA:Overseas Subsidiary">
							</div>
							<div class="legend-area">
								<ul>
									<li class="legend01">Headquarters</li>
									<li class="legend05">Overseas Subsidiary</li>
									<li class="legend07">R&amp;D</li>
									<li class="legend08">Factory</li>
								</ul>
							</div>
						</div>
						<div class="tab-contents" id="tab-2-2-5">
							<h4 class="blind">Doosan Corporation Mottrol</h4>
							<div class="thumb">
								<img src="/images/intro/map02-05-en.jpg"
									 alt="China:Factory, Korea:Headquarters, Korea:Sales Network" class="w-only2">
								<img src="/images/intro/map02-05-en-m.jpg"
									 alt="China:Factory, Korea:Headquarters, Korea:Sales Network" class="m-only2">
							</div>
							<div class="legend-area">
								<ul>
									<li class="legend01">Headquarters</li>
									<li class="legend08">Factory</li>
									<li class="legend10">Sales Network</li>
								</ul>
							</div>
						</div>
						<div class="tab-contents" id="tab-2-2-6">
							<h4 class="blind">Doosan Corporation Fuel Cell Power</h4>
							<div class="thumb">
								<img class="w-only2" src="/images/intro/map02-06-en.jpg"
									 alt="Korea:Headquarters/Factory">
								<img class="m-only2" src="/images/intro/map02-06-en-m.jpg"
									 alt="Korea:Headquarters/Factory">
							</div>
							<div class="legend-area">
								<ul>
									<li class="legend12">Headquarters/Factory</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</th:block>

</body>
</html>
