<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{page-layout/en/basic}">

<!--/* Set krUrl='' if no alternative Korean page */-->
<head th:with="
	title='History',
	url='/en/intro/intro-02',
	krUrl='/kr/intro/intro-02',
	description='Meet Doosan Logistics solutions, which continues to innovate warehouse automation solutions since 1998.',
	keyword='두산로지스틱스솔루션, 두산, 삼오물류정보, 물류 자동화, Doosan Logistics Solutions, DLS, Doosan, WMS, WCS, WES'
">
	<title th:text="${title} + ' : ' + #{common.company-name}"></title>

	<th:block
			th:replace="page-layout/en/part/head :: common-meta(url=${url}, title=${title}, description=${description}, keyword=${keyword})"></th:block>
	<th:block th:replace="page-layout/en/part/head :: alternative-url(url=${url}, krUrl=${krUrl})"></th:block>

	<link rel="stylesheet" href="/css/sub_style.css">
</head>
<body>

<th:block layout:fragment="breadcrumb">
	<!--/* Display breadcrumb, choose from depth1 to depth3. Leave blank if not needed */-->
	<th:block th:replace="page-layout/en/part/visual :: depth2Breadcrumb(
		depth1name='Company',
		depth1url='/en/intro/intro-01',
		depth2name='History',
		depth2url='/en/intro/intro-02'
	)"></th:block>
</th:block>

<!--/* Display sub GNB used on mobile view. Change the sub GNB type or delete whole block if not needed */-->
<th:block layout:fragment="sub-gnb-list">
	<th:block th:replace="page-layout/en/part/sub-gnb :: intro"></th:block>
</th:block>

<th:block layout:fragment="content">

	<th:block th:replace="page-layout/en/part/visual :: visual(
		title='History',
		className='sub-intro02'
	)"></th:block>

	<!--/* Display sub gnb used on mobile view. Delete this block if not needed */-->
	<th:block th:replace="page-layout/en/part/sub-gnb :: sub-gnb"></th:block>

	<div class="sub-contents">
		<div class="sub-contents-inner">
			<div class="summary-area">
				<div class="summary-tit">
					<strong class="bar-type">
						As a top-tier warehouse automation solution provider,<br class="w-only">
						DLS is building a new future for the warehouse automation industry.
					</strong>
				</div>
			</div>
			<div class="tab-area tab-type02 tab-fixed" id="tabWrap">
				<div class="tab-inner-wrap cb">
					<a href="#anchor-1" data-tab-target="anchor-1" class="tab-item on">
						<span>
							Forging New Path<br class="m-only-tab">
							(2019~today)
						</span>
					</a>
					<a href="#anchor-2" data-tab-target="anchor-2" class="tab-item">
						<span>
							Growth and Progress<br class="m-only-tab">
							(2006~2019)
						</span>
					</a>
					<a href="#anchor-3" data-tab-target="anchor-3" class="tab-item">
						<span>
							Foundation Building<br class="m-only-tab">
							(1998~2005)
						</span>
					</a>
				</div>
			</div>
			<div class="history-contents-wrap">
				<div class="history-contents-block" data-tab="true" id="anchor-1">
					<div>
						<div class="history-yy">
							<h3 class="bar-type">
								Forging New Path<br class="m-only-tab">
								(2019~today)
							</h3>
							<strong></strong>
						</div>
						<div class="history-block-wrap">
							<div class="history-block reverse">
								<div class="text-box">
									<dl>
										<dt>2019</dt>
										<dd>
											<ul class="dot-list">
												<li>Established Doosan Logistics Solutions</li>
												<li>
													Announced its vision of becoming a total logistics solution
													provider
												</li>
												<li>
													Launched Insight Conference “Next-Generation Logistics Solution”
												</li>
											</ul>
										</dd>
									</dl>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="history-contents-block" data-tab="true" id="anchor-2">
					<div>
						<div class="history-yy">
							<h3 class="bar-type">Growth and Progress <br class="m-only-tab">(2006~2019)</h3>
							<strong></strong>
						</div>
						<div class="history-block-wrap">
							<div class="history-block">
								<div class="text-box">
									<dl>
										<dt>2019</dt>
										<dd>
											<ul class="dot-list">
												<li>
													Delivered KNAPP systems, WMS and WCS<br>
													for Daiso Busan Hub Center
												</li>
											</ul>
										</dd>
									</dl>
								</div>
							</div>
							<div class="history-block reverse">
								<div class="text-box">
									<dl>
										<dt>2018</dt>
										<dd>
											<ul class="dot-list">
												<li>
													<p>Participated in KOREA MAT</p>
													<ul class="dash-list">
														<li>Joint participation with Dexion</li>
													</ul>
												</li>
												<li>
													<p>
														Delivered automated warehouse for packaging materials warehouse
														in Amorepacific’s Osan Beauty Park
													</p>
													<ul class="dash-list">
														<li>
															Installed and provided KNAPP’s OSR shuttles and DLS's WCS
														</li>
													</ul>
												</li>
											</ul>
										</dd>
									</dl>
								</div>
							</div>
							<div class="history-block">
								<div class="text-box">
									<dl>
										<dt>2016</dt>
										<dd>
											<ul class="dot-list">
												<li>
													<p>Held an e-commerce conference with KNAPP</p>
													<ul class="dash-list">
														<li>
															Shared the cases of supplying Shuttle ASRS for local clients
															and best practices
														</li>
													</ul>
												</li>
											</ul>
										</dd>
									</dl>
								</div>
							</div>
							<div class="history-block reverse">
								<div class="text-box">
									<dl>
										<dt>2013</dt>
										<dd>
											<ul class="dot-list">
												<li>Implemented WMS, WCS, and SMS for Daiso Namsa Hub Center</li>
												<li>
													Signed an exclusive partnership for distributing VanRiet’s (current
													MHS) sorters in Korea
												</li>
											</ul>
										</dd>
									</dl>
								</div>
							</div>
							<div class="history-block">
								<div class="text-box">
									<dl>
										<dt>2012</dt>
										<dd>
											<ul class="dot-list">
												<li>
													Signed an exclusive partnership for distributing KNAPP AG’s<br>
													material handling systems in Korea
												</li>
											</ul>
										</dd>
									</dl>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="history-contents-block" data-tab="true" id="anchor-3">
					<div>
						<div class="history-yy">
							<h3 class="bar-type">
								Foundation Building<br class="m-only-tab">
								(1998~2005)
							</h3>
							<strong></strong>
						</div>
						<div class="history-block-wrap">
							<div class="history-block reverse">
								<div class="text-box">
									<dl>
										<dt>2005</dt>
										<dd>
											<ul class="dot-list">
												<li>
													Closed a partnership with Australia-based Dexion Asia Pacific for
													distributing its warehouse equipment
												</li>
											</ul>
										</dd>
									</dl>
								</div>
							</div>
							<div class="history-block">
								<div class="text-box">
									<dl>
										<dt>2002</dt>
										<dd>
											<ul class="dot-list">
												<li>
													Selected as an excellent venture company (by Seoul Economic Daily)
												</li>
											</ul>
										</dd>
									</dl>
								</div>
							</div>
							<div class="history-block reverse">
								<div class="text-box">
									<dl>
										<dt>2001</dt>
										<dd>
											<ul class="dot-list">
												<li>Launched a WMS package for 3PL companies</li>
											</ul>
										</dd>
									</dl>
								</div>
							</div>
							<div class="history-block">
								<div class="text-box">
									<dl>
										<dt>2000</dt>
										<dd>
											<ul class="dot-list">
												<li>
													<p>Released a package program</p>
													<ul class="dash-list">
														<li>WECS21, PC-WECS 21 Visual Client 3D</li>
														<li>WMS21, FCIS</li>
													</ul>
												</li>
											</ul>
										</dd>
									</dl>
								</div>
							</div>
							<div class="history-block reverse">
								<div class="text-box">
									<dl>
										<dt>1999</dt>
										<dd>
											<ul class="dot-list">
												<li>Acquired a warehouse software company, Now Controls</li>
												<li>
													Signed an agreement with QSSI of the U.S. for distributing its
													PowerHouse/WMS solution in the Asian market
												</li>
											</ul>
										</dd>
									</dl>
								</div>
							</div>
							<div class="history-block">
								<div class="text-box">
									<dl>
										<dt>1998</dt>
										<dd>
											<ul class="dot-list">
												<li>Spun off Samsung Aerospace Industries</li>
												<li>Founded Samoh Logistics Information</li>
											</ul>
										</dd>
									</dl>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</th:block>

</body>
</html>
