<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{page-layout/en/basic}">

<!--/* Set krUrl='' if no alternative Korean page */-->
<head th:with="
	title='Organization',
	url='/en/intro/intro-0303',
	krUrl='/kr/intro/intro-0303',
	description='Doosan Logistics Solutions organization chart is consist of SI (System Integration) division, SW division, and Customer Support Center to support the successful execution of logistics automation business.',
	keyword='두산로지스틱스솔루션, 두산, 두산로지스틱스솔루션 조직도, Doosan Logistics Solutions, 두산, Doosan, Doosan logistics solutions organization'
">
	<title th:text="${title} + ' : ' + #{common.company-name}"></title>

	<th:block
			th:replace="page-layout/en/part/head :: common-meta(url=${url}, title=${title}, description=${description}, keyword=${keyword})"></th:block>
	<th:block th:replace="page-layout/en/part/head :: alternative-url(url=${url}, krUrl=${krUrl})"></th:block>

	<link rel="stylesheet" href="/css/sub_style.css">
</head>
<body>

<th:block layout:fragment="breadcrumb">
	<!--/* Display breadcrumb, choose from depth1 to depth3. Leave blank if not needed */-->
	<th:block th:replace="page-layout/en/part/visual :: depth2Breadcrumb(
		depth1name='Company',
		depth1url='/en/intro/intro-01',
		depth2name='About DLS',
		depth2url='/en/intro/intro-03'
	)"></th:block>
</th:block>

<!--/* Display sub GNB used on mobile view. Change the sub GNB type or delete whole block if not needed */-->
<th:block layout:fragment="sub-gnb-list">
	<th:block th:replace="page-layout/en/part/sub-gnb :: intro"></th:block>
</th:block>

<th:block layout:fragment="content">

	<th:block th:replace="page-layout/en/part/visual :: visual(
		title='About DLS',
		className='sub-intro0303'
	)"></th:block>

	<!--/* Display sub gnb used on mobile view. Delete this block if not needed */-->
	<th:block th:replace="page-layout/en/part/sub-gnb :: sub-gnb"></th:block>

	<div class="sub-contents">
		<div class="tab-area tab-type01 page">
			<div class="tab-inner-wrap cb">
				<a href="/en/intro/intro-03">
					<span>Overview </span>
				</a>
				<a href="/en/intro/intro-0302">
					<span>Global Network</span>
				</a>
				<a href="/en/intro/intro-0303" class="on">
					<span>Organization</span>
				</a>
			</div>
		</div>

		<h3 class="blind">Organization</h3>
		<div class="sub-contents-inner">
			<div class="cnt-area cnt-intro-organization cb">
				<div class="tit-area">
					<h3>
						<span>CEO</span>
					</h3>
				</div>
				<div class="group-area">
					<article>
						<h3>
							<span>SI Business Div.</span>
						</h3>
						<ul>
							<li>Solution Sales</li>
							<li>Design</li>
							<li>PM</li>
							<li>Mechanical/ Control Equipment</li>
						</ul>
					</article>
					<article>
						<h3>
							<span>SW Business Div.</span>
						</h3>
						<ul>
							<li>SW Sales</li>
							<li>WMS</li>
							<li>WCS</li>
						</ul>
					</article>
					<article>
						<h3>
							<span>Customer Service Center</span>
						</h3>
						<ul>
							<li>MHE Technical Support</li>
							<li>SW Technical Support</li>
						</ul>
					</article>
				</div>
			</div>
		</div>
	</div>

</th:block>

</body>
</html>
