<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{page-layout/en/basic}">

<!--/* Set krUrl='' if no alternative Korean page */-->
<head th:with="
	title='Partners',
	url='/en/intro/intro-04',
	krUrl='/kr/intro/intro-04',
	description='Doosan Logistics Solutions tries to deliver the best to our customers in collaboration with following partners.',
	keyword='두산로지스틱스솔루션, 두산, 두산로지스틱스 파트너사, 물류 자동화 설비, Doosan Logistics Solutions, Doosan, Doosan Logistics Solutions Partners, KNAPP, Vanriet, MHE group, Dexion, Geek plus, Ginfon, Robo technologies automation, Mantissa corporation, atop technologies, GA advisor vietnam, TPS logistics materials consultant, motion2ai, QSSI, Quality software systems inc, Material handling equipment, material handling system'
">
	<title th:text="${title} + ' : ' + #{common.company-name}"></title>

	<th:block
			th:replace="page-layout/en/part/head :: common-meta(url=${url}, title=${title}, description=${description}, keyword=${keyword})"></th:block>
	<th:block th:replace="page-layout/en/part/head :: alternative-url(url=${url}, krUrl=${krUrl})"></th:block>

	<link rel="stylesheet" href="/css/sub_style.css">
</head>
<body>

<th:block layout:fragment="breadcrumb">
	<!--/* Display breadcrumb, choose from depth1 to depth3. Leave blank if not needed */-->
	<th:block th:replace="page-layout/en/part/visual :: depth2Breadcrumb(
		depth1name='Company',
		depth1url='/en/intro/intro-01',
		depth2name='Partners',
		depth2url='/en/intro/intro-04'
	)"></th:block>
</th:block>

<!--/* Display sub GNB used on mobile view. Change the sub GNB type or delete whole block if not needed */-->
<th:block layout:fragment="sub-gnb-list">
	<th:block th:replace="page-layout/en/part/sub-gnb :: intro"></th:block>
</th:block>

<th:block layout:fragment="content">

	<th:block th:replace="page-layout/en/part/visual :: visual(
		title='Partners',
		className='sub-intro04'
	)"></th:block>

	<!--/* Display sub gnb used on mobile view. Delete this block if not needed */-->
	<th:block th:replace="page-layout/en/part/sub-gnb :: sub-gnb"></th:block>

	<div class="sub-contents">
		<div class="sub-contents-inner">
			<div class="summary-area">
				<div class="summary-tit">
					<strong class="bar-type">
						Doosan Logistics Solutions delivers the best of breed solutions in collaboration<br
							class="w-only">
						with global partners.
					</strong>
				</div>
			</div>

			<div class="partners-contents-wrap">
				<ul class="sequential cb">
					<li>
						<div class="thumb-area">
							<img src="/images/intro/logo-partner01.png" alt="">
						</div>
						<div class="txt-area">
							<em class="category">Austria</em>
							<h3>KNAPP AG</h3>
							<div class="txt">
								KNAPP AG is a global leader in offering both hardware and software for warehouse
								automation. Based in Austria, it has the largest market share in Shuttle systems.
								It has a network of 45 locations worldwide.
							</div>
						</div>
					</li>
					<li>
						<div class="thumb-area">
							<img src="/images/intro/logo-partner02.png" alt="">
						</div>
						<div class="txt-area">
							<em class="category">Netherlands</em>
							<h3>
								MHS Group
								<span>(VanRiet Material Handling Systems)</span>
							</h3>
							<div class="txt">
								MHS Group (VanRiet Material Handling Systems)<br>
								VanRiet Material Handling Systems, headquartered in the Netherlands, is part of MHS
								Group. It is a global provider of sortation system, system engineering, and aftermarket
								services. Being a second-largest sortation system provider in Europe, it has clients in
								various sectors, such as consumer goods distribution, parcels, and 3PL.
							</div>
						</div>
					</li>
					<li>
						<div class="thumb-area">
							<img src="/images/intro/logo-partner04.png" alt="">
						</div>
						<div class="txt-area">
							<em class="category">China</em>
							<h3>GEEK+ Inc.</h3>
							<div class="txt">
								GEEK+ is the world’s top provider of autonomous mobile robots. It is a company of
								innovation, actively executing warehouse robotics projects with its clients in various
								regions, including not only China, where it has its headquarters, but Japan, Australia,
								Singapore, Europe, and the U.S. It has signed strategic alliance with numerous
								multinational companies in different industries, including e-commerce, distribution,
								automobiles, fast fashion, and pharmaceuticals.
							</div>
						</div>
					</li>
					<li>
						<div class="thumb-area">
							<img src="/images/intro/logo-partner06.png" alt="">
						</div>
						<div class="txt-area">
							<em class="category">China</em>
							<h3>GinFon Group</h3>
							<div class="txt">
								GinFon Group, based in China, offers highly efficient and flexible solutions for
								customers with its advanced sortation and transport systems.<br>
								It has a broad product portfolio which encompasses diverse industries, including
								parcels, e-commerce, FMCG, and pharmaceuticals.
							</div>
						</div>
					</li>
					<li>
						<div class="thumb-area">
							<img src="/images/intro/logo-kn.png" alt="">
						</div>
						<div class="txt-area">
							<em class="category">Korea</em>
							<h3>KN Co.,LTD</h3>
							<div class="txt">
								KN Co., Ltd., headquartered in Changwon, Korea, is an AI Robot-based
								logistics automation solution provider and is a leading company in logistics automation,
								development and manufacturing of logistics equipment, providing electric vehicle solutions
								including parking robots, and software development.<br>
								Also, the company is a representative partner of overseas AI solutions provider
								such as Mushiny, Standard Robots and etc. for Korean market.
							</div>
						</div>
					</li>
					<li>
						<div class="thumb-area">
							<img src="/images/intro/logo-mushiny.png" alt="">
						</div>
						<div class="txt-area">
							<em class="category">China</em>
							<h3>Mushiny Intelligence</h3>
							<div class="txt">
								Founded in 2016, Mushiny Intelligence, headquartered in Suzhou, China,
								is the world’s leading tech company specializing in logistics robot intelligent systems.<br>
								Currently, Mushiny has a network of more than 20 regions and countries globally
								and 50% of the total sales is from overseas.
							</div>
						</div>
					</li>
					<li>
						<div class="thumb-area">
							<img src="/images/intro/logo-partner10.png" alt="">
						</div>
						<div class="txt-area">
							<em class="category">China</em>
							<h3>ROBO Technologies Automation</h3>
							<div class="txt">
								ROBO Technologies Automation, headquartered in China, is specialized in
								industrial automation and ASRS equipment. ROBO Tech-Log focus on developing conveyor,
								logistics automation software, and stackers. The company is building significant
								presence not only in China, but across the world.
							</div>
						</div>
					</li>
					<li>
						<div class="thumb-area">
							<img src="/images/intro/logo-partner07.png" alt="">
						</div>
						<div class="txt-area">
							<em class="category">Germany</em>
							<h3>DAMBACH Lagersysteme GmbH &amp; Co. KG</h3>
							<div class="txt">
								DAMBACH, headquartered in Germany, specializes in medium/large-sized material handling
								systems. With more than 45 years of experience, DAMBACH provides pallet shuttle AS/RS
								(Automated Storage and Retrieval System) and conveyor systems.
							</div>
						</div>
					</li>
					<li>
						<div class="thumb-area">
							<img src="/images/intro/logo-partner03.png" alt="">
						</div>
						<div class="txt-area">
							<em class="category">Taiwan</em>
							<h3>Atop Technologies, Inc.</h3>
							<div class="txt">
								Atop Technologies is based in Taiwan, and as a technology company,
								has been committed to developing pick-to-light systems for over two decades.<br>
								Atop Technologies’ pick-to-light systems, built by the company’s own technologies,
								maximize picking productivity, speed, and accuracy in different environment,
								including ambient and cold temperatures.
							</div>
						</div>
					</li>
					<li>
						<div class="thumb-area">
							<img src="/images/intro/logo-partner12.png" alt="">
						</div>
						<div class="txt-area">
							<em class="category">Thailand</em>
							<h3>
								T.P.S. Logistics Materials &amp;<br class="w-only">
								Consultant Co., Ltd.
							</h3>
							<div class="txt">
								T.P.S. Logistics Materials &amp; Consultant<br>
								Based in Bangkok, Thailand, T.P.S. Logistics Materials &amp; Consultant offers
								consulting service to realize logistics automation with its over 35 years of experience
								of serving clients in warehouse automation, construction of distribution centers,
								and information system.
							</div>
						</div>
					</li>
					<li>
						<div class="thumb-area">
							<img src="/images/intro/logo-partner11.png" alt="">
						</div>
						<div class="txt-area">
							<em class="category">Vietnam</em>
							<h3>GA Advisor Vietnam</h3>
							<div class="txt">
								GA Advisor Vietnam is a consulting company which offers services in investment,
								finance &amp; accounting, HR, tax, and ERP system. Along with the experts
								who have accumulated experience and know-how in different fields,
								the company helps its clients pioneer new markets with its multi-faceted consulting
								service.
							</div>
						</div>
					</li>

					<li>
						<div class="thumb-area">
							<img src="/images/intro/logo-partner05.png" alt="">
						</div>
						<div class="txt-area">
							<em class="category">USA</em>
							<h3>Motion2AI, Inc.</h3>
							<div class="txt">
								With the headquarters in the U.S., Motion2AI is a provider of warehouse control
								solutions for transport systems that combine computer vision and artificial
								intelligence. Its service focuses on optimizing both manned and unmanned vehicles.
							</div>
						</div>
					</li>
					<li>
						<div class="thumb-area">
							<img src="/images/intro/logo-partner08.png" alt="">
						</div>
						<div class="txt-area">
							<em class="category">USA</em>
							<h3>Quality Software Systems, Inc. (QSSI)</h3>
							<div class="txt">
								Based in the U.S., Quality Software Systems, Inc. (QSSI) focuses on developing advanced
								WMS with its specialty in designing and implementing systems for warehouse automation
								and inventory management. By providing innovative WMS, it responds to customers’ needs
								with agility and has grown continuously with a keen focus on customer value.
							</div>
						</div>
					</li>
					<li>
						<div class="thumb-area">
							<img src="/images/intro/logo-made4net.png" alt="">
						</div>
						<div class="txt-area">
							<em class="category">USA</em>
							<h3>Made4net</h3>
							<div class="txt">
								Established in 2002, Made4net delivers packaged solutions that enable companies
								to optimize the performance of their Supply Chain. Made4net's vision is to provide
								best-of-breed modular solutions that turn supply chain challenges into opportunities
								for operational excellence with a strong focus on creating value to its customers
								in terms of lowering operational costs, improving customer service and
								creating competitive advantage. To that end, Made4net has developed the SCExpert suite
								of products which include WMS, TMS, Orders Delivery & Pickup, 3PL billing and etc.
								to cover the most critical operational aspect of a supply chain of any size.
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>

</th:block>

</body>
</html>
