<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{page-layout/en/basic}">

<!--/* Set krUrl='' if no alternative Korean page */-->
<head th:with="
	title='WMS',
	url='/en/solutions/solutions-04',
	krUrl='/kr/solutions/solutions-04',
	description='Doosan Logistics Solutions\' WMS is a core component of the SCM. Through integration with the order management system (OMS) and the transportation management system (TMS), the WMS closely monitors and controls the flow of inventory within a warehouse, helping to achieve the most optimum inventory management.',
	keyword='물류 IT, 창고 관리 시스템, 물류 소프트웨어, 물류 재고 운영, WMS, Logistics IT, Logistics sw, Warehouse management system, Warehouse control system, sorter management system'
">
	<title th:text="${title} + ' : ' + #{common.company-name}"></title>

	<th:block
			th:replace="page-layout/en/part/head :: common-meta(url=${url}, title=${title}, description=${description}, keyword=${keyword})"></th:block>
	<th:block th:replace="page-layout/en/part/head :: alternative-url(url=${url}, krUrl=${krUrl})"></th:block>

	<link rel="stylesheet" href="/css/sub_style.css">
</head>
<body>

<th:block layout:fragment="breadcrumb">
	<!--/* Display breadcrumb, choose from depth1 to depth3. Leave blank if not needed */-->
	<th:block th:replace="page-layout/en/part/visual :: depth2Breadcrumb(
		depth1name='Solutions',
		depth1url='/en/solutions/solutions-01',
		depth2name='Logistics IT',
		depth2url='/en/solutions/solutions-04'
	)"></th:block>
</th:block>

<!--/* Display sub GNB used on mobile view. Change the sub GNB type or delete whole block if not needed */-->
<th:block layout:fragment="sub-gnb-list">
	<th:block th:replace="page-layout/en/part/sub-gnb :: solutions"></th:block>
</th:block>

<th:block layout:fragment="content">

	<th:block th:replace="page-layout/en/part/visual :: visual(
		title='Logistics IT',
		className='sub-solutions04'
	)"></th:block>

	<!--/* Display sub gnb used on mobile view. Delete this block if not needed */-->
	<th:block th:replace="page-layout/en/part/sub-gnb :: sub-gnb"></th:block>

	<div class="sub-contents">
		<div class="sub-contents-inner">
			<div class="tab-area tab-type02 tripple page border-none-m">
				<a href="#tabList" class="current-tab-text">
					<span>Warehouse Management System</span>
				</a>
				<div class="tab-inner-wrap cb" id="tabList">
					<a href="#" class="on">
						<span>Warehouse Management System</span>
					</a>
					<a href="/en/solutions/solutions-0402">
						<span>Warehouse Control System</span>
					</a>
					<a href="/en/solutions/solutions-0403">
						<span>Sorter Management System</span>
					</a>
				</div>
			</div>
			<div class="summary-area">
				<div class="summary-tit">
					<strong class="bar-type">Warehouse Management System</strong>
				</div>
				<div class="summary-txt">
					The WMS (Warehouse Management System) is a core component of the supply chain management.<br>
					Through integration with the order management system (OMS)
					and the transportation management system (TMS),<br class="w-only">
					the WMS closely monitors and controls the flow of inventory within a warehouse,
					helping to achieve the most optimum inventory management.
				</div>
			</div>
			<div class="sequential">
				<div class="section">
					<div class="thumb">
						<img src="/images/solutions/img-solutions-it01-en.jpg" alt="Warehouse Management System">
					</div>
					<a href="/images/solutions/img-solutions-it01-en.jpg" class="btn btn-expand m-only2" title="expand">expand</a>
				</div>
			</div>
		</div>
	</div>

</th:block>

</body>
</html>
