<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{page-layout/en/basic}">

<!--/* Set krUrl='' if no alternative Korean page */-->
<head th:with="
	title='Consulting &amp; Engineering',
	url='/en/solutions/solutions-02',
	krUrl='/kr/solutions/solutions-02',
	description='The consulting &amp; engineering of Doosan Logistics Solutions will be conducted in four processes, from the establishment of a logistics operation strategy to the establishment of an implementation plan for a logistics center.',
	keyword='컨설팅 &amp; 엔지니어링, 전략수립, 개념설계, 기본설계, 건축 이행계획 수립, 물류자동화,  Warehouse consulting, Warehouse Design, Warehouse basic design, Warehouse automation, Consulting &amp; Engineering'
">
	<title th:text="${title} + ' : ' + #{common.company-name}"></title>

	<th:block
			th:replace="page-layout/en/part/head :: common-meta(url=${url}, title=${title}, description=${description}, keyword=${keyword})"></th:block>
	<th:block th:replace="page-layout/en/part/head :: alternative-url(url=${url}, krUrl=${krUrl})"></th:block>

	<link rel="stylesheet" href="/css/sub_style.css">
</head>
<body>

<th:block layout:fragment="breadcrumb">
	<!--/* Display breadcrumb, choose from depth1 to depth3. Leave blank if not needed */-->
	<th:block th:replace="page-layout/en/part/visual :: depth2Breadcrumb(
		depth1name='Solutions',
		depth1url='/en/solutions/solutions-01',
		depth2name='Consulting &amp; Engineering',
		depth2url='/en/solutions/solutions-02'
	)"></th:block>
</th:block>

<!--/* Display sub GNB used on mobile view. Change the sub GNB type or delete whole block if not needed */-->
<th:block layout:fragment="sub-gnb-list">
	<th:block th:replace="page-layout/en/part/sub-gnb :: solutions"></th:block>
</th:block>

<th:block layout:fragment="content">

	<th:block th:replace="page-layout/en/part/visual :: visual(
		title='Consulting &amp; Engineering',
		className='sub-solutions02'
	)"></th:block>

	<!--/* Display sub gnb used on mobile view. Delete this block if not needed */-->
	<th:block th:replace="page-layout/en/part/sub-gnb :: sub-gnb"></th:block>

	<div class="sub-contents">
		<div class="sub-contents-inner">
			<ul class="explain-area ico-type thumb-type explain-consulting">
				<li>
					<div class="txt-area">
						<h3 class="bar-type">Warehouse consulting</h3>
						<div class="txt">
							<ul class="dot-list">
								<li>Define warehouse functions</li>
								<li>Inventory deployment plan</li>
								<li>Define basic design requirements</li>
								<li>Benchmarking</li>
							</ul>
						</div>
					</div>
					<div class="thumb">
						<img src="/images/solutions/img-consulting01.jpg" alt="" class="w-only2">
						<img src="/images/solutions/img-consulting01-m.jpg" alt="" class="m-only2">
					</div>
				</li>
				<li>
					<div class="txt-area">
						<h3 class="bar-type">Warehouse concept design</h3>
						<div class="txt">
							<ul class="dot-list">
								<li>Process design</li>
								<li>Define design module</li>
								<li>Determining capacity and area per module</li>
								<li>Define inter-module relationship and overall design layout</li>
							</ul>
						</div>
					</div>
					<div class="thumb">
						<img src="/images/solutions/img-consulting02.jpg" alt="" class="w-only2">
						<img src="/images/solutions/img-consulting02-m.jpg" alt="" class="m-only2">
					</div>
				</li>
				<li>
					<div class="txt-area">
						<h3 class="bar-type">Basic/detail design</h3>
						<div class="txt">
							<ul class="dot-list">
								<li>Design material flow and layout</li>
								<li>Define equipment specification</li>
								<li>Design operation process</li>
								<li>Define IT system requirements</li>
							</ul>
						</div>
					</div>
					<div class="thumb">
						<img src="/images/solutions/img-consulting03.jpg" alt="" class="w-only2">
						<img src="/images/solutions/img-consulting03-m.jpg" alt="" class="m-only2">
					</div>
				</li>
				<li>
					<div class="txt-area">
						<h3 class="bar-type">
							Warehouse installation<br class="w-only2">
							&amp; Implementation plan
						</h3>
						<div class="txt">
							<ul class="dot-list">
								<li>Define ROI and required investment</li>
								<li>Master schedule</li>
							</ul>
						</div>
					</div>
					<div class="thumb">
						<img src="/images/solutions/img-consulting04.jpg" alt="" class="w-only2">
						<img src="/images/solutions/img-consulting04-m.jpg" alt="" class="m-only2">
					</div>
				</li>
			</ul>
		</div>
	</div>

</th:block>

</body>
</html>
