<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{page-layout/en/basic}">

<!--/* Set krUrl='' if no alternative Korean page */-->
<head th:with="
	title='Technical Support',
	url='/en/solutions/solutions-05',
	krUrl='/kr/solutions/solutions-05',
	description='Doosan Logistics Solutions provides one-stop customer support and specialized services by type to provide the best maintenance services to customers.',
	keyword='기술지원, 유지보수, 원스톱 고객지원, 정기 점검, 상주 점검, 긴급 점검, 비정기 고개 점검, Technical Support, Maintenance, 24/7 Support, Spare parts'
">
	<title th:text="${title} + ' : ' + #{common.company-name}"></title>

	<th:block
			th:replace="page-layout/en/part/head :: common-meta(url=${url}, title=${title}, description=${description}, keyword=${keyword})"></th:block>
	<th:block th:replace="page-layout/en/part/head :: alternative-url(url=${url}, krUrl=${krUrl})"></th:block>

	<link rel="stylesheet" href="/css/sub_style.css">
</head>
<body>

<th:block layout:fragment="breadcrumb">
	<!--/* Display breadcrumb, choose from depth1 to depth3. Leave blank if not needed */-->
	<th:block th:replace="page-layout/en/part/visual :: depth2Breadcrumb(
		depth1name='Solutions',
		depth1url='/en/solutions/solutions-01',
		depth2name='Technical Support',
		depth2url='/en/solutions/solutions-05'
	)"></th:block>
</th:block>

<!--/* Display sub GNB used on mobile view. Change the sub GNB type or delete whole block if not needed */-->
<th:block layout:fragment="sub-gnb-list">
	<th:block th:replace="page-layout/en/part/sub-gnb :: solutions"></th:block>
</th:block>

<th:block layout:fragment="content">

	<th:block th:replace="page-layout/en/part/visual :: visual(
		title='Technical Support',
		className='sub-solutions05'
	)"></th:block>

	<!--/* Display sub gnb used on mobile view. Delete this block if not needed */-->
	<th:block th:replace="page-layout/en/part/sub-gnb :: sub-gnb"></th:block>

	<div class="sub-contents">
		<div class="sub-contents-inner">
			<div class="summary-area">
				<div class="summary-tit">
					<strong class="bar-type">One-Stop Customer Support</strong>
				</div>
			</div>
		</div>
		<div class="sequential column-align-wrap solutuons-technical-wrap">
			<div class="sub-contents-inner">
				<div class="onestop-area">
					<h3 class="tit">
						<span>
							One-Stop<br>
							Customer<br>
							Support
						</span>
					</h3>
					<ul class="cb">
						<li>
							<span>Deliver outstanding customer support by providing prompt response.</span>
						</li>
						<li>
							<span>Manage historical data of customer support, including system failure.</span>
						</li>
						<li>
							<span>24/7/365 Supports.</span>
						</li>
						<li>
							<span>Hotline service available to ensure maximum system uptime.</span>
						</li>
						<li>
							<span>Secure spare parts to minimize the lead time of incidents.</span>
						</li>
						<li>
							<span>Systematic before and after sales service to minimize incidents.</span>
						</li>
					</ul>
				</div>
			</div>
			<div class="sub-contents-inner cb end">
				<div class="tit-area">
					<h3 class="tit">Maintenance Service</h3>
				</div>
				<div class="cnt-area type-area">
					<ul>
						<li>
							<h4 class="tit">Regular Maintenance Service</h4>
							<div class="txt">
								Our maintenance team carries out regular maintenance services to prevent a potential
								incident to run most optimal system conditions.
							</div>
						</li>
						<li>
							<h4 class="tit">On-site Maintenance Service</h4>
							<div class="txt">
								DLS engineer will be present at the customer’s site to act promptly in case of an
								operational issue.
							</div>
						</li>
						<li>
							<h4 class="tit">Emergency Maintenance Service</h4>
							<div class="txt">
								In case of a serious incident that requires immediate action, DLS expert will visit the
								customer site to resolve the issue within a shortest time possible.
							</div>
						</li>
						<li>
							<h4 class="tit">On-demand Maintenance Service</h4>
							<div class="txt">
								DLS engineers will conduct maintenance service at a mutually agreed time
								when a customer requests for maintenance service.
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

</th:block>

</body>
</html>
