<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{page-layout/en/basic}">

<!--/* Set krUrl='' if no alternative Korean page */-->
<head th:with="
	title='Storage System',
	url='/en/solutions/solutions-0301',
	krUrl='/kr/solutions/solutions-0301',
	description='Doosan Logistics Solutions has partnered with global logistics material handling systems companies to provide state-of-the-art storage systems such as OSR Shuttle, A-Frame System, KNAPP-Store, AS/RS, Vertical Carousel, and Pallet Shuttle.',
	keyword='보관 시스템, 물류 자동화, 자동창고, 셔틀, 팔레트 셔틀, 보관 설비, 스토리지 시스템, 물류 창고 Storage System, Warehouse automation, Material Handling Equipment, Material handling system, KNAPP, Dexion, Dambach, OSR Shuttle, A frame system, ASRS, Automated Storage Retrieval System, Pallet shuttle ASRS, Vertical Carousels'
">
	<title th:text="${title} + ' : ' + #{common.company-name}"></title>

	<th:block
			th:replace="page-layout/en/part/head :: common-meta(url=${url}, title=${title}, description=${description}, keyword=${keyword})"></th:block>
	<th:block th:replace="page-layout/en/part/head :: alternative-url(url=${url}, krUrl=${krUrl})"></th:block>

	<link rel="stylesheet" href="/css/sub_style.css">
</head>
<body>

<th:block layout:fragment="breadcrumb">
	<!--/* Display breadcrumb, choose from depth1 to depth3. Leave blank if not needed */-->
	<th:block th:replace="page-layout/en/part/visual :: depth3Breadcrumb(
		depth1name='Solutions',
		depth1url='/en/solutions/solutions-01',
		depth2name='Material Handling Systems',
		depth2url='/en/solutions/solutions-03',
		depth3name='Storage System',
		depth3url='/en/solutions/solutions-0301'
	)"></th:block>
</th:block>

<!--/* Display sub GNB used on mobile view. Change the sub GNB type or delete whole block if not needed */-->
<th:block layout:fragment="sub-gnb-list">
	<th:block th:replace="page-layout/en/part/sub-gnb :: solutions"></th:block>
</th:block>

<th:block layout:fragment="content">

	<th:block th:replace="page-layout/en/part/visual :: visual(
		title='Material Handling Systems',
		className='sub-solutions0301'
	)"></th:block>

	<!--/* Display sub gnb used on mobile view. Delete this block if not needed */-->
	<th:block th:replace="page-layout/en/part/sub-gnb :: sub-gnb"></th:block>

	<div class="sub-contents">
		<div class="sub-contents-inner">
			<div class="tab-area tab-type02 quad page">
				<a href="#tabList" class="current-tab-text">Storage System</a>
				<div class="tab-inner-wrap cb" id="tabList">
					<a href="/en/solutions/solutions-0301" class="on">
						<span>Storage System</span>
					</a>
					<a href="/en/solutions/solutions-0302">
						<span>Sortation System</span>
					</a>
					<a href="/en/solutions/solutions-0303">
						<span>Picking System</span>
					</a>
					<a href="/en/solutions/solutions-0304">
						<span>Transport System</span>
					</a>
				</div>
			</div>
			<div class="summary-area">
				<div class="summary-tit">
					<strong class="bar-type">Storage System</strong>
				</div>
			</div>
			<div class="sequential">
				<div class="section">
					<div class="thumb w-only2">
						<img src="/images/solutions/img-solutions-portfolio-storage-en.jpg"
							 alt="Warehouse automation technology portfolio" usemap="#portfolio-map">
						<map name="portfolio-map">
							<area shape="circle" coords="871,612,13" href="/en/solutions/solutions-0302"
								  alt="Sortation System" title="Sortation System">
							<area shape="circle" coords="652,796,13" href="/en/solutions/solutions-0303"
								  alt="Picking System" title="Picking System">
							<area shape="circle" coords="735,612,13" href="/en/solutions/solutions-0304"
								  alt="Transport System" title="Transport System">
						</map>
					</div>
					<div class="thumb m-only2">
						<img src="/images/solutions/img-solutions-portfolio-storage-m-en.jpg"
							 alt="Warehouse automation technology portfolio">
					</div>
					<a href="/images/solutions/img-solutions-portfolio-storage-btnless-en.jpg"
					   class="btn btn-expand m-only2" title="expand">expand</a>
				</div>
				<div class="section end">
					<ul class="explain-area thumb-type">
						<li>
							<div class="thumb">
								<img src="/images/solutions/img-storage01.jpg" alt="">
							</div>
							<div class="txt-area">
								<h3 class="bar-type">OSR Shuttle™</h3>
								<div class="txt">
									<ul class="dot-list">
										<li>
											OSR Shuttle™ is a highly effective system with shuttles operating on each
											level, which can process over ten times more throughput than a stacker crane
											type system.
										</li>
										<li>
											When integrated with goods-to-person systems, it can boost order picking
											performance.
										</li>
										<li>
											Highly flexible system which can handle various sizes of totes and
											cartons.
										</li>
									</ul>
								</div>
								<dl>
									<dt>Strategic partner</dt>
									<dd>
										<img src="/images/solutions/logo-partner01.jpg" alt="KNAPP AG">
									</dd>
								</dl>
							</div>
						</li>
						<li>
							<div class="thumb">
								<img src="/images/solutions/img-storage02.jpg" alt="">
							</div>
							<div class="txt-area">
								<h3 class="bar-type">A-Frame Picking System</h3>
								<div class="txt">
									<ul class="dot-list">
										<li>
											A-Frame picking system is a high-speed order picking solution that is
											suitable for standardized items.
										</li>
										<li>
											It is widely adopted in pharmaceuticals and cosmetics sectors. When it works
											with a vision system, it can provide automated inspection function.
										</li>
									</ul>
								</div>
								<dl>
									<dt>Strategic partner</dt>
									<dd>
										<img src="/images/solutions/logo-partner01.jpg" alt="KNAPP AG">
									</dd>
								</dl>
							</div>
						</li>
						<!--
						<li>
							<div class="thumb">
								<img src="/images/solutions/img-storage03.jpg" alt="">
							</div>
							<div class="txt-area">
								<h3 class="bar-type">
									AS/RS<br class="m-only2">
									(Automated Storage/Retrieval System)
								</h3>
								<div class="txt">
									<ul class="dot-list">
										<li>
											AS/RS consists of racks for storing loads, stacker cranes for transporting
											loads in and out of storage, conveyor system, lifter, etc.
										</li>
										<li>
											When an order is processed, the ordered items are retrieved automatically
											and transported to the picking zone.
										</li>
										<li>
											With about 40-meter-high storage, it allows for a much higher storage
											density than manual storage racks.
										</li>
										<li>Types: Unit-load AS/RS, Mini-load AS/RS, etc.</li>
									</ul>
								</div>
								<dl>
									<dt>Strategic partner</dt>
									<dd>
										<img src="/images/solutions/logo-partner02.jpg" alt="DEXION CO.,LTD">
									</dd>
								</dl>
							</div>
						</li>
						<li>
							<div class="thumb">
								<img src="/images/solutions/img-storage05.jpg" alt="">
							</div>
							<div class="txt-area">
								<h3 class="bar-type">
									Vertical Carousels<br>
									(Tornado Vertical Lift Storage Machines)
								</h3>
								<div class="txt">
									<ul class="dot-list">
										<li>
											Vertical carousels provide high-length and high-density storage and minimize
											picking time.
										</li>
										<li>
											Provide ergonomic working conditions with an automatically adjustable trays
											to maximize operator's productivity.
										</li>
									</ul>
								</div>
								<dl>
									<dt>Strategic partner</dt>
									<dd>
										<img src="/images/solutions/logo-partner02.jpg" alt="DEXION CO.,LTD">
									</dd>
								</dl>
							</div>
						</li>
						-->
						<li>
							<div class="thumb">
								<img src="/images/solutions/img-storage04.jpg" alt="">
							</div>
							<div class="txt-area">
								<h3 class="bar-type">Pallet Shuttle AS/RS</h3>
								<div class="txt">
									<ul class="dot-list">
										<li>
											Automated storage and retrieval systems for handling pallets with diverse
											shapes.
										</li>
										<li>Scalable, for further increases in performance.</li>
										<li>Maximum 45-meter high storage, Rated load: up to 1,500 kg.</li>
										<li>High throughput rates up to 250 pallets per hour.</li>
									</ul>
								</div>
								<dl>
									<dt>Strategic partner</dt>
									<dd>
										<img src="/images/solutions/logo-partner03.jpg" alt="DAMBACH Lagersysteme">
									</dd>
								</dl>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

</th:block>

</body>
</html>
