<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{page-layout/en/basic}">

<!--/* Set krUrl='' if no alternative Korean page */-->
<head th:with="
	title='Overview',
	url='/en/solutions/solutions-01',
	krUrl='/kr/solutions/solutions-01',
	description='Doosan Logistics Solutions has the insight to accurately suggest automation solutions for customers through a thorough analysis of logistics automation technologies and suggest of advanced technologies.',
	keyword='물류 솔루션, 물류 컨설팅, 물류 엔지니어링, 물류 자동화 시스템, 물류 자동화 설비, 물류 IT, 기술 지원, Warehouse solution, warehouse automation solution, warehouse automation, warehouse consulting, warehouse engineering, material handling equipment, material handling system, logistics IT, warehouse technical support'
">
	<title th:text="${title} + ' : ' + #{common.company-name}"></title>

	<th:block
			th:replace="page-layout/en/part/head :: common-meta(url=${url}, title=${title}, description=${description}, keyword=${keyword})"></th:block>
	<th:block th:replace="page-layout/en/part/head :: alternative-url(url=${url}, krUrl=${krUrl})"></th:block>

	<link rel="stylesheet" href="/css/sub_style.css">

	<script src="/js/library/tweenmax/plugin.js"></script>
	<script src="/js/library/jquery/jquery.rwd-image-maps.min.js"></script>
	<script src="/js/page/solutions/solutions-01.js"></script>
</head>
<body>

<th:block layout:fragment="breadcrumb">
	<!--/* Display breadcrumb, choose from depth1 to depth3. Leave blank if not needed */-->
	<th:block th:replace="page-layout/en/part/visual :: depth2Breadcrumb(
		depth1name='Solutions',
		depth1url='/en/solutions/solutions-01',
		depth2name='Overview',
		depth2url='/en/solutions/solutions-01'
	)"></th:block>
</th:block>

<!--/* Display sub GNB used on mobile view. Change the sub GNB type or delete whole block if not needed */-->
<th:block layout:fragment="sub-gnb-list">
	<th:block th:replace="page-layout/en/part/sub-gnb :: solutions"></th:block>
</th:block>

<th:block layout:fragment="content">

	<th:block th:replace="page-layout/en/part/visual :: visual(
		title='Overview',
		className='sub-solutions01'
	)"></th:block>

	<!--/* Display sub gnb used on mobile view. Delete this block if not needed */-->
	<th:block th:replace="page-layout/en/part/sub-gnb :: sub-gnb"></th:block>

	<div class="sub-contents">
		<div class="sub-contents-inner">
			<div class="summary-area">
				<div class="summary-tit">
					<strong class="bar-type">Warehouse automation technology portfolio</strong>
				</div>
				<div class="summary-txt">
					DLS offers tailored solutions according to customer requirements
					through detailed analysis and advanced warehouse technology.
				</div>
			</div>
			<div class="thumb">
				<img src="/images/solutions/img-solutions-intro01-en.jpg" alt="">
			</div>
			<a href="/images/solutions/img-solutions-intro01-en.jpg" class="btn btn-expand m-only2" title="expand">expand</a>
		</div>
		<div class="sub-contents-inner wide bg">
			<h4 class="bar-type center">Industry-specific solutions</h4>
			<div class="inner solutions-industry-inner">
				<ul class="cb">
					<li>
						<div>
							<span>Retail</span>
						</div>
					</li>
					<li>
						<div>
							<span>Fashion</span>
						</div>
					</li>
					<li>
						<div>
							<span>F &amp; B</span>
						</div>
					</li>
					<li>
						<div>
							<span>Pharmaceutical &amp; Cosmetic</span>
						</div>
					</li>
					<li>
						<div>
							<span>Parcels &amp; 3PL</span>
						</div>
					</li>
					<li>
						<div>
							<span>Manufacturing</span>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="sub-contents-inner">
			<h4 class="bar-type center">Business Areas</h4>
			<div class="solutions-intro-wrap">
				<div class="inner">
					<div class="intro-scroll">
						<span class="scroll">
							<span class="bar" style="height: 0%;"></span>
						</span>
						<ul class="item">
							<li>
								<a href="#" class="nTouch">Consulting &amp; Engineering</a>
							</li>
							<li>
								<a href="#" class="nTouch">Material Handling Systems</a>
							</li>
							<li>
								<a href="#" class="nTouch">Logistics IT</a>
							</li>
							<li>
								<a href="#" class="nTouch">Technical Support</a>
							</li>
						</ul>
					</div>
					<div class="intro-cnt">
						<div class="article">
							<div class="tit-area" style="opacity: 0; transform: matrix(1, 0, 0, 1, 0, 50);">
								<div class="tit-area-inner">
									<h4 class="tit bar-type">Consulting &amp; Engineering</h4>
									<p>
										Analysis and diagnosis of current warehouse operation<br>
										Suggestions for optimized warehouse automation solutions
									</p>
								</div>
							</div>
							<div class="txt-area" style="opacity: 0; transform: matrix(1, 0, 0, 1, 0, 50);">
								<div class="con">
									<ul>
										<li>Warehouse process diagnosis &amp; operation strategy development</li>
										<li>Operation data analysis &amp; simulation-based optimization</li>
										<li>Warehouse automation master plan, operation, organization, and performance
											mgt.
										</li>
									</ul>
									<a href="/en/solutions/solutions-02" class="btn btnL btn-black-r over">
										<span>Learn more</span>
									</a>
								</div>
							</div>
						</div>
						<div class="article">
							<div class="tit-area" style="opacity: 0; transform: matrix(1, 0, 0, 1, 0, 50);">
								<div class="tit-area-inner">
									<h4 class="tit bar-type">Material Handling Systems</h4>
									<p>Storage / Sortation / Picking / Transport System</p>
								</div>
							</div>
							<div class="txt-area" style="opacity: 0; transform: matrix(1, 0, 0, 1, 0, 50);">
								<div class="con">
									<ul>
										<li>Full/partial warehouse layout design and system configuration</li>
										<li>Implement optimized material handling system/logistics IT</li>
										<li>Integrate legacy systems and automation system control</li>
									</ul>
									<a href="/en/solutions/solutions-03" class="btn btnL btn-black-r over">
										<span>Learn more</span>
									</a>
								</div>
							</div>
						</div>
						<div class="article">
							<div class="tit-area" style="opacity: 0; transform: matrix(1, 0, 0, 1, 0, 50);">
								<div class="tit-area-inner">
									<h4 class="tit bar-type">Logistics IT</h4>
									<p>WES / WMS / WCS / SMS</p>
								</div>
							</div>
							<div class="txt-area" style="opacity: 0; transform: matrix(1, 0, 0, 1, 0, 50);">
								<div class="con">
									<ul>
										<li>Warehouse Execution System</li>
										<li>Warehouse Management System</li>
										<li>Warehouse Control System</li>
										<li>Sorter Management System</li>
									</ul>
									<a href="/en/solutions/solutions-04" class="btn btnL btn-black-r over">
										<span>Learn more</span>
									</a>
								</div>
							</div>
						</div>
						<div class="article">
							<div class="tit-area" style="opacity: 0; transform: matrix(1, 0, 0, 1, 0, 50);">
								<div class="tit-area-inner">
									<h4 class="tit bar-type">Technical Support</h4>
									<p>Software maintenance <br>Hardware maintenance</p>
								</div>
							</div>
							<div class="txt-area" style="opacity: 0; transform: matrix(1, 0, 0, 1, 0, 50);">
								<div class="con">
									<ul>
										<li>24/7/365 Support</li>
										<li>Maintenance Service</li>
									</ul>
									<a href="/en/solutions/solutions-05" class="btn btnL btn-black-r over">
										<span>Learn more</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</th:block>

</body>
</html>
