<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{page-layout/en/basic}">

<!--/* Set krUrl='' if no alternative Korean page */-->
<head th:with="
	title='SMS',
	url='/en/solutions/solutions-0403',
	krUrl='/kr/solutions/solutions-0403',
	description='Doosan Logistics Solutions\' SMS is a software application that determines the destination of an item based on its barcode information received from either indoor positioning system (IPS) or scanners, gives sorting directions to sorters, receives the sorting result, and updates the result.',
	keyword='물류 IT, 창고 관리 시스템, 물류 소프트웨어, 소터 통합 제어, 소터 시스템, Logistics IT, Warehouse management system, Sorter system'
">
	<title th:text="${title} + ' : ' + #{common.company-name}"></title>

	<th:block
			th:replace="page-layout/en/part/head :: common-meta(url=${url}, title=${title}, description=${description}, keyword=${keyword})"></th:block>
	<th:block th:replace="page-layout/en/part/head :: alternative-url(url=${url}, krUrl=${krUrl})"></th:block>

	<link rel="stylesheet" href="/css/sub_style.css">
</head>
<body>

<th:block layout:fragment="breadcrumb">
	<!--/* Display breadcrumb, choose from depth1 to depth3. Leave blank if not needed */-->
	<th:block th:replace="page-layout/en/part/visual :: depth2Breadcrumb(
		depth1name='Solutions',
		depth1url='/en/solutions/solutions-01',
		depth2name='Logistics IT',
		depth2url='/en/solutions/solutions-04'
	)"></th:block>
</th:block>

<!--/* Display sub GNB used on mobile view. Change the sub GNB type or delete whole block if not needed */-->
<th:block layout:fragment="sub-gnb-list">
	<th:block th:replace="page-layout/en/part/sub-gnb :: solutions"></th:block>
</th:block>

<th:block layout:fragment="content">

	<th:block th:replace="page-layout/en/part/visual :: visual(
		title='Logistics IT',
		className='sub-solutions0403'
	)"></th:block>

	<!--/* Display sub gnb used on mobile view. Delete this block if not needed */-->
	<th:block th:replace="page-layout/en/part/sub-gnb :: sub-gnb"></th:block>

	<div class="sub-contents">
		<div class="sub-contents-inner">
			<div class="tab-area tab-type02 tripple page border-none-m">
				<a href="#tabList" class="current-tab-text">
					<span>Sorter Management System</span>
				</a>
				<div class="tab-inner-wrap cb" id="tabList">
					<a href="/en/solutions/solutions-04">
						<span>Warehouse Management System</span>
					</a>
					<a href="/en/solutions/solutions-0402">
						<span>Warehouse Control System</span>
					</a>
					<a href="#" class="on">
						<span>Sorter Management System</span>
					</a>
				</div>
			</div>

			<div class="summary-area">
				<div class="summary-tit">
					<strong class="bar-type">Sorter Management System</strong>
				</div>
				<div class="summary-txt">
					The SMS (Sorter Management System) is a software application that determines the destination of an
					item in a sorter based on its barcode information received from either indoor positioning system
					(IPS) or scanners, gives sorting directions to sorters, receives and updates the sorting result.<br>
					It can control peripheral devices attached to sorter inductions and chutes. (e.g. weight checker,
					label printer, and push button switch)
				</div>
			</div>
			<div class="sequential">
				<div class="section">
					<div class="thumb">
						<img src="/images/solutions/img-solutions-it03-en.jpg" alt="Sorter Management System">
					</div>
					<a href="/images/solutions/img-solutions-it03-en.jpg" class="btn btn-expand m-only2" title="expand">expand</a>
				</div>
			</div>
		</div>
	</div>

</th:block>

</body>
</html>
