<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<title>Footer</title>
</head>

<body>

<th:block th:fragment="footer">
	<th:block th:replace="page-layout/kr/part/footer :: go-to-top"></th:block>

	<div id="Footer">
		<div class="footer-inner">
			<div class="footer-contents">
				<th:block th:replace="page-layout/kr/part/footer :: logo"></th:block>
				<th:block th:replace="page-layout/kr/part/footer :: gnb-menu"></th:block>
				<th:block th:replace="page-layout/kr/part/footer :: footer-only-menu"></th:block>
			</div>
		</div>
	</div>
</th:block>

<th:block th:fragment="go-to-top">
	<div class="gototop">
		<a href="#" class="ico-top" title="Go to top">Go to top</a>
	</div>
</th:block>

<th:block th:fragment="logo">
	<h1 class="logo">
		<a href="/kr">두산로지스틱스솔루션</a>
	</h1>
</th:block>

<th:block th:fragment="gnb-menu">
	<div class="footer-sitemap">
		<ul class="dep01">
			<li>
				<strong>
					<a href="/kr/intro/intro-01">회사소개</a>
				</strong>
				<ul class="dep02">
					<li class="m01">
						<a href="/kr/intro/intro-01">CEO 인사말</a>
					</li>
					<li class="m02">
						<a href="/kr/intro/intro-02">연혁</a>
					</li>
					<li class="m03">
						<a href="/kr/intro/intro-03">About DLS</a>
					</li>
					<li class="m04">
						<a href="/kr/intro/intro-04">Our Partners</a>
					</li>
					<li class="m05">
						<a href="/kr/intro/intro-05">CI</a>
					</li>
				</ul>
			</li>
			<li>
				<strong>
					<a href="/kr/solutions/solutions-01">솔루션</a>
				</strong>
				<ul class="dep02">
					<li class="m01">
						<a href="/kr/solutions/solutions-01">개요</a>
					</li>
					<li class="m02">
						<a href="/kr/solutions/solutions-02">컨설팅&amp;엔지니어링</a>
					</li>
					<li class="m03">
						<a href="/kr/solutions/solutions-03">물류 자동화 시스템</a>
					</li>
					<li class="m04">
						<a href="/kr/solutions/solutions-04">물류 IT</a>
					</li>
					<li class="m05">
						<a href="/kr/solutions/solutions-05">기술 지원</a>
					</li>
				</ul>
			</li>
			<li>
				<strong>
					<a href="/kr/reference/reference">레퍼런스</a>
				</strong>
				<ul class="dep02">
					<li class="m01">
						<a href="/kr/reference/reference">레퍼런스</a>
					</li>
				</ul>
			</li>
			<li>
				<strong>
					<a href="/kr/support/support-01">기술지원</a>
				</strong>
				<ul class="dep02">
					<li class="m01">
						<a href="/kr/support/support-01">주요 업무 내용</a>
					</li>
					<li class="m01">
						<a href="/kr/support/support-02">운영 조직도</a>
					</li>
					<li class="m01">
						<a href="/kr/support/support-03">Contact Info</a>
					</li>
				</ul>
			</li>
			<li>
				<strong>
					<a href="/kr/media-center/news">미디어센터</a>
				</strong>
				<ul class="dep02">
					<li class="m01">
						<a href="/kr/media-center/news">뉴스</a>
					</li>
					<li class="m02">
						<a href="/kr/media-center/event">이벤트</a>
					</li>
					<li class="m03">
						<a href="/kr/media-center/ir-announce">전자공고</a>
					</li>
				</ul>
			</li>
			<li>
				<strong>
					<a href="/kr/contact-us">Conact Us</a>
				</strong>
				<ul class="dep02">
					<li class="m01">
						<a href="/kr/contact-us">Contact Us</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</th:block>

<th:block th:fragment="footer-only-menu">
	<div class="footer-text">
		<div class="footer-util">
			<a href="/kr/ehs">EHS 방침</a>
			<a href="/kr/legal">법적고지</a>
			<a href="/kr/terms">이용약관</a>
			<a class="privacy" href="/kr/privacy">개인정보처리방침</a>
			<a href="https://www.doosan.com/kr/csr/csr-code/?menu=code-of-conduct" target="_blank">
				윤리경영<span class="new-window">새창<em>열기</em></span>
			</a>
		</div>
		<th:block th:replace="page-layout/kr/part/footer :: copyright"></th:block>
	</div>
</th:block>

<th:block th:fragment="copyright">
	<div class="footer-copy" th:with="curYear=${#dates.year(#dates.createNow())}">
		<p th:utext="'&copy; ' + ${curYear} + ' 두산로지스틱스솔루션(주)'"></p>
	</div>
</th:block>

</body>

</html>
