<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<title>Header</title>
</head>

<body>

<th:block th:fragment="header">
	<div id="Header">
		<div class="header-inner">
			<th:block th:replace="page-layout/kr/part/header :: logo"></th:block>

			<div class="header-gnb">
				<th:block th:replace="page-layout/kr/part/header :: mobile-language-change"></th:block>
				<th:block th:replace="page-layout/kr/part/header :: gnb"></th:block>
			</div>

			<div id="gnbHeader" class="header-util">
				<th:block th:replace="page-layout/kr/part/header :: language-change"></th:block>
				<th:block th:replace="page-layout/kr/part/header :: right-icons"></th:block>
				<th:block th:replace="page-layout/kr/part/header :: text-logo"></th:block>
			</div>

			<div th:replace="page-layout/kr/part/header :: search"></div>
		</div>
		<div class="subGnbBack"></div>
	</div>
</th:block>

<th:block th:fragment="logo">
	<h1>
		<a href="/kr">두산로지스틱스</a>
	</h1>
</th:block>

<th:block th:fragment="mobile-language-change">
	<div class="gnb-language">
		<ul class="lang">
			<li class="current">
				<a href="#" data-lang="ko">KOR</a>
			</li>
			<li>
				<a href="#" data-lang="en">ENG</a>
			</li>
		</ul>
	</div>
</th:block>

<th:block th:fragment="gnb">
	<div id="Gnb">
		<ul class="gnb-dep01">
			<li>
				<a href="/kr/intro/intro-01" class="w-only">회사소개</a>
				<a href="#" class="m-only on">회사소개</a>
				<div class="gnb-dep02-div">
					<ul class="gnb-dep02">
						<li class="m01">
							<a href="/kr/intro/intro-01">CEO 인사말</a>
						</li>
						<li class="m02">
							<a href="/kr/intro/intro-02">연혁</a>
						</li>
						<li class="m03">
							<a href="/kr/intro/intro-03">About DLS</a>
						</li>
						<li class="m04">
							<a href="/kr/intro/intro-04">Our Partners</a>
						</li>
						<li class="m05">
							<a href="/kr/intro/intro-05">CI</a>
						</li>
					</ul>
				</div>
			</li>
			<li>
				<a href="/kr/solutions/solutions-01" class="w-only">솔루션</a>
				<a href="#" class="m-only on">솔루션</a>
				<div class="gnb-dep02-div">
					<ul class="gnb-dep02">
						<li class="m01">
							<a href="/kr/solutions/solutions-01">개요</a>
						</li>
						<li class="m02">
							<a href="/kr/solutions/solutions-02">컨설팅&amp;엔지니어링</a>
						</li>
						<li class="m03">
							<a href="/kr/solutions/solutions-03">물류 자동화 시스템</a>
						</li>
						<li class="m04">
							<a href="/kr/solutions/solutions-04">물류 IT</a>
						</li>
						<li class="m05">
							<a href="/kr/solutions/solutions-05">기술 지원</a>
						</li>
					</ul>
				</div>
			</li>
			<li>
				<a href="/kr/reference/reference">레퍼런스</a>
			</li>
			<li>
				<a href="/kr/support/support-01" class="w-only">기술지원</a>
				<a href="#" class="m-only on">기술지원</a>
				<div class="gnb-dep02-div">
					<ul class="gnb-dep02">
						<li class="m01">
							<a href="/kr/support/support-01">주요 업무 내용</a>
						</li>
						<li class="m01">
							<a href="/kr/support/support-02">운영 조직도</a>
						</li>
						<li class="m01">
							<a href="/kr/support/support-03">Contact Info</a>
						</li>
					</ul>
				</div>
			</li>
			<li>
				<a href="/kr/media-center/news" class="w-only">미디어센터</a>
				<a href="#" class="m-only on">미디어센터</a>
				<div class="gnb-dep02-div">
					<ul class="gnb-dep02">
						<li class="m01">
							<a href="/kr/media-center/news">뉴스</a>
						</li>
						<li class="m02">
							<a href="/kr/media-center/event">이벤트</a>
						</li>
						<li class="m03">
							<a href="/kr/media-center/ir-announce">전자공고</a>
						</li>
					</ul>
				</div>
			</li>
			<li>
				<a href="/kr/contact-us">Contact Us</a>
			</li>
		</ul>
	</div>
	<button class="close">
		<span class="txthidden">전체메뉴 닫기</span>
	</button>
</th:block>

<th:block th:fragment="language-change">
	<div class="header-language">
		<button>한국어</button>
		<div id="Language" class="Language">
			<a href="#" data-lang="ko" data-sub-dir="kr" class="on">한국어</a>
			<a href="#" data-lang="en" data-sub-dir="en">English</a>
		</div>
	</div>
</th:block>

<th:block th:fragment="right-icons">
	<button class="btn_show_search submit">검색</button>
	<div class="header-menu" title="전체메뉴">
		<button>
			<span>전체메뉴</span>
		</button>
	</div>
</th:block>

<th:block th:fragment="text-logo">
	<div class="header-txt">
		<a href="/kr">두산로지스틱스솔루션</a>
	</div>
</th:block>

<th:block th:fragment="search">
	<div class="header-search">
		<form id="gnbSearchForm" action="/kr/search" method="get">
			<div id="Search" class="Search">
				<label for="lb-headerSearch0">검색</label>
				<input type="text" id="lb-headerSearch0" name="query" class="g_search" placeholder="검색어를 입력하세요.">
				<button type="button" class="btn_top_search submit" data-test="test">
					<span class="txthidden">검색</span>
				</button>
			</div>
		</form>
		<button class="close">
			<span class="txthidden">검색창 닫기</span>
		</button>
	</div>
</th:block>

</body>

</html>
