<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,
    minimum-scale=0, maximum-scale=10, user-scalable=yes">

    <link rel="stylesheet" href="/common/css/base.css">
    <link rel="stylesheet" href="/common/css/jquery-ui.css">
    <link rel="stylesheet" href="/common/css/jquery-ui-slider-pips.css">
    <link rel="stylesheet" href="/common/css/nice-select.css">
    <link rel="stylesheet" href="/common/css/common.css">
    <link rel="stylesheet" href="/common/css/sub.css">

    <script src="/common/js/jquery-3.6.0.min.js"></script>
    <script src="/common/js/jquery-ui.js"></script>
    <script src="/common/js/jquery-ui-slider-pips.js"></script>
    <script src="/common/js/jquery.nice-select.js"></script>
    <script src="/common/js/gsap-3.6.0.min.js"></script>
    <script src="/common/js/ScrollToPlugin-3.4.2.min.js"></script>
    <script src="/common/js/ScrollTrigger-3.4.2.min.js"></script>

    <title>두산헤리티지1896</title>

</head>

<body class="sub"> <!-- 서브페이지 body에 '.sub' 클래스 추가 -->

    <!----- HEADER  ----->
    <th:block th:replace="layout/kr/part/header :: header"></th:block>

    <!----- CONTENT  ----->
    <div layout:fragment="content"></div>

    <!----- FOOTER  ----->
    <th:block th:replace="layout/kr/part/footer :: footer"></th:block>

<script>

    <!-- 어두운 페이지에서는 'st-black', 밝은 페이지에서는 'st-white' -->
    /* ===== header 흰 색상 추가 ===== */
    $("header").addClass("st-white");

    /* ===== footer 흰 색상 추가 ===== */
    $("footer").addClass("st-white");
</script>

</body>

</html>
