<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<title>Footer</title>
</head>

<body>

<th:block th:fragment="footer">
	<th:block th:replace="page-layout/en/part/footer :: go-to-top"></th:block>

	<div id="Footer">
		<div class="footer-inner">
			<div class="footer-contents">
				<th:block th:replace="page-layout/en/part/footer :: logo"></th:block>
				<th:block th:replace="page-layout/en/part/footer :: gnb-menu"></th:block>
				<th:block th:replace="page-layout/en/part/footer :: footer-only-menu"></th:block>
			</div>
		</div>
	</div>
</th:block>

<th:block th:fragment="go-to-top">
	<div class="gototop">
		<a href="#" class="ico-top" title="Go to top">Go to top</a>
	</div>
</th:block>

<th:block th:fragment="logo">
	<h1 class="logo">
		<a href="/en">Doosan Logistics</a>
	</h1>
</th:block>

<th:block th:fragment="gnb-menu">
	<div class="footer-sitemap">
		<ul class="dep01">
			<li>
				<strong>
					<a href="/en/intro/intro-01">Company</a>
				</strong>
				<ul class="dep02">
					<li class="m01">
						<a href="/en/intro/intro-01">CEO Message</a>
					</li>
					<li class="m02">
						<a href="/en/intro/intro-02">History</a>
					</li>
					<li class="m03">
						<a href="/en/intro/intro-03">About DLS</a>
					</li>
					<li class="m04">
						<a href="/en/intro/intro-04">Partners</a>
					</li>
					<li class="m05">
						<a href="/en/intro/intro-05">CI</a>
					</li>
				</ul>
			</li>
			<li>
				<strong>
					<a href="/en/solutions/solutions-01">Solutions</a>
				</strong>
				<ul class="dep02">
					<li class="m01">
						<a href="/en/solutions/solutions-01">Overview</a>
					</li>
					<li class="m02">
						<a href="/en/solutions/solutions-02">Consulting &amp; Engineering</a>
					</li>
					<li class="m03">
						<a href="/en/solutions/solutions-03">Material Handling Systems</a>
					</li>
					<li class="m04">
						<a href="/en/solutions/solutions-04">Logistics IT</a>
					</li>
					<li class="m05">
						<a href="/en/solutions/solutions-05">Technical Support</a>
					</li>
				</ul>
			</li>
			<li>
				<strong>
					<a href="/en/reference/reference">References</a>
				</strong>
				<ul class="dep02">
					<li class="m01">
						<a href="/en/reference/reference">References</a>
					</li>
				</ul>
			</li>
			<li>
				<strong>
					<a href="/en/support/support-01">Technical Support</a>
				</strong>
				<ul class="dep02">
					<li class="m01">
						<a href="/en/support/support-01">Our Services</a>
					</li>
					<li class="m01">
						<a href="/en/support/support-02">Organization</a>
					</li>
					<li class="m01">
						<a href="/en/support/support-03">Contact Info</a>
					</li>
				</ul>
			</li>
			<li>
				<strong>
					<a href="/en/media-center/news">Media Center</a>
				</strong>
				<ul class="dep02">
					<li class="m01">
						<a href="/en/media-center/news">News</a>
					</li>
					<li class="m02">
						<a href="/en/media-center/event">Event</a>
					</li>
				</ul>
			</li>
			<li>
				<strong>
					<a href="/en/contact-us">Contact Us</a>
				</strong>
				<ul class="dep02">
					<li class="m01">
						<a href="/en/contact-us">Contact Us</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</th:block>

<th:block th:fragment="footer-only-menu">
	<div class="footer-text">
		<div class="footer-util">
			<a href="/en/ehs">EHS Policy</a>
			<a href="/en/legal">Legal Notice</a>
			<a href="/en/terms">Terms of Use</a>
			<a class="privacy" href="/en/privacy">Privacy Policy</a>
			<a href="https://www.doosan.com/en/csr/csr-code/?menu=code-of-conduct" target="_blank">
				Code of Conduct<span class="new-window">new<em>window</em></span>
			</a>
		</div>
		<th:block th:replace="page-layout/en/part/footer :: copyright"></th:block>
	</div>
</th:block>

<th:block th:fragment="copyright">
	<div class="footer-copy" th:with="curYear=${#dates.year(#dates.createNow())}">
		<p th:utext="'&copy; ' + ${curYear} + ' Doosan Logistics Solutions Co.,Ltd'"></p>
	</div>
</th:block>

</body>

</html>
