<!doctype html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Basic Layout</title>
</head>

<body>
	<table style="font-weight:400; font-family:Malgun Gothic,sans-serif; table-layout:fixed;" cellspacing="0" cellpadding="0" width="100%">

		<th:block th:replace="mail-layout/en/part/header :: logo"></th:block>
		<th:block th:replace="mail-layout/en/part/header :: head-message-area"></th:block>

		<th:block layout:fragment="content"></th:block>

		<th:block layout:fragment="footer-message"></th:block>

		<th:block layout:fragment="button-area"></th:block>

	</table>
</body>
</html>
