@charset "utf-8";
@import url(font/font.css);

/* 초기화 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,input,select,textarea,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {	
	padding:0;
	margin:0;
}
html { width: 100%; margin: 0; padding: 0; font-size: 62.5%; -webkit-text-size-adjust: none; -moz-text-size-adjust: none; -ms-text-size-adjust: none; -o-text-size-adjust: none; text-size-adjust: none;}
body { min-width: 280px; width: 100%; height: auto; font-family: 'Noto Sans KR', 'Malgun Gothic', dotum, sans-serif; color:#666; letter-spacing:-0.2px;}
html, h1, h2, h3, h4, h5, h6, form, fieldset { margin: 0; padding: 0; border: 0;}
h1, h2, h3, h4, h5, h6 { font-family:'Noto Sans KR', 'Malgun Gothic', dotum, sans-serif;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main { display: block;}
header ul, nav ul, footer ul { margin: 0; padding: 0; list-style: none;}
legend { overflow: hidden; position: absolute; font-size: 0; line-height: 0; text-indent: -9999em;}
label, input, button, select { vertical-align:middle;}
input, button { margin: 0; padding: 0; font-family: 'Noto Sans KR', 'Malgun Gothic', dotum, sans-serif;}
button,input[type=submit] { cursor: pointer;}
input[type=text], input[type=password], input[type=submit], input[type=image], button { -webkit-appearance: none; appearance: none;}
input[type="button"], input[type="submit"], input[type="reset"], input[type="file"], button { -webkit-appearance: none; cursor: pointer; padding: 0;}
textarea, select { font-family: 'Noto Sans KR', 'Malgun Gothic', dotum, sans-serif;}
textarea { border-radius: 0; -webkit-appearance: none; appearance: none;}
p { margin: 0; padding: 0; word-break: break-all;}
hr { display: none;}
pre { overflow-x: scroll; font-size: 1.1em;}
a:link, a:visited { text-decoration: none;}
ul,li,dl,dt,dd { padding: 0; margin: 0;}
ul { list-style: none;}

*, *:before, *:after {
    box-sizing: border-box;
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    letter-spacing:-0.5px;
}
*,:after,:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*::-moz-selection {
   background: #c9ab81;
   color: #fff;
}
*::selection {
   background: #c9ab81;
   color: #fff;
}
input[type=text],input[type=password], textarea {
    outline: none;
}

/* 기타 추가 설정 */
[data-scroll-container],
[data-scroll] {
  perspective: 1px;
  will-change: transform, opacity;
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
}
.btnset {
    display:inline-block;
    border:0;
    background:transparent;
    vertical-align: middle;
    -webkit-box-shadow:none;
    box-shadow:none;
    -webkit-appearance: none;
    appearance: none;
}
.hide {
    position: absolute;
    left:-9999%;
    font-size:0;
    line-height:0;
    text-indent:-9999px;
}
img {
    max-width:100%;
    border:0;
}
