.nice-select {
    display: block;
    float: left;
    position: relative;
    padding:0 5.4rem 0 2rem;
    width: 100%; 
    height: 6rem;
    outline: none;
    background-color: #fff;
    border: solid 1px #ddd;
    font-family: inherit;
    font-size: 1.6rem;
    line-height: 5.8rem;
    font-weight: normal;
    text-align: left !important;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    clear: both;
    cursor: pointer;
}
.nice-select:hover {
    border-color: #dbdbdb; 
}
.nice-select:active, 
.nice-select.open, 
.nice-select:focus {
    border-color: #262524 !important; 
}
.nice-select:after {
    content: "";
    display: block;
    position: absolute;
    right: 2rem;
    top: 50%;
    margin-top: -0.4rem;
    width: 1.4rem; 
    height: 0.8rem;
    background:url('../../img/bu/bu-select-black.png') no-repeat center;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
    pointer-events: none;
}
.nice-select.open:after {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg); 
}
.nice-select.open .list {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.nice-select.disabled {
    border-color: #ededed;
    color: #999;
    pointer-events: none; 
}
.nice-select.disabled:after {
    border-color: #cccccc; 
}
.nice-select .current {
    color:#262524;
}
.nice-select .list {
    opacity: 0;
    visibility: hidden;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 1rem 0;
    margin-top:1px;
    pointer-events: none;
    position: absolute;
    top: 100%;
    left: -1px;
    right:0;
    width:calc(100% + 2px);
    max-height:170px;
    background-color: #fff;
    border:1px solid #262524;
    border-top:none;
    -webkit-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 9; 
}
.nice-select .list .option.disabled:first-child {
    display:none;
}
.nice-select .list:hover .option:not(:hover) {
    background-color: transparent !important; 
}
.nice-select .option {
    cursor: pointer;
    font-weight: 500;
    line-height: 5rem;
    list-style: none;
    min-height: 5rem;
    padding:0 2rem;
    outline: none;
    color:#262524;
    text-align: left;
    -webkit-transition: all 0.2s;
    transition: all 0.2s; 
}
.nice-select .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus {
    background-color: #f6f6f6; 
}
.nice-select .option.disabled {
    background-color: transparent;
    color: #999;
    cursor: default; 
}
.no-csspointerevents .nice-select .list {
    display: none; 
}
.no-csspointerevents .nice-select.open .list {
    display: block; 
}
