<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{page-layout/kr/basic}">

<!--/* Set enUrl='' if no alternative English page */-->
<head th:with="
	title='WCS',
	url='/kr/solutions/solutions-0402',
	enUrl='/en/solutions/solutions-0402',
	description='두산로지스틱스솔루션의 WCS는 물류 자동화 시스템을 통합 제어하고 그 결과를 다시 WMS에 공유함으로써 보관 위치 별 재고관리 및 서열출고를 가능하게 합니다. 또한 실시간 모니터링을 지원하여 물류 자동화 시스템의 운영 상태를 파악하고 장애시 빠르게 대처할 수 있도록 지원합니다.',
	keyword='물류 IT, 창고 관리 시스템, 물류 소프트웨어, 물류 재고 운영, 서열 출고, 재고 관리, WCS, Logistics IT, Logistics sw, Warehouse management system, Warehouse control system, sorter management system'
">
	<title th:text="${title} + ' : ' + #{common.company-name}"></title>

	<th:block
			th:replace="page-layout/kr/part/head :: common-meta(url=${url}, title=${title}, description=${description}, keyword=${keyword})"></th:block>
	<th:block th:replace="page-layout/kr/part/head :: alternative-url(url=${url}, enUrl=${enUrl})"></th:block>

	<link rel="stylesheet" href="/css/sub_style.css">
</head>
<body>

<th:block layout:fragment="breadcrumb">
	<!--/* Display breadcrumb, choose from depth1 to depth3. Leave blank if not needed */-->
	<th:block th:replace="page-layout/kr/part/visual :: depth2Breadcrumb(
		depth1name='솔루션',
		depth1url='/kr/solutions/solutions-01',
		depth2name='물류 IT',
		depth2url='/kr/solutions/solutions-04'
	)"></th:block>
</th:block>

<!--/* Display sub GNB used on mobile view. Change the sub GNB type or delete whole block if not needed */-->
<th:block layout:fragment="sub-gnb-list">
	<th:block th:replace="page-layout/kr/part/sub-gnb :: solutions"></th:block>
</th:block>

<th:block layout:fragment="content">

	<th:block th:replace="page-layout/kr/part/visual :: visual(
		title='물류 IT',
		className='sub-solutions0402'
	)"></th:block>

	<!--/* Display sub gnb used on mobile view. Delete this block if not needed */-->
	<th:block th:replace="page-layout/kr/part/sub-gnb :: sub-gnb"></th:block>

	<div class="sub-contents">
		<div class="sub-contents-inner">
			<div class="tab-area tab-type02 tripple page border-none-m">
				<a href="#tabList" class="current-tab-text">
					<span>Warehouse Control System</span>
				</a>
				<div class="tab-inner-wrap cb" id="tabList">
					<a href="/kr/solutions/solutions-04">
						<span>Warehouse Management System</span>
					</a>
					<a href="#" class="on">
						<span>Warehouse Control System</span>
					</a>
					<a href="/kr/solutions/solutions-0403">
						<span>Sorter Management System</span>
					</a>
				</div>
			</div>
			<div class="summary-area">
				<div class="summary-tit">
					<strong class="bar-type">Warehouse Control System</strong>
				</div>
				<div class="summary-txt">
					WCS는 물류 자동화 시스템을 통합 제어하고 그 결과를 다시 WMS에 공유함으로써
					보관 위치 별 재고관리 및 서열출고를 가능하게 합니다.<br>
					또한 실시간 모니터링을 지원하여 물류 자동화 시스템의 운영 상태를 파악하고
					장애시 빠르게 대처할 수 있도록 지원합니다.
				</div>
			</div>
			<div class="sequential">
				<div class="section">
					<div class="thumb">
						<img src="/images/solutions/img-solutions-it02.jpg" alt="Warehouse Control System">
					</div>
					<a href="/images/solutions/img-solutions-it02.jpg" class="btn btn-expand m-only2" title="확대">확대</a>
				</div>
			</div>
		</div>
	</div>

</th:block>

</body>
</html>
