<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{page-layout/kr/basic}">

<!--/* Set enUrl='' if no alternative English page */-->
<head th:with="
	title='컨설팅 &amp; 엔지니어링',
	url='/kr/solutions/solutions-02',
	enUrl='/en/solutions/solutions-02',
	description='두산로지스틱스솔루션의 컨설팅 &amp; 엔지니어링은 물류 운영 전략의 수립 부터 물류 센터 구축을 위한 이행 계획 수립까지 총 4개의 프로세스로 진행됩니다.',
	keyword='컨설팅 &amp; 엔지니어링, 전략수립, 개념설계, 기본설계, 건축 이행계획 수립, 물류자동화,  Warehouse Consulting, Warehouse Design, Warehouse basic design, Warehouse automation, Consulting &amp; Engineering'
">
	<title th:text="${title} + ' : ' + #{common.company-name}"></title>

	<th:block
			th:replace="page-layout/kr/part/head :: common-meta(url=${url}, title=${title}, description=${description}, keyword=${keyword})"></th:block>
	<th:block th:replace="page-layout/kr/part/head :: alternative-url(url=${url}, enUrl=${enUrl})"></th:block>

	<link rel="stylesheet" href="/css/sub_style.css">
</head>
<body>

<th:block layout:fragment="breadcrumb">
	<!--/* Display breadcrumb, choose from depth1 to depth3. Leave blank if not needed */-->
	<th:block th:replace="page-layout/kr/part/visual :: depth2Breadcrumb(
		depth1name='솔루션',
		depth1url='/kr/solutions/solutions-01',
		depth2name='컨설팅 &amp; 엔지니어링',
		depth2url='/kr/solutions/solutions-02'
	)"></th:block>
</th:block>

<!--/* Display sub GNB used on mobile view. Change the sub GNB type or delete whole block if not needed */-->
<th:block layout:fragment="sub-gnb-list">
	<th:block th:replace="page-layout/kr/part/sub-gnb :: solutions"></th:block>
</th:block>

<th:block layout:fragment="content">

	<th:block th:replace="page-layout/kr/part/visual :: visual(
		title='컨설팅 &amp; 엔지니어링',
		className='sub-solutions02'
	)"></th:block>

	<!--/* Display sub gnb used on mobile view. Delete this block if not needed */-->
	<th:block th:replace="page-layout/kr/part/sub-gnb :: sub-gnb"></th:block>

	<div class="sub-contents">
		<div class="sub-contents-inner">
			<ul class="explain-area ico-type thumb-type explain-consulting">
				<li>
					<div class="txt-area">
						<h3 class="bar-type">물류운영 전략수립</h3>
						<div class="txt">
							<ul class="dot-list">
								<li>센터 기능 정의</li>
								<li>재고 전개 방안 수립</li>
								<li>기본 설계 조건 수립</li>
								<li>Best practice 벤치 마킹</li>
							</ul>
						</div>
					</div>
					<div class="thumb">
						<img src="/images/solutions/img-consulting01.jpg" alt="" class="w-only2">
						<img src="/images/solutions/img-consulting01-m.jpg" alt="" class="m-only2">
					</div>
				</li>
				<li>
					<div class="txt-area">
						<h3 class="bar-type">물류센터 개념설계</h3>
						<div class="txt">
							<ul class="dot-list">
								<li>프로세스 설계</li>
								<li>설계 모듈 정의</li>
								<li>모듈 별 Capacity, 면적 산정</li>
								<li>모듈 별 연관 관계, 전체 설계 Layout 도출</li>
							</ul>
						</div>
					</div>
					<div class="thumb">
						<img src="/images/solutions/img-consulting02.jpg" alt="" class="w-only2">
						<img src="/images/solutions/img-consulting02-m.jpg" alt="" class="m-only2">
					</div>
				</li>
				<li>
					<div class="txt-area">
						<h3 class="bar-type">물류센터 기본설계</h3>
						<div class="txt">
							<ul class="dot-list">
								<li>동선에 따른 Layout 도출</li>
								<li>설비 / 장비 Spec 도출</li>
								<li>운영 프로세스 설계</li>
								<li>IT 시스템 요구기능 사항 정의</li>
							</ul>
						</div>
					</div>
					<div class="thumb">
						<img src="/images/solutions/img-consulting03.jpg" alt="" class="w-only2">
						<img src="/images/solutions/img-consulting03-m.jpg" alt="" class="m-only2">
					</div>
				</li>
				<li>
					<div class="txt-area">
						<h3 class="bar-type">센터 건축 이행계획 수립</h3>
						<div class="txt">
							<ul class="dot-list">
								<li>투자비 산출 / ROI 도출</li>
								<li>Master Schedule 수립</li>
							</ul>
						</div>
					</div>
					<div class="thumb">
						<img src="/images/solutions/img-consulting04.jpg" alt="" class="w-only2">
						<img src="/images/solutions/img-consulting04-m.jpg" alt="" class="m-only2">
					</div>
				</li>
			</ul>
		</div>
	</div>

</th:block>

</body>
</html>
