<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{page-layout/kr/basic}">

<!--/* Set enUrl='' if no alternative English page */-->
<head th:with="
	title='보관 시스템',
	url='/kr/solutions/solutions-0403',
	enUrl='/en/solutions/solutions-0403',
	description='두산로지스틱스솔루션의 SMS는 IPS 또는 스캐너로부터 바코드 정보를 수신하여 목적지를 결정하고 소터로 분류지시를 하며 분류 결과를 수신하여 그 결과에 따른 실적 처리를 지원합니다.',
	keyword='물류 IT, 창고 관리 시스템, 물류 소프트웨어, 소터 통합 제어, 소터 시스템, Logistics IT, Warehouse management system, Sorter system'
">
	<title th:text="${title} + ' : ' + #{common.company-name}"></title>

	<th:block
			th:replace="page-layout/kr/part/head :: common-meta(url=${url}, title=${title}, description=${description}, keyword=${keyword})"></th:block>
	<th:block th:replace="page-layout/kr/part/head :: alternative-url(url=${url}, enUrl=${enUrl})"></th:block>

	<link rel="stylesheet" href="/css/sub_style.css">
</head>
<body>

<th:block layout:fragment="breadcrumb">
	<!--/* Display breadcrumb, choose from depth1 to depth3. Leave blank if not needed */-->
	<th:block th:replace="page-layout/kr/part/visual :: depth2Breadcrumb(
		depth1name='솔루션',
		depth1url='/kr/solutions/solutions-01',
		depth2name='물류 IT',
		depth2url='/kr/solutions/solutions-04'
	)"></th:block>
</th:block>

<!--/* Display sub GNB used on mobile view. Change the sub GNB type or delete whole block if not needed */-->
<th:block layout:fragment="sub-gnb-list">
	<th:block th:replace="page-layout/kr/part/sub-gnb :: solutions"></th:block>
</th:block>

<th:block layout:fragment="content">

	<th:block th:replace="page-layout/kr/part/visual :: visual(
		title='물류 IT',
		className='sub-solutions0403'
	)"></th:block>

	<!--/* Display sub gnb used on mobile view. Delete this block if not needed */-->
	<th:block th:replace="page-layout/kr/part/sub-gnb :: sub-gnb"></th:block>

	<div class="sub-contents">
		<div class="sub-contents-inner">
			<div class="tab-area tab-type02 tripple page border-none-m">
				<a href="#tabList" class="current-tab-text">
					<span>Sorter Management System</span>
				</a>
				<div class="tab-inner-wrap cb" id="tabList">
					<a href="/kr/solutions/solutions-04">
						<span>Warehouse Management System</span>
					</a>
					<a href="/kr/solutions/solutions-0402">
						<span>Warehouse Control System</span>
					</a>
					<a href="#" class="on">
						<span>Sorter Management System</span>
					</a>
				</div>
			</div>
			<div class="summary-area">
				<div class="summary-tit">
					<strong class="bar-type">Sorter Management System</strong>
				</div>
				<div class="summary-txt">
					SMS는 IPS 또는 스캐너로부터 바코드 정보를 수신하여 목적지를 결정하고 소터로 분류지시를 하며
					분류 결과를 수신하여 그 결과에 따른 실적 처리를 하는 시스템 입니다.<br>
					소터 Induction과 Chute에 부가된 장비(Weight Checker, Label Printer, Push button switch)들이 있을 경우
					통합제어도 가능합니다.
				</div>
			</div>
			<div class="sequential">
				<div class="section">
					<div class="thumb">
						<img src="/images/solutions/img-solutions-it03.jpg" alt="Sorter Management System">
					</div>
					<a href="/images/solutions/img-solutions-it03.jpg" class="btn btn-expand m-only2" title="확대">확대</a>
				</div>
			</div>
		</div>
	</div>

</th:block>

</body>
</html>
