<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{page-layout/kr/basic}">

<!--/* Set enUrl='' if no alternative English page */-->
<head th:with="
	title='WMS',
	url='/kr/solutions/solutions-04',
	enUrl='/en/solutions/solutions-04',
	description='두산로지스틱스솔루션의 WMS는 SCM의 핵심 요소로, 주문관리시스템 (OMS) 및 수배송관리시스템(TMS)과의 연계를 통해 창고 내의 재고 흐름을 정밀하게 추적 및 통제하여, 최적의 재고 운영을 지원합니다.',
	keyword='물류 IT, 창고 관리 시스템, 물류 소프트웨어, 물류 재고 운영, WMS, Logistics IT, Logistics sw, Warehouse management system, Warehouse control system, sorter management system'
">
	<title th:text="${title} + ' : ' + #{common.company-name}"></title>

	<th:block
			th:replace="page-layout/kr/part/head :: common-meta(url=${url}, title=${title}, description=${description}, keyword=${keyword})"></th:block>
	<th:block th:replace="page-layout/kr/part/head :: alternative-url(url=${url}, enUrl=${enUrl})"></th:block>

	<link rel="stylesheet" href="/css/sub_style.css">
</head>
<body>

<th:block layout:fragment="breadcrumb">
	<!--/* Display breadcrumb, choose from depth1 to depth3. Leave blank if not needed */-->
	<th:block th:replace="page-layout/kr/part/visual :: depth2Breadcrumb(
		depth1name='솔루션',
		depth1url='/kr/solutions/solutions-01',
		depth2name='물류 IT',
		depth2url='/kr/solutions/solutions-04'
	)"></th:block>
</th:block>

<!--/* Display sub GNB used on mobile view. Change the sub GNB type or delete whole block if not needed */-->
<th:block layout:fragment="sub-gnb-list">
	<th:block th:replace="page-layout/kr/part/sub-gnb :: solutions"></th:block>
</th:block>

<th:block layout:fragment="content">

	<th:block th:replace="page-layout/kr/part/visual :: visual(
		title='물류 IT',
		className='sub-solutions04'
	)"></th:block>

	<!--/* Display sub gnb used on mobile view. Delete this block if not needed */-->
	<th:block th:replace="page-layout/kr/part/sub-gnb :: sub-gnb"></th:block>

	<div class="sub-contents">
		<div class="sub-contents-inner">
			<div class="tab-area tab-type02 tripple page border-none-m">
				<a href="#tabList" class="current-tab-text">
					<span>Warehouse Management System</span>
				</a>
				<div class="tab-inner-wrap cb" id="tabList">
					<a href="#" class="on">
						<span>Warehouse Management System</span>
					</a>
					<a href="/kr/solutions/solutions-0402">
						<span>Warehouse Control System</span>
					</a>
					<a href="/kr/solutions/solutions-0403">
						<span>Sorter Management System</span>
					</a>
				</div>
			</div>
			<div class="summary-area">
				<div class="summary-tit">
					<strong class="bar-type">Warehouse Management System</strong>
				</div>
				<div class="summary-txt">
					WMS는 SCM(Supply Chain Management : 공급망 관리)의 핵심 요소로, 주문관리시스템 (OMS) 및
					수배송관리시스템(TMS)과의 연계를 통해 창고 내의 재고 흐름을<br class="w-only2">
					정밀하게 추적 및 통제하여, 최적의 재고 운영을 가능하게 하는 물류 솔루션입니다.
				</div>
			</div>
			<div class="sequential">
				<div class="section">
					<div class="thumb">
						<img src="/images/solutions/img-solutions-it01.jpg" alt="Warehouse Management System">
					</div>
					<a href="/images/solutions/img-solutions-it01.jpg" class="btn btn-expand m-only2" title="확대">확대</a>
				</div>
			</div>
		</div>
	</div>

</th:block>

</body>
</html>
