<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{page-layout/kr/basic}">

<!--/* Set enUrl='' if no alternative English page */-->
<head th:with="
	title='피킹 시스템',
	url='/kr/solutions/solutions-0303',
	enUrl='/en/solutions/solutions-0303',
	description='두산로지스틱스솔루션은 세계적인 물류 자동화 시스템 업체들과의 파트너십을 통해 Pick-It-Easy robot, GTP (Good To Person), ODS (Order Distribution System) 등 첨단 피킹 시스템을 제공합니다.',
	keyword='피킹 시스템, 물류 자동화 시스템, 물류 자동화, 물류 창고, 피킹 시스템, Picking System, Warehouse automation, Material Handling Equipment, Material handling system, KNAPP, Pick it easy robot, GTP, Good to person, ODS, order distribution system, Picking System'
">
	<title th:text="${title} + ' : ' + #{common.company-name}"></title>

	<th:block
			th:replace="page-layout/kr/part/head :: common-meta(url=${url}, title=${title}, description=${description}, keyword=${keyword})"></th:block>
	<th:block th:replace="page-layout/kr/part/head :: alternative-url(url=${url}, enUrl=${enUrl})"></th:block>

	<link rel="stylesheet" href="/css/sub_style.css">
</head>
<body>

<th:block layout:fragment="breadcrumb">
	<!--/* Display breadcrumb, choose from depth1 to depth3. Leave blank if not needed */-->
	<th:block th:replace="page-layout/kr/part/visual :: depth3Breadcrumb(
		depth1name='솔루션',
		depth1url='/kr/solutions/solutions-01',
		depth2name='물류 자동화 시스템',
		depth2url='/kr/solutions/solutions-03',
		depth3name='피킹 시스템',
		depth3url='/kr/solutions/solutions-0303',
	)"></th:block>
</th:block>

<!--/* Display sub GNB used on mobile view. Change the sub GNB type or delete whole block if not needed */-->
<th:block layout:fragment="sub-gnb-list">
	<th:block th:replace="page-layout/kr/part/sub-gnb :: solutions"></th:block>
</th:block>

<th:block layout:fragment="content">

	<th:block th:replace="page-layout/kr/part/visual :: visual(
		title='물류 자동화 시스템',
		className='sub-solutions0303'
	)"></th:block>

	<!--/* Display sub gnb used on mobile view. Delete this block if not needed */-->
	<th:block th:replace="page-layout/kr/part/sub-gnb :: sub-gnb"></th:block>

	<div class="sub-contents">
		<div class="sub-contents-inner">
			<div class="tab-area tab-type02 quad page">
				<a href="#tabList" class="current-tab-text">보관 시스템</a>
				<div class="tab-inner-wrap cb" id="tabList">
					<a href="/kr/solutions/solutions-0301">
						<span>보관 시스템</span>
					</a>
					<a href="/kr/solutions/solutions-0302">
						<span>분류 시스템</span>
					</a>
					<a href="/kr/solutions/solutions-0303" class="on">
						<span>피킹 시스템</span>
					</a>
					<a href="/kr/solutions/solutions-0304">
						<span>이송 시스템</span>
					</a>
				</div>
			</div>
			<div class="summary-area">
				<div class="summary-tit">
					<strong class="bar-type">피킹 시스템</strong>
				</div>
			</div>
			<div class="sequential">
				<div class="section">
					<div class="thumb w-only2">
						<img src="/images/solutions/img-solutions-portfolio-picking.jpg" alt="물류 자동화 기술 포트폴리오"
							 usemap="#portfolio-map">
						<map name="portfolio-map">
							<area shape="circle" coords="396,557,13" href="/kr/solutions/solutions-0301" alt="보관 시스템"
								  title="보관 시스템">
							<area shape="circle" coords="871,612,13" href="/kr/solutions/solutions-0302" alt="분류 시스템"
								  title="분류 시스템">
							<area shape="circle" coords="735,612,13" href="/kr/solutions/solutions-0304" alt="이송 시스템"
								  title="이송 시스템">
						</map>
					</div>
					<div class="thumb m-only2">
						<img src="/images/solutions/img-solutions-portfolio-picking-m.jpg" alt="물류 자동화 기술 포트폴리오">
					</div>
					<a href="/images/solutions/img-solutions-portfolio-picking-btnless.jpg"
					   class="btn btn-expand m-only2" title="확대">확대</a>
				</div>
				<div class="section">
					<ul class="explain-area thumb-type">
						<li>
							<div class="thumb">
								<img src="/images/solutions/img-picking01.jpg" alt="">
							</div>
							<div class="txt-area">
								<h3 class="bar-type">Pick-It-Easy Robot</h3>
								<div class="txt">
									<ul class="dot-list">
										<li>유연성과 신뢰성 및 성능이 결합된 완전 전자동 피킹 솔루션</li>
										<li>다양한 주문 처리 및 유통 물류 센터 특화 설계 (의료 및 화장품 부문에 이상적임)</li>
										<li>유연한 그리퍼가 장착된 다관절 Arm robot으로 광범위한 품목 처리 가능</li>
									</ul>
								</div>
								<dl>
									<dt>전략파트너사</dt>
									<dd>
										<img src="/images/solutions/logo-partner01.jpg" alt="KNAPP AG">
									</dd>
								</dl>
							</div>
						</li>
						<li>
							<div class="thumb">
								<img src="/images/solutions/img-picking02.jpg" alt="">
							</div>
							<div class="txt-area">
								<h3 class="bar-type">Goods-To-Person “Pick-It-Easy” Workstation</h3>
								<div class="txt">
									<ul class="dot-list">
										<li>낱개 품목이 작업자 앞으로 이동하여 작업 생산성 및 성력화 구현</li>
										<li>피킹 오류를 방지하는 다양한 Option을 제공</li>
										<li>인체공학적 디자인으로 장시간 작업 시 피로도 최소화</li>
									</ul>
								</div>
								<dl>
									<dt>전략파트너사</dt>
									<dd>
										<img src="/images/solutions/logo-partner01.jpg" alt="KNAPP AG">
									</dd>
								</dl>
							</div>
						</li>
						<li>
							<div class="thumb">
								<img src="/images/solutions/img-agv02.jpg" alt="">
							</div>
							<div class="txt-area">
								<h3 class="bar-type">Autonomous Mobile Robot</h3>
								<div class="txt">
									<ul class="dot-list">
										<li>
											충돌방지 및 탐색 기술, 3D 센서 기반 맵핑 및 동적 라우팅 기술 접목되어
											자율 주행 및 최적화 운행 기능을 가진 Mobile robot
										</li>
										<li>Mobile robot이 주문처리가 필요한 상품을 작업자 앞으로 이동시켜 피킹 효율, 속도를 획기적으로 증대</li>
										<li>자체 Software를 통해 동시 운행하는 AMR 군집 동작을 관제</li>
									</ul>
								</div>
								<dl>
									<dt>전략파트너사</dt>
									<dd>
										<img src="/images/solutions/logo-partner07.jpg" alt="GEEK+ Inc.">
									</dd>
								</dl>
							</div>
						</li>
						<li>
							<div class="thumb">
								<img src="/images/solutions/img-picking03.jpg" alt="">
							</div>
							<div class="txt-area">
								<h3 class="bar-type">Order Distribution System</h3>
								<div class="txt">
									<ul class="dot-list">
										<li>B2B 작업에 적합한 저비용, 고효율 지원하는 Goods-To-Person 피킹 시스템</li>
										<li>작업자의 피로도, 생산성을 고려한 인간공학적 작업대 설계</li>
									</ul>
								</div>
								<dl>
									<dt>두산로지스틱스솔루션</dt>
									<dd>
										<img src="/images/solutions/logo-partner06.jpg" alt="Doosan">
									</dd>
								</dl>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

</th:block>

</body>
</html>
