<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{page-layout/kr/basic}">

<!--/* Set enUrl='' if no alternative English page */-->
<head th:with="
	title='이송 시스템',
	url='/kr/solutions/solutions-0304',
	enUrl='/en/solutions/solutions-0304',
	description='두산로지스틱스솔루션은 세계적인 물류 자동화 시스템 업체들과의 파트너십을 통해 AGF (Autonomous Guided Forklift), AMR (Autonomous Mobile Robot), Open shuttle 등 첨단 이송 시스템을 제공합니다.',
	keyword='이송 시스템, 물류 자동화 시스템, 물류 자동화, 무인지게차, 자율이동로봇, 두산 산업차량, 두산지게차, Transportation System, Warehouse automation, Material Handling Equipment, Material handling system, Geek plus, KNAPP, Doosan industrial vehicle, AMR, Autonomous Mobile Robot, AMR, Open Shuttle, Autonomous Guided Forklift'
">
	<title th:text="${title} + ' : ' + #{common.company-name}"></title>

	<th:block
			th:replace="page-layout/kr/part/head :: common-meta(url=${url}, title=${title}, description=${description}, keyword=${keyword})"></th:block>
	<th:block th:replace="page-layout/kr/part/head :: alternative-url(url=${url}, enUrl=${enUrl})"></th:block>

	<link rel="stylesheet" href="/css/sub_style.css">
</head>
<body>

<th:block layout:fragment="breadcrumb">
	<!--/* Display breadcrumb, choose from depth1 to depth3. Leave blank if not needed */-->
	<th:block th:replace="page-layout/kr/part/visual :: depth3Breadcrumb(
		depth1name='솔루션',
		depth1url='/kr/solutions/solutions-01',
		depth2name='물류 자동화 시스템',
		depth2url='/kr/solutions/solutions-03',
		depth3name='이송 시스템',
		depth3url='/kr/solutions/solutions-0304',
	)"></th:block>
</th:block>

<!--/* Display sub GNB used on mobile view. Change the sub GNB type or delete whole block if not needed */-->
<th:block layout:fragment="sub-gnb-list">
	<th:block th:replace="page-layout/kr/part/sub-gnb :: solutions"></th:block>
</th:block>

<th:block layout:fragment="content">

	<th:block th:replace="page-layout/kr/part/visual :: visual(
		title='물류 자동화 시스템',
		className='sub-solutions0304'
	)"></th:block>

	<!--/* Display sub gnb used on mobile view. Delete this block if not needed */-->
	<th:block th:replace="page-layout/kr/part/sub-gnb :: sub-gnb"></th:block>

	<div class="sub-contents">
		<div class="sub-contents-inner">
			<div class="tab-area tab-type02 quad page">
				<a href="#tabList" class="current-tab-text">보관 시스템</a>
				<div class="tab-inner-wrap cb" id="tabList">
					<a href="/kr/solutions/solutions-0301">
						<span>보관 시스템</span>
					</a>
					<a href="/kr/solutions/solutions-0302">
						<span>분류 시스템</span>
					</a>
					<a href="/kr/solutions/solutions-0303">
						<span>피킹 시스템</span>
					</a>
					<a href="/kr/solutions/solutions-0304" class="on">
						<span>이송 시스템</span>
					</a>
				</div>
			</div>
			<div class="summary-area">
				<div class="summary-tit">
					<strong class="bar-type">이송 시스템</strong>
				</div>
			</div>
			<div class="sequential">
				<div class="section">
					<div class="thumb w-only2">
						<img src="/images/solutions/img-solutions-portfolio-agv.jpg" alt="물류 자동화 기술 포트폴리오"
							 usemap="#portfolio-map">
						<map name="portfolio-map">
							<area shape="circle" coords="396,557,13" href="/kr/solutions/solutions-0301" alt="보관 시스템"
								  title="보관 시스템">
							<area shape="circle" coords="871,612,13" href="/kr/solutions/solutions-0302" alt="분류 시스템"
								  title="분류 시스템">
							<area shape="circle" coords="650,798,13" href="/kr/solutions/solutions-0303" alt="피킹 시스템"
								  title="피킹 시스템">
						</map>
					</div>
					<div class="thumb m-only2">
						<img src="/images/solutions/img-solutions-portfolio-agv-m.jpg" alt="물류 자동화 기술 포트폴리오">
					</div>
					<a href="/images/solutions/img-solutions-portfolio-agv-btnless.jpg" class="btn btn-expand m-only2"
					   title="확대">확대</a>
				</div>
				<div class="section">
					<ul class="explain-area thumb-type">
						<li>
							<div class="thumb">
								<img src="/images/solutions/img-agv01.jpg" alt="">
							</div>
							<div class="txt-area">
								<h3 class="bar-type">Autonomous Guided Forklift</h3>
								<div class="txt">
									<ul class="dot-list">
										<li>기존의 유입탑승형 지게차를 대체하는 자율 주행 지게차</li>
										<li>MAP 기반 위치 알고리즘을 통해 자율 주행, Quick charging 방식을 통해 운행시간 최대화</li>
									</ul>
								</div>
								<dl>
									<dt>전략파트너사</dt>
									<dd>
										<a href="http://www.doosan-iv.com/kr" class="fPointC01 underline-over"
										   target="_blank">
											<span>두산산업차량</span>
											<span class="new-window">새창<em>열기</em></span>
										</a>
									</dd>
								</dl>
							</div>
						</li>
						<li>
							<div class="thumb">
								<img src="/images/solutions/img-agv03.jpg" alt="">
							</div>
							<div class="txt-area">
								<h3 class="bar-type">Open Shuttle</h3>
								<div class="txt">
									<ul class="dot-list">
										<li>고성능 셔틀 시스템의 이점과 자율 모바일 로봇(AMR)의 민첩성을 결합</li>
										<li>셔틀 시스템과 기타 모든 작업장을 연결하여 상호 프로세스를 시스템으로 완벽하게 연결</li>
										<li>비교적 적은 비용으로 특수 프로세스 또는 제품의 통합 지원</li>
									</ul>
								</div>
								<dl>
									<dt>전략파트너사</dt>
									<dd>
										<img src="/images/solutions/logo-partner01.jpg" alt="KNAPP AG">
									</dd>
								</dl>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

</th:block>

</body>
</html>
