<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{page-layout/en/basic}">

<!--/* Set krUrl='' if no alternative Korean page */-->
<head th:with="
	title='Event',
	url='/en/media-center/event-detail',
	krUrl='',
	description='You can find the latest marketing activities such as exhibition and conference from Doosan Logistics Solutions.',
	keyword='두산로지스틱스솔루션 이벤트, 두산로지스틱스솔루션 행사, 두산로지스틱스솔루션 event, 두산로지스틱스솔루션 전시회, Doosan logistics solutions event, doosan logistics solutions exhibition'
">
	<title th:text="${title} + ' : ' + #{common.company-name}"></title>

	<th:block
			th:replace="page-layout/en/part/head :: common-meta(url=${url}, title=${title}, description=${description}, keyword=${keyword})"></th:block>
	<th:block th:replace="page-layout/en/part/head :: alternative-url(url=${url}, krUrl=${krUrl})"></th:block>

	<link rel="stylesheet" href="/css/sub_style.css">
	<link rel="stylesheet" href="/css/swiper.css">

	<script src="/js/library/swiper/swiper.min.js"></script>
</head>
<body>

<th:block layout:fragment="breadcrumb">
	<!--/* Display breadcrumb, choose from depth1 to depth3. Delete whole block if not needed */-->
	<th:block th:replace="page-layout/en/part/visual :: depth2Breadcrumb(
		depth1name='Media Center',
		depth1url='/en/media-center/news',
		depth2name='Event',
		depth2url='/en/media-center/event'
	)"></th:block>
</th:block>

<!--/* Display sub GNB used on mobile view. Change the sub GNB type or delete whole block if not needed */-->
<th:block layout:fragment="sub-gnb-list">
	<th:block th:replace="page-layout/en/part/sub-gnb :: media-center"></th:block>
</th:block>

<th:block layout:fragment="content">

	<th:block th:replace="page-layout/en/part/visual :: visual(
		title='Event',
		className='sub-media02'
	)"></th:block>

	<!--/* Display sub gnb used on mobile view. Delete this block if not needed */-->
	<th:block th:replace="page-layout/en/part/sub-gnb :: sub-gnb"></th:block>

	<!--/* Declare model and view variable relationships here */-->
	<!--/*@thymesVar id="event" type="com.doosan.heritage.model.Event"*/-->
	<!--/*@thymesVar id="previousEvent" type="com.doosan.heritage.model.Event"*/-->
	<!--/*@thymesVar id="nextEvent" type="com.doosan.heritage.model.Event"*/-->

	<div class="sub-contents">
		<div class="sub-contents-inner">
			<div class="table-wrap noscroll scrolled">
				<div class="board-view-box">
					<div class="title-box" th:with="currentTime = ${#dates.createNow()}">
						<em th:if="${event.eventStartDate > currentTime}" class="category">UPCOMING</em>
						<em th:if="${event.eventStartDate <= currentTime && event.eventStartDate >= currentTime}"
							class="category">ONGOING</em>
						<em th:if="${event.eventEndDate < currentTime}" class="category">PAST</em>
						<p th:text="${event.eventTitle}" class="tit"></p>
					</div>
					<div class="contents-box">
						<div class="contents">
							<div class="contents-area">
								<div class="contents-block">
									<div class="intro-performance-photo">
										<div class="swiper-container">
											<div class="swiper-wrapper">
												<div th:each="eventImage: ${event.eventImageList}" class="swiper-slide">
													<p>
														<img th:src="'/file/event-image/view/' + ${eventImage.eventImageId}"
															 alt="">
													</p>
												</div>
											</div>
										</div>
										<div class="swiper-util cb">
											<div class="swiper-pager">
												<span class="current">1</span>
												/
												<span class="total"></span>
											</div>
											<div class="swiper-pagination"></div>
											<div class="swiper-btns">
												<div class="swiper-button-prev"></div>
												<div class="swiper-button-next"></div>
											</div>
										</div>
									</div>
								</div>
								<div class="table-area">
									<div class="table-area-inner">
										<dl>
											<dt>Schedule</dt>
											<dd th:utext="${event.eventSchedule}"></dd>
										</dl>
										<dl>
											<dt>Location</dt>
											<dd th:utext="${event.eventLocation}"></dd>
										</dl>
									</div>
									<div class="table-area-inner">
										<dl>
											<dt>Topic</dt>
											<dd th:utext="${event.eventTopic}"></dd>
										</dl>
										<dl>
											<dt>Host</dt>
											<dd th:utext="${event.eventHost}"></dd>
										</dl>
									</div>
								</div>
								<p th:utext="${event.eventContent}"></p>
							</div>
						</div>
						<div th:if="${#lists.size(event.eventAttachmentList) > 0}" class="download">
							<ul>
								<li th:each="eventAttachment: ${event.eventAttachmentList}">
									<a th:href="'/file/event-attachment/download/' + ${eventAttachment.eventAttachmentId}"
									   class="ico-lnk" title="Download">
										<span th:utext="${eventAttachment.eventAttachmentOriginalName}"></span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<ul class="other-board">
					<li>
						<span class="prev">Prev</span>
						<p th:if="${previousEvent == null}">No previous articles</p>
						<p th:if="${previousEvent != null}">
							<a th:href="'/en/media-center/event/' + ${previousEvent.eventId}"
							   th:utext="${previousEvent.eventTitle}"></a>
						</p>
					</li>
					<li>
						<span class="next">Next</span>
						<p th:if="${nextEvent == null}">No next articles</p>
						<p th:if="${nextEvent != null}">
							<a th:href="'/en/media-center/event/' + ${nextEvent.eventId}"
							   th:utext="${nextEvent.eventTitle}"></a>
						</p>
					</li>
				</ul>
				<div class="btn-box">
					<a href="/en/media-center/event" class="btn btnL btn-black-r over">
						<span>List</span>
					</a>
				</div>
			</div>
		</div>
	</div>

	<!--/* todo make this script to run on document.ready */-->
	<script src="/js/page/media-center/event-detail.js"></script>

</th:block>

</body>
</html>
