<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{page-layout/en/basic}">

<!--/* Set krUrl='' if no alternative Korean page */-->
<head th:with="
	title='News',
	url='/en/media-center/news-detail',
	krUrl='',
	description='You can find the latest news from Doosan Logistics Solutions.',
	keyword='두산로지스틱스솔루션 최신소식, 두산로지스틱스솔루션 뉴스, 두산로지스틱스솔루션 news, Doosan logistics solutions news, doosan logistics solutions latest news'
">
	<title th:text="${title} + ' : ' + #{common.company-name}"></title>

	<th:block th:replace="page-layout/en/part/head :: common-meta(url=${url}, title=${title}, description=${description}, keyword=${keyword})"></th:block>
	<th:block th:replace="page-layout/en/part/head :: alternative-url(url=${url}, krUrl=${krUrl})"></th:block>

	<link rel="stylesheet" href="/css/sub_style.css">
</head>
<body>

<th:block layout:fragment="breadcrumb">
	<!--/* Display breadcrumb, choose from depth1 to depth3. Delete whole block if not needed */-->
	<th:block th:replace="page-layout/en/part/visual :: depth2Breadcrumb(
		depth1name='Media Center',
		depth1url='/en/media-center/news',
		depth2name='News',
		depth2url='/en/media-center/news'
	)"></th:block>
</th:block>

<!--/* Display sub GNB used on mobile view. Change the sub GNB type or delete whole block if not needed */-->
<th:block layout:fragment="sub-gnb-list">
	<th:block th:replace="page-layout/en/part/sub-gnb :: media-center"></th:block>
</th:block>

<th:block layout:fragment="content">

	<th:block th:replace="page-layout/en/part/visual :: visual(
		title='News',
		className='sub-media01'
	)"></th:block>

	<!--/* Display sub gnb used on mobile view. Delete this block if not needed */-->
	<th:block th:replace="page-layout/en/part/sub-gnb :: sub-gnb"></th:block>

	<div class="sub-contents">
		<div class="sub-contents-inner">
			<div class="table-wrap noscroll scrolled">
				<div class="board-view-box">
					<div class="title-box">
						<em class="category type2">News</em>
						<p class="tit" th:utext="${news.newsTitle}"></p>
						<span class="date" th:text="${#dates.format(news.newsPressDate, 'yyyy.MM.dd')}"></span>
					</div>
					<div class="contents-box">
						<div class="contents">
							<div class="contents-area" th:utext="${news.newsContent}"></div>
						</div>
					</div>
				</div>
				<ul class="other-board">
					<li>
						<span class="prev">Prev</span>
						<p th:if="${previousNews != null}">
							<a th:href="'/en/media-center/news/' + ${previousNews.newsId}"
							   th:utext="${previousNews.newsTitle}"></a>
						</p>
						<p th:if="${previousNews == null}">No previous articles</p>
					</li>
					<li>
						<span class="next">Next</span>
						<p th:if="${nextNews != null}">
							<a th:href="'/en/media-center/news/' + ${nextNews.newsId}"
							   th:utext="${nextNews.newsTitle}"></a>
						</p>
						<p th:if="${nextNews == null}">No next articles</p>
					</li>
				</ul>
				<div class="btn-box">
					<a href="/en/media-center/news" class="btn btnL btn-black-r over">
						<span>List</span>
					</a>
				</div>
			</div>
		</div>
	</div>

</th:block>

</body>
</html>
